sli/modeling/sdkgen/src/test/resources/test_wadl.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.slcedu.org/api/v1">
  <wadl:doc></wadl:doc>
  <wadl:doc title="SLI REST API Reference">
    This document provides a reference to the entities and
    associated methods within the SLI REST API. Scroll the
    list of entities on the left, and click a linked entity
    from that list to view its associated details on the right.
  </wadl:doc>
  <wadl:grammars>
    <wadl:include href="test_sli.xsd"></wadl:include>
  </wadl:grammars>
  <wadl:resources base="http://www.sli.slc.org/api/rest">
    <wadl:resource path="v1/assessments">
      <wadl:doc>Represents a tool, instrument, process, or exhibition
        composed of a systematic sampling of
        behavior for measuring a student's competence, knowledge, skills or
        behavior. An assessment can
        be used to measure differences in individuals or groups and changes in
        performance from one
        occasion to the next.

        For more information, see the schema for $$Assessment$$ resources.
      </wadl:doc>
      <wadl:param name="includeCustom" style="query" type="xs:string" default="false"></wadl:param>
      <wadl:method name="POST" id="postAssessments">
        <wadl:request>
          <wadl:representation mediaType="application/json" element="assessment"></wadl:representation>
          <wadl:representation mediaType="application/vnd.slc+json" element="assessment"></wadl:representation>
          <wadl:representation mediaType="application/xml" element="assessment"></wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"></wadl:representation>
          <wadl:representation mediaType="application/vnd.slc+json"></wadl:representation>
          <wadl:representation mediaType="application/xml"></wadl:representation>
          <wadl:representation mediaType="application/vnd.slc+xml"></wadl:representation>
        </wadl:response>
      </wadl:method>
      <wadl:method name="GET" id="getAssessments">
        <wadl:request>
          <wadl:param name="offset" style="query" type="xs:int" default="0"></wadl:param>
          <wadl:param name="limit" style="query" type="xs:int" default="50"></wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json" element="assessmentList"></wadl:representation>
          <wadl:representation mediaType="application/vnd.slc+json" element="assessmentList"></wadl:representation>
          <wadl:representation mediaType="application/xml" element="assessmentList"></wadl:representation>
          <wadl:representation mediaType="application/vnd.slc+xml" element="assessmentList"></wadl:representation>
        </wadl:response>
      </wadl:method>
      <wadl:resource path="{id}">
        <wadl:param name="id" style="template" type="xs:string"></wadl:param>
        <wadl:method name="DELETE" id="deleteAssessmentsById">
          <wadl:response>
            <wadl:representation mediaType="application/json"></wadl:representation>
            <wadl:representation mediaType="application/vnd.slc+json"></wadl:representation>
            <wadl:representation mediaType="application/xml"></wadl:representation>
            <wadl:representation mediaType="application/vnd.slc+xml"></wadl:representation>
          </wadl:response>
        </wadl:method>
        <wadl:method name="GET" id="getAssessmentsById">
          <wadl:response>
            <wadl:representation mediaType="application/json" element="assessmentList"></wadl:representation>
            <wadl:representation mediaType="application/vnd.slc+json" element="assessmentList"></wadl:representation>
            <wadl:representation mediaType="application/xml" element="assessmentList"></wadl:representation>
            <wadl:representation mediaType="application/vnd.slc+xml" element="assessmentList"></wadl:representation>
          </wadl:response>
        </wadl:method>
        <wadl:method name="PUT" id="putAssessmentsById">
          <wadl:request>
            <wadl:representation mediaType="application/json" element="assessment"></wadl:representation>
            <wadl:representation mediaType="application/vnd.slc+json" element="assessment"></wadl:representation>
            <wadl:representation mediaType="application/xml" element="assessment"></wadl:representation>
          </wadl:request>
          <wadl:response>
            <wadl:representation mediaType="application/json"></wadl:representation>
            <wadl:representation mediaType="application/vnd.slc+json"></wadl:representation>
            <wadl:representation mediaType="application/xml"></wadl:representation>
            <wadl:representation mediaType="application/vnd.slc+xml"></wadl:representation>
          </wadl:response>
        </wadl:method>
      </wadl:resource>
    </wadl:resource>
  </wadl:resources>
</wadl:application>
