sli/common/domain/src/main/resources/sliXsd-wip/Enrollment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" xmlns:sli="http://slc-sli/ed-org/0.1"
	attributeFormDefault="qualified" xmlns:p="http://schemas.xmlsoap.org/wsdl/">

	<xs:include schemaLocation="ComplexTypes.xsd" />

	<xs:complexType name="studentIdentificationCode">
		<xs:annotation>
			<xs:documentation>A coding scheme that is used for identification and
				record-keeping
				purposes by schools, social services, or other
				agencies to refer to a
				student.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificationCode" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						a student by
						a school, school system, a state, or other agency or
						entity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identificationSystem" type="studentIdentificationSystemType">
				<xs:annotation>
					<xs:documentation>A coding scheme that is used for identification
						and record-keeping
						purposes by schools, social services, or other
						agencies to refer to a
						student.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assigningOrganizationCode" type="identificationCode"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The organization code or name assigning the
						student Identification
						Code.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>

	</xs:complexType>

	<xs:complexType name="studentCharacteristic">
		<xs:annotation>
			<xs:documentation>Reflects important characteristics of the student's
				home situation:
				Displaced Homemaker, Homeless, Immigrant, Migratory,
				Military Parent,
				Pregnant Teen,
				Single Parent, Unaccompanied Youth
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="characteristic" type="studentCharacteristicType">
				<xs:annotation>
					<xs:documentation>The characteristic designated for the student.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beginDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the characteristic was designated.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the characteristic was removed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="designatedBy" type="designatedBy"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The person, organization, or department that
						designated the
						characteristic.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="birthData">
		<xs:annotation>
			<xs:documentation>The set of elements that capture relevant data
				regarding a person's
				birth, including birth date and place of birth.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="birthDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The month, day, and year on which an individual
						was born.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cityOfBirth" type="city" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The city the student was born in.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stateOfBirthAbbreviation" type="stateAbbreviationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The abbreviation for the name of the state
						(within the United
						States) or extra-state jurisdiction in which an
						individual was born.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryOfBirthCode" type="countryCodeType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique two digit International Organization
						for
						Standardization (ISO) code for the country in which an
						individual is born.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateEnteredUS" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For students born outside of the US, the date the
						student
						entered the US.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multipleBirthStatus" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator of whether the student was born with
						other siblings
						(i.e., twins, triplets, etc.)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="languagesType">
		<xs:annotation>
			<xs:documentation>Language the individual uses to communicate.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="language" type="languageItemType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disability">
		<xs:annotation>
			<xs:documentation>This type represents an impairment of body
				structure or function, a
				limitation in activities, or a restriction
				in participation, as ordered by
				severity
				of impairment.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="disability" type="disabilityType">
				<xs:annotation>
					<xs:documentation>A disability category that describes a child's
						impairment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="disabilityDiagnosis" type="disabilityDiagnosis"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>A description of the disability diagnosis.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="orderOfDisability" type="xs:int"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The order by severity of student's disabilities:
						1- Primary, 2
						- Secondary, 3 - Tertiary, etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="section504DisabilitiesType">
		<xs:annotation>
			<xs:documentation>A categorization of the disabilities associated
				with a student
				pursuant to Section 504.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="section504Disability" type="section504DisabilityItemType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A categorization of the disabilities associated
						with a student
						pursuant to Section 504.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="programParticipation">
		<xs:annotation>
			<xs:documentation>Programs the student is participating in or
				receiving services.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="program" type="programType">
				<xs:annotation>
					<xs:documentation>The program the student is associated with or
						receiving
						services from.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beginDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the student was associated with the
						program or
						service.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the program participation ended.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="designatedBy" type="designatedBy"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The person, organization, or department that
						designated the
						program association.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="learningStyles">
		<xs:annotation>
			<xs:documentation>The student's relative preference to visual,
				auditory and tactile
				learning expressed as percentages.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="visualLearning" type="percent">
				<xs:annotation>
					<xs:documentation>The student's relative preference expressed as a
						percent to
						visual learning.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="auditoryLearning" type="percent">
				<xs:annotation>
					<xs:documentation>The student's relative preference expressed as a
						percent to
						auditory learning.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tactileLearning" type="percent">
				<xs:annotation>
					<xs:documentation>The student's relative preference expressed as a
						percent to
						kinesthetic or tactile learning.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="cohortYear">
		<xs:annotation>
			<xs:documentation>The type and year of a cohort (e.g., 9th grade) the
				student belongs
				to.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="schoolYear" type="schoolYearType">
				<xs:annotation>
					<xs:documentation>The value of the school year for the cohort.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cohortYearType" type="cohortYearType">
				<xs:annotation>
					<xs:documentation>The type of cohort year (9th grade, graduation)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="student">
		<xs:annotation>
			<xs:documentation>This entity represents an individual for whom
				instruction, services
				and/or care are provided in an early childhood, elementary or secondary
				educational
				program under the jurisdiction of a school, education agency, or other
				institution
				or program. A student is a person who has been enrolled in a school or
				other
				educational institution.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentUniqueStateId" type="uniqueStateIdentifier">
					<xs:annotation>
						<xs:documentation>A unique number or alphanumeric code assigned to
							a
							student by a state education agency.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentIdentificationCode" type="studentIdentificationCode"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A coding scheme that is used for identification
							and
							record-keeping purposes by schools, social services, or other
							agencies to refer to a student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="name" type="name">
					<xs:annotation>
						<xs:documentation>Full legal name of the person.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="otherName" type="otherName" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Other names (e.g., alias, nickname, previous
							legal
							name) associated with a person.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="sex" type="sexType">
					<xs:annotation>
						<xs:documentation>A person's gender.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="birthData" type="birthData">
					<xs:annotation>
						<xs:documentation>The set of elements that capture relevant data
							regarding a person's birth, including birth date and place of
							birth.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="address" type="address" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The set of elements that describes an address,
							including the street address, city, state, and ZIP code.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="telephone" type="telephone" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The 10-digit telephone number, including the
							area
							code, for the person.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="electronicMail" type="electronicMail"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The numbers, letters, and symbols used to
							identify an
							electronic mail (e-mail) user within the network to which the
							individual or organization belongs.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="profileThumbnail" type="profileThumbnail"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Locator for the student photo.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="hispanicLatinoEthnicity" type="xs:boolean"
					nillable="true">
					<xs:annotation>
						<xs:documentation>An indication that the individual traces his or
							her
							origin or descent to Mexico, Puerto Rico, Cuba, Central and South
							America, and other Spanish cultures, regardless of race. The
							term,
							"Spanish origin," can be used in addition to "Hispanic or Latino."
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="oldEthnicity" type="oldEthnicityType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Previous definition of Ethnicity combining
							Hispanic/Latino and race:
							1 - American Indian or Alaskan Native
							2 -
							Asian or Pacific Islander
							3 - Black, not of Hispanic origin
							4 -
							Hispanic
							5 - White, not of Hispanic origin
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="race" type="raceType">
					<xs:annotation>
						<xs:documentation>The general racial category which most clearly
							reflects the individual's recognition of his or her community or
							with which the individual most identifies. The way this data
							element
							is listed, it must allow for multiple entries so that each
							individual can specify all appropriate races.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="economicDisadvantaged" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication of inadequate financial condition
							of an
							individual's family, as determined by family income, number of
							family members/dependents, participation in public assistance
							programs, and/or other characteristics considered relevant by
							federal, state, and local policy.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReadEnforcement>READ_RESTRICTED</sli:ReadEnforcement>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolFoodServicesEligibility" type="schoolFoodServicesEligibilityType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication of a student's level of
							eligibility for
							breakfast, lunch, snack, supper, and milk programs.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentCharacteristics" type="studentCharacteristic"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Reflects important characteristics of the
							student's
							home situation:
							such as Displaced Homemaker, Immigrant, Migratory,
							Military Parent, Pregnant Teen, Single Parent, Unaccompanied Youth,
							etc.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReadEnforcement>Restricted</sli:ReadEnforcement>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="limitedEnglishProficiency" type="limitedEnglishProficiencyType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication that the student has been
							identified as
							limited English proficient by the Language Proficiency Assessment
							Committee (LPAC), or English proficient.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="languages" type="languagesType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Language(s) the individual uses to communicate
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="homeLanguages" type="languagesType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The language or dialect routinely spoken in an
							individual's home. This language or dialect may or may not be an
							individual's native language.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="disabilities" type="disability"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The disability condition(s) that best describes
							an
							individual's impairment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="section504Disabilities" type="section504DisabilitiesType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>A categorization of the disabilities associated
							with a
							student pursuant to Section 504.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="displacementStatus" type="displacementStatusType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicates a state health or weather related
							event that
							displaces a group of students, and may require additional funding,
							educational, or social services.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="programParticipations" type="programParticipation"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Key programs the student is participating in or
							receives services.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="learningStyles" type="learningStyles"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The student's relative preference to visual,
							auditory
							and tactile learning expressed as percentages.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cohortYears" type="cohortYear"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The type and year of a cohort (e.g., 9th grade)
							the
							student belongs to as determined by the year that student entered a
							specific grade.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentIndicators" type="studentIndicator"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Indicator(s) or metric(s) computed for the
							student
							(e.g., at risk) to influence more effective education or direct
							specific interventions.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="loginId" type="identificationCode"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The login ID for the user; used for security
							access
							control interface.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="studentIndicator">
		<xs:annotation>
			<xs:documentation>An indicator or metric computed for the student
				(e.g., at risk) to
				influence more effective education or direct
				specific interventions.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="indicatorGroup" type="indicatorName"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name for a group of indicators.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="indicatorName" type="indicatorName">
				<xs:annotation>
					<xs:documentation>The name of the indicator or metric.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="indicator" type="indicator">
				<xs:annotation>
					<xs:documentation>The value of the indicator or metric.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beginDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date when the indicator was assigned or
						computed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the indicator or metric was sunset or
						removed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="designatedBy" type="designatedBy"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The person, organization, or department that
						designated the
						program association.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="educationalPlansType">
		<xs:annotation>
			<xs:documentation>The type of education plan(s) the student is
				following, if
				appropriate. For example:
				Special education
				Vocational
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="educationalPlan" type="educationalPlanItemType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The type of education plan the student is
						following.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="studentSchoolAssociation">
		<xs:annotation>
			<xs:documentation>This association represents the school to which a
				student is enrolled.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Student enrolled in the school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolId" type="xs:string">
					<xs:annotation>
						<xs:documentation>School enrolling the student.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month, day, and year on which an individual
							enters and
							begins to receive instructional services in a school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryGradeLevel" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The grade level or primary instructional level
							at which a
							student enters and receives services in a school or an
							educational
							institution during a given academic session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryType" type="entryType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The process by which a student enters a school
							during a given
							academic session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="repeatGradeIndicator" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indicator of whether the student is enrolling
							to repeat a
							grade level, either by failure or an agreement to hold
							the student
							back.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="classOf" type="schoolYearType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Projected High School graduation year
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolChoiceTransfer" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication of whether students transferred in
							or out of the
							school did so during the school year under the
							provisions for public
							school
							choice in accordance with Title I,
							Part A, Section 1116.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="exitWithdrawDate" type="xs:date"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month, day, and year of the first day after
							the date of an
							individual's last attendance at a school (if
							known), the day on which an
							individual graduated, or the date on
							which it becomes known
							officially that
							an individual left school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="exitWithdrawType" type="exitWithdrawType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The circumstances under which the student exited
							from
							membership in an educational institution.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationalPlans" type="educationalPlansType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The type of Education Plan(s) the student is
							following, if
							appropriate. For example:
							Special education IEP
							Vocational
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="graduationPlan" type="graduationPlan"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The graduation plan associated with the student
							enrolled in
							the school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="creditsBySubject">
		<xs:annotation>
			<xs:documentation>The total credits required in subject to graduate.
				Only those courses
				identified as a high school course requirement are
				eligible to meet subject
				credit
				requirements.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="subjectArea" type="academicSubjectType">
				<xs:annotation>
					<xs:documentation>The intended major subject area of the graduation
						requirement.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credits" type="credits">
				<xs:annotation>
					<xs:documentation>The value of credits or units of value awarded
						for the
						completion of a course.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="creditsByCourse">
		<xs:annotation>
			<xs:documentation>The total credits required to graduation by taking
				a specific course,
				or by taking one or more from a set of courses.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="courseCode" type="courseCode" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The code that identifies the organization of
						subject matter
						and related learning experiences provided for the
						instruction of
						students.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="credits" type="credits">
				<xs:annotation>
					<xs:documentation>The value of credits or units of value awarded
						for the
						completion of a course.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gradeLevel" type="gradeLevelType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The grade level when the student is planned to
						take the
						course.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="graduationPlan">
		<xs:annotation>
			<xs:documentation>This entity is a plan outlining the required
				credits, credits by
				subject, credits by course, and other criteria
				required for graduation. A
				graduation
				plan may be one or more standard
				plans defined by an education
				organization and/or
				individual plans for
				some or all students.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="GraduationPlanType">
						<xs:annotation>
							<xs:documentation>The type of academic plan the student is
								following for
								graduation: for example, Minimum, Recommended,
								Distinguished, or
								Standard.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="graduationPlanType" />
						</xs:simpleType>
					</xs:element>
					<xs:element name="individualPlan" type="xs:boolean"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>An indicator of whether the graduation plan is
								tailored for an individual.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalCreditsRequired" type="credits">
						<xs:annotation>
							<xs:documentation>The total number of credits required for
								graduation
								under this plan.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creditsBySubject" type="creditsBySubject"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The total credits required in subject to
								graduate.
								Only those courses identified as a high school course
								requirement
								are eligible to meet subject credit requirements.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creditsByCourse" type="creditsByCourse"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The total credits required to graduation by
								taking a
								specific course, or by taking one or more from a set of
								courses.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


</xs:schema>
