sli/common/domain/src/main/resources/sliXsd-wip/Realm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sli="http://slc-sli/ed-org/0.1" elementFormDefault="qualified" attributeFormDefault="qualified">

   <xs:complexType name="realm">
      <xs:annotation>
         <xs:appinfo>
            <sli:sphere>Admin</sli:sphere>
         </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="state" type="xs:string" />
         <xs:element name="idp" type="xs:string" />
         <xs:element name="realm" type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema>