sli/edfi-schema/src/main/resources/edfiXsd-SLI/SLI-Ed-Fi-Core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Peter Backes (Wireless Generation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/0100" xmlns:sli="http://slc-sli/ed-org/0.1" targetNamespace="http://ed-fi.org/0100" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="../edfiXsd/Ed-Fi-Core.xsd"/>
	<xs:annotation>
		<xs:documentation>===== Domain Entities =====</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SLC-AcademicWeek">
		<xs:annotation>
			<xs:documentation>Changed type of CalendarDateReference to SLC reference type.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>academicWeek</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="WeekIdentifier" type="WeekIdentifier"/>
					<xs:element name="BeginDate" type="xs:date"/>
					<xs:element name="EndDate" type="xs:date"/>
					<xs:element name="TotalInstructionalDays" type="xs:int"/>
					<xs:element name="CalendarDateReference" type="SLC-CalendarDateReferenceType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-Assessment">
		<xs:annotation>
			<xs:documentation>Assessment record with key fields: AssessmentTitle, AcademicSubject, GradeLevelAssessed and Version. Changed types of ObjectiveAssessmentReference, SectionReference and AssessmentItemReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>assessment</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="AssessmentTitle" type="AssessmentTitle"/>
					<xs:element name="AssessmentIdentificationCode" type="AssessmentIdentificationCode" maxOccurs="unbounded"/>
					<xs:element name="AssessmentCategory" type="AssessmentCategoryType" minOccurs="0"/>
					<xs:element name="AcademicSubject" type="AcademicSubjectType" minOccurs="0"/>
					<xs:element name="GradeLevelAssessed" type="GradeLevelType" minOccurs="0"/>
					<xs:element name="LowestGradeLevelAssessed" type="GradeLevelType" minOccurs="0"/>
					<xs:element name="AssessmentPerformanceLevel" type="AssessmentPerformanceLevel" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ContentStandard" type="ContentStandardType" minOccurs="0"/>
					<xs:element name="AssessmentForm" type="AssessmentForm" minOccurs="0"/>
					<xs:element name="Version" type="Version" minOccurs="0"/>
					<xs:element name="RevisionDate" type="xs:date" minOccurs="0"/>
					<xs:element name="MaxRawScore" type="xs:int" minOccurs="0"/>
					<xs:element name="Nomenclature" type="Nomenclature" minOccurs="0"/>
					<xs:element name="AssessmentPeriod" type="AssessmentPeriodDescriptorType" minOccurs="0"/>
					<xs:element name="AssessmentItemReference" type="AssessmentItemReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ObjectiveAssessmentReference" type="SLC-ObjectiveAssessmentReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="AssessmentFamilyReference" type="AssessmentFamilyReferenceType" minOccurs="0"/>
					<xs:element name="SectionReference" type="SLC-SectionReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-AssessmentItem">
		<xs:annotation>
			<xs:documentation>AssessmentItem record with key field: IdentificationCode. Changed types of AssessmentReference and LearningStandardReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>assessmentItem</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="AssessmentReference" type="SLC-AssessmentReferenceType"/>
					<xs:element name="IdentificationCode" type="IdentificationCode"/>
					<xs:element name="ItemCategory" type="ItemCategoryType"/>
					<xs:element name="MaxRawScore" type="xs:int"/>
					<xs:element name="CorrectResponse" type="CorrectResponse"/>
					<xs:element name="LearningStandardReference" type="SLC-LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Nomenclature" type="Nomenclature" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-AttendanceEvent">
		<xs:annotation>
			<xs:documentation>AttendanceEvent record with key fields: StudentReference (StudentUniqueStateId), SchoolReference (StateOrganizationId) and EventDate. Made SchoolReference required. Changed types of StudentReference, SchoolReference, SessionReference and SectionReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>attendance</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="EventDate" type="xs:date"/>
					<xs:element name="AttendanceEventType" type="AttendanceEventType" minOccurs="0"/>
					<xs:element name="AttendanceEventCategory" type="AttendanceEventCategoryType"/>
					<xs:element name="AttendanceEventReason" type="AttendanceEventReason" minOccurs="0"/>
					<xs:element name="EducationalEnvironment" type="EducationalEnvironmentType" minOccurs="0"/>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
					<xs:element name="SchoolReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="SessionReference" type="SLC-SessionReferenceType" minOccurs="0"/>
					<xs:element name="SectionReference" type="SLC-SectionReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-BellSchedule">
		<xs:annotation>
			<xs:documentation>Changed types of SessionReference, MeetingTimeReference and CalendarDateReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>bellSchedule</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="BellScheduleName" type="BellScheduleName"/>
					<xs:element name="GradeLevels" type="GradeLevelsType"/>
					<xs:element name="WeeksInCycle">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="52"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SessionReference" type="SLC-SessionReferenceType"/>
					<xs:element name="MeetingTimeReference" type="SLC-MeetingTimeReferenceType" maxOccurs="unbounded"/>
					<xs:element name="CalendarDateReference" type="SLC-CalendarDateReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-CalendarDate">
		<xs:annotation>
			<xs:documentation>CalendarDate record with key fields: Date and EducationOrgReference (StateOrganizationId). Added EducationOrgReference.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>calendarDate</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="Date" type="xs:date"/>
					<xs:element name="CalendarEvent" type="CalendarEventType"/>
					<xs:element name="EducationOrgReference" type="SLC-EducationalOrgReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-Cohort">
		<xs:annotation>
			<xs:documentation>Cohort record with key fields: EducationOrgReference (StateOrganizationId) and CohortIdentifier. Changed types of EducationOrgReference and ProgramReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>cohort</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="CohortIdentifier" type="CohortIdentifier"/>
					<xs:element name="CohortDescription" type="CohortDescription" minOccurs="0"/>
					<xs:element name="CohortType" type="CohortType"/>
					<xs:element name="CohortScope" type="CohortScopeType" minOccurs="0"/>
					<xs:element name="AcademicSubject" type="AcademicSubjectType" minOccurs="0"/>
					<xs:element name="EducationOrgReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="ProgramReference" type="SLC-ProgramReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-Course">
		<xs:annotation>
			<xs:documentation>Course record with key fields: EducationOrganizationReference (StateOrganizationId) and UniqueCourseId. Changed types of EducationOrganizationReference, LearningStandardReference and LearningObjectiveReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>course</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="CourseTitle" type="CourseTitle"/>
					<xs:element name="NumberOfParts">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="8"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CourseCode" type="CourseCode" maxOccurs="unbounded"/>
					<xs:element name="CourseLevel" type="CourseLevelType" minOccurs="0"/>
					<xs:element name="CourseLevelCharacteristics" type="CourseLevelCharacteristicsType" minOccurs="0"/>
					<xs:element name="GradesOffered" type="GradeLevelsType" minOccurs="0"/>
					<xs:element name="SubjectArea" type="AcademicSubjectType" minOccurs="0"/>
					<xs:element name="CourseDescription" type="Description" minOccurs="0"/>
					<xs:element name="DateCourseAdopted" type="xs:date" minOccurs="0"/>
					<xs:element name="HighSchoolCourseRequirement" type="xs:boolean" minOccurs="0"/>
					<xs:element name="CourseGPAApplicability" type="CourseGPAApplicabilityType" minOccurs="0"/>
					<xs:element name="CourseDefinedBy" type="CourseDefinedByType" minOccurs="0"/>
					<xs:element name="MinimumAvailableCredit" type="Credits" minOccurs="0"/>
					<xs:element name="MaximumAvailableCredit" type="Credits" minOccurs="0"/>
					<xs:element name="CareerPathway" type="CareerPathwayType" minOccurs="0"/>
					<xs:element name="EducationOrganizationReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="LearningStandardReference" type="SLC-LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="LearningObjectiveReference" type="SLC-LearningObjectiveReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="CompetencyLevels" type="CompetencyLevelDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="UniqueCourseId" type="SLC-UniqueCourseId"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-CourseOffering">
		<xs:annotation>
			<xs:documentation>CourseOffering record with key fields: SchoolReference (StateOrganizationId),  SessionReference (StateOrganizationId, SessionName), and CourseReference (StateOrganizationId, UniqueCourseId).  Changed types of SchoolReference, SessionReference and CourseReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>courseOffering</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="LocalCourseCode" type="LocalCourseCode"/>
					<xs:element name="LocalCourseTitle" type="CourseTitle" minOccurs="0"/>
					<xs:element name="SchoolReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="SessionReference" type="SLC-SessionReferenceType"/>
					<xs:element name="CourseReference" type="SLC-CourseReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-CourseTranscript">
		<xs:annotation>
			<xs:documentation>CourseTranscript record with key fields: CourseAttemptResult, CourseReference (StateOrganizationId, UniqueCourseId) and StudentAcademicRecordReference (StudentUniqueStateId, StateOrganizationId, SessionName). Changed types of CourseReference and StudentAcademicRecordReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>courseTranscript</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="CourseAttemptResult" type="CourseAttemptResultType"/>
					<xs:element name="CreditsAttempted" type="Credits" minOccurs="0"/>
					<xs:element name="CreditsEarned" type="Credits"/>
					<xs:element name="AdditionalCreditsEarned" type="AdditionalCredits" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="GradeLevelWhenTaken" type="GradeLevelType" minOccurs="0"/>
					<xs:element name="MethodCreditEarned" type="MethodCreditEarnedType" minOccurs="0"/>
					<xs:element name="FinalLetterGradeEarned" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="GradeEarned">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="FinalNumericGradeEarned" type="xs:integer" minOccurs="0"/>
					<xs:element name="CourseRepeatCode" type="CourseRepeatCodeType" minOccurs="0"/>
					<xs:element name="CourseReference" type="SLC-CourseReferenceType"/>
					<xs:element name="EducationOrganizationReference" type="SLC-EducationalOrgReferenceType" maxOccurs="unbounded"/>
					<xs:element name="StudentAcademicRecordReference" type="SLC-StudentAcademicRecordReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-DisciplineAction">
		<xs:annotation>
			<xs:documentation>DisciplineAction record with key fields: DisciplineActionIdentifier, ResponsibilitySchoolReference (StateOrganizationId). Changed types of StudentReference, DisciplineIncidentReference, StaffReference, ResponsibilitySchoolReference and AssignmentSchoolReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>disciplineAction</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="DisciplineActionIdentifier" type="DisciplineActionIdentifier"/>
					<xs:element name="Disciplines" type="DisciplineDescriptorType" maxOccurs="unbounded"/>
					<xs:element name="DisciplineDate" type="xs:date"/>
					<xs:element name="DisciplineActionLength" type="xs:integer" minOccurs="0"/>
					<xs:element name="ActualDisciplineActionLength" type="xs:integer" minOccurs="0"/>
					<xs:element name="DisciplineActionLengthDifferenceReason" type="DisciplineActionLengthDifferenceReasonType" minOccurs="0"/>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType" maxOccurs="unbounded"/>
					<xs:element name="DisciplineIncidentReference" type="SLC-DisciplineIncidentReferenceType" maxOccurs="unbounded"/>
					<xs:element name="StaffReference" type="SLC-StaffReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ResponsibilitySchoolReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="AssignmentSchoolReference" type="SLC-EducationalOrgReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-DisciplineIncident">
		<xs:annotation>
			<xs:documentation>DisciplineIncident record with key fields: SchoolReference (StateOrganizationId) and IncidentIdentifier . Changed types of SchoolReference and StaffReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>disciplineIncident</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="IncidentIdentifier" type="IncidentIdentifier"/>
					<xs:element name="IncidentDate" type="xs:date"/>
					<xs:element name="IncidentTime" type="xs:time"/>
					<xs:element name="IncidentLocation" type="IncidentLocationType"/>
					<xs:element name="ReporterDescription" type="ReporterDescriptionType" minOccurs="0"/>
					<xs:element name="ReporterName" type="ReporterName" minOccurs="0"/>
					<xs:element name="Behaviors" type="BehaviorDescriptorType" maxOccurs="unbounded"/>
					<xs:element name="SecondaryBehaviors" type="SecondaryBehavior" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Weapons" type="WeaponsType" minOccurs="0"/>
					<xs:element name="ReportedToLawEnforcement" type="xs:boolean" minOccurs="0"/>
					<xs:element name="CaseNumber" type="CaseNumber" minOccurs="0"/>
					<xs:element name="SchoolReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="StaffReference" type="SLC-StaffReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-EducationOrganization" abstract="true">
		<xs:annotation>
			<xs:documentation>EducationOrganization record with key field: StateOrganizationId. Changed types of ProgramReference and EducationOrganizationPeerReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>educationOrganization</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="StateOrganizationId" type="IdentificationCode"/>
					<xs:element name="EducationOrgIdentificationCode" type="EducationOrgIdentificationCode" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="NameOfInstitution" type="NameOfInstitution"/>
					<xs:element name="ShortNameOfInstitution" type="NameOfInstitution" minOccurs="0"/>
					<xs:element name="OrganizationCategories" type="EducationOrganizationCategoriesType"/>
					<xs:element name="Address" type="Address" maxOccurs="unbounded"/>
					<xs:element name="Telephone" type="InstitutionTelephone" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="WebSite" type="WebSite" minOccurs="0"/>
					<xs:element name="OperationalStatus" type="OperationalStatusType" minOccurs="0"/>
					<xs:element name="AccountabilityRatings" type="AccountabilityRating" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ProgramReference" type="SLC-ProgramReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="EducationOrganizationPeerReference" type="EducationalOrgReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-EducationServiceCenter">
		<xs:annotation>
			<xs:documentation>Changed type of StateEducationAgencyReference to SLC reference type.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>educationServiceCenter</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SLC-EducationOrganization">
				<xs:sequence>
					<xs:element name="StateEducationAgencyReference" type="EducationalOrgReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-Grade">
		<xs:annotation>
			<xs:documentation>Grade record with key fields: StudentSectionAssociationReference (StudentUniqueStateId, StateOrganizationId, UniqueSectionCode, BeginDate) and GradingPeriodReference (StateOrganizationId, GradingPeriod, BeginDate). Changed types of StudentSectionAssociationReference and GradingPeriodReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>grade</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="LetterGradeEarned" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="GradeEarned">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NumericGradeEarned" type="xs:integer" minOccurs="0"/>
					<xs:element name="DiagnosticStatement" type="text" minOccurs="0"/>
					<xs:element name="GradeType" type="GradeType"/>
					<xs:element name="PerformanceBaseConversion" type="PerformanceBaseType" minOccurs="0"/>
					<xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType"/>
					<xs:element name="GradingPeriodReference" type="SLC-GradingPeriodReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-GradebookEntry">
		<xs:annotation>
			<xs:documentation>GradebookEntry record with key fields: GradebookEntryType, DateAssigned, SectionReference (StateOrganizationId, UniqueSectionCode).  Changed types of LearningStandardReference, LearningObjectiveReference, SectionReference and GradingPeriodReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>gradebookEntry</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="GradebookEntryType" type="GradebookEntryType"/>
					<xs:element name="DateAssigned" type="xs:date"/>
					<xs:element name="Description" type="Description" minOccurs="0"/>
					<xs:element name="LearningStandardReference" type="SLC-LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="LearningObjectiveReference" type="SLC-LearningObjectiveReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SectionReference" type="SLC-SectionReferenceType"/>
					<xs:element name="GradingPeriodReference" type="SLC-GradingPeriodReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-GradingPeriod">
		<xs:annotation>
			<xs:documentation>GradingPeriod record with key fields: GradingPeriod, EducationOrganizationReference (StateOrganizationId) and BeginDate. Added GradingPeriod, SchoolYear and EducationOrganizationReference. Changed type of CalendarDateReference to SLC reference type.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>gradingPeriod</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="GradingPeriod" type="GradingPeriodType"/>
					<xs:element name="SchoolYear" type="SchoolYearType"/>
					<xs:element name="EducationOrganizationReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="BeginDate" type="xs:date"/>
					<xs:element name="EndDate" type="xs:date"/>
					<xs:element name="TotalInstructionalDays">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CalendarDateReference" type="SLC-CalendarDateReferenceType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-GraduationPlan">
		<xs:annotation>
			<xs:documentation>GraduationPlan record with key fields: GraduationPlanType and EducationOrganizationReference (StateOrganizationId). Changed type of EducationOrganizationReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>graduationPlan</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="GraduationPlanType">
						<xs:simpleType>
							<xs:restriction base="GraduationPlanType"/>
						</xs:simpleType>
					</xs:element>
					<xs:element name="IndividualPlan" type="xs:boolean" minOccurs="0"/>
					<xs:element name="TotalCreditsRequired" type="Credits"/>
					<xs:element name="CreditsBySubject" type="CreditsBySubject" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="CreditsByCourse" type="CreditsByCourse" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="EducationOrganizationReference" type="SLC-EducationalOrgReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-LearningObjective">
		<xs:annotation>
			<xs:documentation>Learning objective record with key fields: Objective, AcademicSubject and ObjectiveGradeLevel. LocalChanged type of LearningStandardReference and LearningObjectiveReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>learningObjective</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="LearningObjectiveId" type="LearningStandardId" minOccurs="0"/>
					<xs:element name="Objective" type="Objective"/>
					<xs:element name="Description" type="Description" minOccurs="0"/>
					<xs:element name="AcademicSubject" type="AcademicSubjectType"/>
					<xs:element name="ObjectiveGradeLevel" type="GradeLevelType"/>
					<xs:element name="LearningStandardReference" type="SLC-LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="LearningObjectiveReference" type="SLC-LearningObjectiveReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-LocalEducationAgency">
		<xs:annotation>
			<xs:documentation>LocalEducationAgency record with key field: StateOrganizationId. Changed type of LocalEducationAgencyReference, EducationServiceCenterReference and StateEducationAgencyReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>localEducationAgency</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SLC-EducationOrganization">
				<xs:sequence>
					<xs:element name="LEACategory" type="LEACategoryType"/>
					<xs:element name="CharterStatus" type="CharterStatusType" minOccurs="0"/>
					<xs:element name="LocalEducationAgencyReference" type="SLC-EducationalOrgReferenceType" minOccurs="0"/>
					<xs:element name="EducationServiceCenterReference" type="SLC-EducationalOrgReferenceType" minOccurs="0"/>
					<xs:element name="StateEducationAgencyReference" type="SLC-EducationalOrgReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-ObjectiveAssessment">
		<xs:annotation>
			<xs:documentation>ObjectiveAssessment record with key field: IdentificationCode. Changed type of LearningObjectiveReference, LearningStandardReference and ObjectiveAssessmentReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>objectiveAssessment</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="IdentificationCode" type="IdentificationCode"/>
					<xs:element name="MaxRawScore" type="xs:int" minOccurs="0"/>
					<xs:element name="AssessmentPerformanceLevel" type="AssessmentPerformanceLevel" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="PercentOfAssessment" type="percent" minOccurs="0"/>
					<xs:element name="Nomenclature" type="Nomenclature" minOccurs="0"/>
					<xs:element name="AssessmentItemReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="LearningObjectiveReference" type="SLC-LearningObjectiveReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="LearningStandardReference" type="SLC-LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ObjectiveAssessmentReference" type="SLC-ObjectiveAssessmentReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="AssessmentReference" type="SLC-AssessmentReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-Program">
		<xs:annotation>
			<xs:documentation>Program record with key field: ProgramId. Made ProgramId a required field.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>program</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="Program">
				<xs:sequence>
					<xs:element name="ProgramId" type="ProgramId"/>
					<xs:element name="ProgramType" type="ProgramType"/>
					<xs:element name="ProgramSponsor" type="ProgramSponsorType" minOccurs="0"/>
					<xs:element name="Services" type="ServiceDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-ReportCard">
		<xs:annotation>
			<xs:documentation>ReportCard record with key fields: StudentReference (StudentUniqueStateId) and GradingPeriodReference (StateOrganizationId, GradingPeriod, BeginDate). Changed type of StudentCompetencyReference, StudentReference and GradingPeriodReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>reportCard</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="GradeReference" type="SLC-GradeReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="StudentCompetencyReference" type="SLC-StudentCompetencyReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="GPAGivenGradingPeriod" type="xs:decimal"/>
					<xs:element name="GPACumulative" type="xs:decimal"/>
					<xs:element name="NumberOfDaysAbsent" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NumberOfDaysInAttendance" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NumberOfDaysTardy" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
					<xs:element name="GradingPeriodReference" type="SLC-GradingPeriodReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-School">
		<xs:annotation>
			<xs:documentation>School record with key field: StateOrganizationId. Changed type of LocalEducationAgencyReference to SLC reference type.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>school</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SLC-EducationOrganization">
				<xs:sequence>
					<xs:element name="GradesOffered" type="GradeLevelsType"/>
					<xs:element name="SchoolCategories" type="SchoolCategoriesType"/>
					<xs:element name="SchoolType" type="SchoolType" minOccurs="0"/>
					<xs:element name="CharterStatus" type="CharterStatusType" minOccurs="0"/>
					<xs:element name="TitleIPartASchoolDesignation" type="TitleIPartASchoolDesignationType" minOccurs="0"/>
					<xs:element name="MagnetSpecialProgramEmphasisSchool" type="MagnetSpecialProgramEmphasisSchoolType" minOccurs="0"/>
					<xs:element name="AdministrativeFundingControl" type="AdministrativeFundingControlType" minOccurs="0"/>
					<xs:element name="LocalEducationAgencyReference" type="SLC-EducationalOrgReferenceType" minOccurs="0"/>
					<xs:element name="ClassPeriodReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="LocationReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-Section">
		<xs:annotation>
			<xs:documentation>Section record with key fields: UniqueSectionCode and SchoolReference (StateOrganizationId). Changed types of CourseOfferingReference, SchoolReference, SessionReference and ProgramReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>section</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="UniqueSectionCode" type="SLC-UniqueSectionCode"/>
					<xs:element name="SequenceOfCourse">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="8"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="EducationalEnvironment" type="EducationalEnvironmentType" minOccurs="0"/>
					<xs:element name="MediumOfInstruction" type="MediumOfInstructionType" minOccurs="0"/>
					<xs:element name="PopulationServed" type="PopulationServedType" minOccurs="0"/>
					<xs:element name="AvailableCredit" type="Credits" minOccurs="0"/>
					<xs:element name="CourseOfferingReference" type="SLC-CourseOfferingReferenceType"/>
					<xs:element name="SchoolReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="SessionReference" type="SLC-SessionReferenceType" minOccurs="0"/>
					<xs:element name="LocationReference" type="LocationReferenceType" minOccurs="0"/>
					<xs:element name="ClassPeriodReference" type="ClassPeriodReferenceType" minOccurs="0"/>
					<xs:element name="ProgramReference" type="SLC-ProgramReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-Session">
		<xs:annotation>
			<xs:documentation>Session record with key fields: SessionName and EducationOrganizationReference (StateOrganizationId). Changed types of EducationOrganizationReference, GradingPeriodReference, CalendarDateReference and AcademicWeekReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>session</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="SessionName" type="IdentificationCode"/>
					<xs:element name="SchoolYear" type="SchoolYearType"/>
					<xs:element name="Term" type="TermType"/>
					<xs:element name="BeginDate" type="xs:date"/>
					<xs:element name="EndDate" type="xs:date"/>
					<xs:element name="TotalInstructionalDays" type="xs:int"/>
					<xs:element name="EducationOrganizationReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="GradingPeriodReference" type="SLC-GradingPeriodReferenceType" maxOccurs="unbounded"/>
					<xs:element name="CalendarDateReference" type="SLC-CalendarDateReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="AcademicWeekReference" type="SLC-AcademicWeekReferenceType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StateEducationAgency">
		<xs:annotation>
			<xs:documentation>StateEducationAgency with key field: StateOrganizationId.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>stateEducationAgency</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SLC-EducationOrganization"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentAcademicRecord">
		<xs:annotation>
			<xs:documentation>StudentAcademicRecord record with key fields: StudentReference (StudentUniqueStateId) and SessionReference (SessionName, StateOrganizationId). Changed types of StudentReference, SessionReference, ReportCardReference and DiplomaReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentAcademicRecord</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="CumulativeCreditsEarned" type="Credits" minOccurs="0"/>
					<xs:element name="CumulativeCreditsAttempted" type="Credits" minOccurs="0"/>
					<xs:element name="CumulativeGradePointsEarned" type="xs:decimal" minOccurs="0"/>
					<xs:element name="CumulativeGradePointAverage" type="xs:decimal" minOccurs="0"/>
					<xs:element name="GradeValueQualifier" type="GradeValueQualifier" minOccurs="0"/>
					<xs:element name="ClassRanking" type="ClassRanking" minOccurs="0"/>
					<xs:element name="AcademicHonors" type="AcademicHonor" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Recognitions" type="Recognition" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ProjectedGraduationDate" type="xs:date" minOccurs="0"/>
					<xs:element name="SessionCreditsEarned" type="Credits" minOccurs="0"/>
					<xs:element name="SessionCreditsAttempted" type="Credits" minOccurs="0"/>
					<xs:element name="SessionGradePointsEarned" type="xs:decimal" minOccurs="0"/>
					<xs:element name="SessionGradePointAverage" type="xs:decimal" minOccurs="0"/>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
					<xs:element name="SessionReference" type="SLC-SessionReferenceType"/>
					<xs:element name="ReportCardReference" type="SLC-ReportCardReferenceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="DiplomaReference" type="SLC-DiplomaReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentAssessment">
		<xs:annotation>
			<xs:documentation>StudentAssessment record with key fields: AdministrationDate, StudentReference (StudentUniqueStateId) and AssessmentReference (AssessmentTitle, AcademicSubject, GradeLevelAssessed, Version). Changed types of StudentReference and AssessmentReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentAssessment</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="AdministrationDate" type="xs:date"/>
					<xs:element name="AdministrationEndDate" type="xs:date" minOccurs="0"/>
				    <xs:element name="SerialNumber" type="IdentificationCode" minOccurs="0"/>
					<xs:element name="AdministrationLanguage" type="LanguageItemType" minOccurs="0"/>
					<xs:element name="AdministrationEnvironment" type="AdministrationEnvironmentType" minOccurs="0"/>
					<xs:element name="SpecialAccommodations" type="SpecialAccommodationsType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="LinguisticAccommodations" type="LinguisticAccommodationsType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="RetestIndicator" type="RetestIndicatorType" minOccurs="0"/>
					<xs:element name="ReasonNotTested" type="ReasonNotTestedType" minOccurs="0"/>
					<xs:element name="ScoreResults" type="ScoreResult" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="GradeLevelWhenAssessed" type="GradeLevelType" minOccurs="0"/>
					<xs:element name="PerformanceLevels" type="PerformanceLevelDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
					<xs:element name="AssessmentReference" type="SLC-AssessmentReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentAssessmentItem">
		<xs:annotation>
			<xs:documentation>StudentAssessmentItem record with key field: StudentAssessmentReference (AdministrationDate, StudentUniqueStateId, AssessmentTitle, AcademicSubject, GradeLevelAssessed, Version) and AssessmentItemReference (AssessmentItemIdentificationCode). Changed types of StudentAssessmentReference, StudentObjectiveAssessmentReference and AssessmentItemReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentAssessmentItem</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="AssessmentResponse" type="AssessmentResponse" minOccurs="0"/>
					<xs:element name="ResponseIndicator" type="ResponseIndicatorType" minOccurs="0"/>
					<xs:element name="AssessmentItemResult" type="AssessmentItemResultType"/>
					<xs:element name="RawScoreResult" type="xs:int" minOccurs="0"/>
					<xs:element name="StudentAssessmentReference" type="SLC-StudentAssessmentReferenceType"/>
					<xs:element name="StudentObjectiveAssessmentReference" type="SLC-StudentObjectiveAssessmentReferenceType" minOccurs="0"/>
					<xs:element name="AssessmentItemReference" type="SLC-AssessmentItemReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentCompetency">
		<xs:annotation>
			<xs:documentation>StudentCompetency record with key fields: LearningObjectiveReference (Objective, AcademicSubject, ObjectiveGradeLevel), StudentCompetencyObjectiveReference (StudentCompetencyObjectiveId), CompetencyLevel (CodeValue) and StudentSectionAssociationReference (StudentUniqueStateId, StateOrganizationId, UniqueSectionCode, BeginDate). Made StudentSectionAssociationReference required. Changed types of LearningObjectiveReference, StudentCompetencyObjectiveReference and StudentSectionAssociationReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentCompetency</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:choice>
						<xs:element name="LearningObjectiveReference" type="SLC-LearningObjectiveReferenceType"/>
						<xs:element name="StudentCompetencyObjectiveReference" type="SLC-StudentCompetencyObjectiveReferenceType"/>
					</xs:choice>
					<xs:element name="CompetencyLevel" type="CompetencyLevelDescriptorType"/>
					<xs:element name="DiagnosticStatement" type="text" minOccurs="0"/>
					<xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentCompetencyObjective">
		<xs:annotation>
			<xs:documentation>StudentCompetencyObjective record with key fields: StudentCompetencyObjectiveId. Made StudentCompetencyObjectiveId required. Changed type of EducationOrganizationReference to SLC reference type.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentCompetencyObjective</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="StudentCompetencyObjectiveId" type="IdentificationCode"/>
					<xs:element name="Objective" type="Objective"/>
					<xs:element name="Description" type="Description" minOccurs="0"/>
					<xs:element name="ObjectiveGradeLevel" type="GradeLevelType"/>
					<xs:element name="EducationOrganizationReference" type="SLC-EducationalOrgReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentGradebookEntry">
		<xs:annotation>
			<xs:documentation>StudentGradebookEntry record with key fields: StudentSectionAssociationReference (StudentUniqueStateId, StateOrganizationId, UniqueSectionCode, BeginDate) and GradebookEntryReference (GradebookEntryType, DateAssigned, StateOrganizationId, UniqueSectionCode). Changed types of StudentSectionAssociationReference and GradebookEntryReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentGradebookEntry</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="DateFulfilled" type="xs:date" minOccurs="0"/>
					<xs:element name="LetterGradeEarned" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="GradeEarned">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NumericGradeEarned" type="xs:integer" minOccurs="0"/>
					<xs:element name="CompetencyLevel" type="CompetencyLevelDescriptorType" minOccurs="0"/>
					<xs:element name="DiagnosticStatement" type="text" minOccurs="0"/>
					<xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType"/>
					<xs:element name="GradebookEntryReference" type="SLC-GradebookEntryReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentObjectiveAssessment">
		<xs:annotation>
			<xs:documentation>StudentObjectiveAssessment record with key fields: StudentAssessmentReference (AdministrationDate, StudentUniqueStateId, AssessmentTitle, AcademicSubject, GradeLevelAssessed, Version) and AssessmentItemReference (AssessmentItemIdentificationCode). Changed types of StudentAssessmentReference and ObjectiveAssessmentReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentObjectiveAssessment</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="ScoreResults" type="ScoreResult" maxOccurs="unbounded"/>
					<xs:element name="PerformanceLevels" type="PerformanceLevelDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="StudentAssessmentReference" type="SLC-StudentAssessmentReferenceType"/>
					<xs:element name="ObjectiveAssessmentReference" type="SLC-ObjectiveAssessmentReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>===== Associations =====</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SLC-StaffCohortAssociation">
		<xs:annotation>
			<xs:documentation>StaffCohortAssociation record  with key fields: StaffReference (StaffUniqueStateId), CohortReference (CohortIdentifier, StateOrganizationId) and BeginDate. Limited StaffReference and CohortReference to a single instance. Changed types of StaffReference and CohortReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>staffCohortAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="StaffReference" type="SLC-StaffReferenceType"/>
					<xs:element name="CohortReference" type="SLC-CohortReferenceType"/>
					<xs:element name="BeginDate" type="xs:date"/>
					<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
					<xs:element name="StudentRecordAccess" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StaffEducationOrgAssignmentAssociation">
		<xs:annotation>
			<xs:documentation>StaffEducationOrganizationAssociation with key fields: StaffReference (StaffUniqueStateId), EducationOrganizationReference (StateOrganizationId), StaffClassification and BeginDate. Changed types of StaffReference and EducationOrganizationReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>staffEducationOrganizationAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StaffReference" type="SLC-StaffReferenceType"/>
			<xs:element name="EducationOrganizationReference" type="SLC-EducationalOrgReferenceType"/>
			<xs:element name="StaffClassification" type="StaffClassificationType"/>
			<xs:element name="PositionTitle" type="PositionTitle" minOccurs="0"/>
			<xs:element name="BeginDate" type="xs:date"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StaffProgramAssociation">
		<xs:annotation>
			<xs:documentation>StaffProgramAssociation record with key fields: StaffReference (StaffUniqueStateId), ProgramReference (ProgramId) and BeginDate. Limited StaffReference and ProgramReference to a single instance. Changed types of StaffReference and ProgramReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>staffProgramAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StaffReference" type="SLC-StaffReferenceType"/>
			<xs:element name="ProgramReference" type="SLC-ProgramReferenceType"/>
			<xs:element name="BeginDate" type="xs:date"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
			<xs:element name="StudentRecordAccess" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentCohortAssociation">
		<xs:annotation>
			<xs:documentation>StudentCohortAssociation record with key fields: StudentReference (StudentUniqueStateId), CohortReference (StateOrganizationId, CohortIdentifier) and BeginDate. Changed types of StudentReference and CohortReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentCohortAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
					<xs:element name="CohortReference" type="SLC-CohortReferenceType"/>
					<xs:element name="BeginDate" type="xs:date"/>
					<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentDisciplineIncidentAssociation">
		<xs:annotation>
			<xs:documentation>StudentDisciplineIncidentAssociation record with key fields: StudentReference (StudentUniqueStateId) and DisciplineIncidentReference (StateOrganizationId, IncidentIdentifier). Changed types of StudentReference and DisciplineIncidentReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentDisciplineIncidentAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
					<xs:element name="DisciplineIncidentReference" type="SLC-DisciplineIncidentReferenceType"/>
					<xs:element name="StudentParticipationCode" type="StudentParticipationCodeType"/>
					<xs:element name="Behaviors" type="BehaviorDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="SecondaryBehaviors" type="SecondaryBehavior" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentParentAssociation">
		<xs:annotation>
			<xs:documentation>StudentParentAssociation record with key fields: StudentReference (StudentUniqueStateId)  and ParentReference (ParentUniqueStateId). Changed types of StudentReference and ParentReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentParentAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
			<xs:element name="ParentReference" type="SLC-ParentReferenceType">
				<xs:annotation>
					<xs:documentation>The parent associated with the student.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Relation" type="RelationType" minOccurs="0"/>
			<xs:element name="PrimaryContactStatus" type="xs:boolean" minOccurs="0"/>
			<xs:element name="LivesWith" type="xs:boolean" minOccurs="0"/>
			<xs:element name="EmergencyContactStatus" type="xs:boolean" minOccurs="0"/>
			<xs:element name="ContactPriority" type="xs:int" minOccurs="0"/>
			<xs:element name="ContactRestrictions" type="ContactRestrictions" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentProgramAssociation">
		<xs:annotation>
			<xs:documentation>StudentProgramAssociation record with key fields: StudentReference (StudentUniqueStateId), ProgramReference (ProgramId), BeginDate and EducationOrganizationReference(StateOrganizationId). Changed types of StudentReference, ProgramReference and EducationOrganizationReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentProgramAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
					<xs:element name="ProgramReference" type="SLC-ProgramReferenceType"/>
					<xs:element name="Services" type="ServiceDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="BeginDate" type="xs:date"/>
					<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
					<xs:element name="ReasonExited" type="ReasonExitedType" minOccurs="0"/>
					<xs:element name="EducationOrganizationReference" type="SLC-EducationalOrgReferenceType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentSchoolAssociation">
		<xs:annotation>
			<xs:documentation>StudentSchoolAssociation record with key fields: StudentReference (StudentUniqueStateId), SchoolReference (StateOrganizationId) and EntryDate. Changed types of StudentReference, SchoolReference and GraduationPlanReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentSchoolAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
					<xs:element name="SchoolReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="SchoolYear" type="SchoolYearType" minOccurs="0"/>
					<xs:element name="EntryDate" type="xs:date"/>
					<xs:element name="EntryGradeLevel" type="GradeLevelType"/>
					<xs:element name="EntryType" type="EntryType" minOccurs="0"/>
					<xs:element name="RepeatGradeIndicator" type="xs:boolean" minOccurs="0"/>
					<xs:element name="ClassOf" type="SchoolYearType" minOccurs="0"/>
					<xs:element name="SchoolChoiceTransfer" type="xs:boolean" minOccurs="0"/>
					<xs:element name="ExitWithdrawDate" type="xs:date" minOccurs="0"/>
					<xs:element name="ExitWithdrawType" type="ExitWithdrawType" minOccurs="0"/>
					<xs:element name="EducationalPlans" type="EducationalPlansType" minOccurs="0"/>
					<xs:element name="GraduationPlanReference" type="SLC-GraduationPlanReferenceType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentSectionAssociation">
		<xs:annotation>
			<xs:documentation>StudentSectionAssociation record with key fields: StudentReference (StudentUniqueStateId), SectionReference (StateOrganizationId, UniqueSectionCode) and BeginDate. Made BeginDate a required field. Changed types of StudentReference and SectionReference to SLC reference types. </xs:documentation>
			<xs:appinfo>
				<sli:recordType>studentSectionAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
			<xs:element name="SectionReference" type="SLC-SectionReferenceType"/>
			<xs:element name="BeginDate" type="xs:date"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
			<xs:element name="HomeroomIndicator" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RepeatIdentifier" type="RepeatIdentifierType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-TeacherSchoolAssociation">
		<xs:annotation>
			<xs:documentation>TeacherSchoolAssociation record with key fields: TeacherReference (StaffUniqueStateId), SchoolReference (StateOrganizationId) and ProgramAssignment. Limited SchoolReference to a single instance. Changed types of TeacherReference and SchoolReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>teacherSchoolAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="TeacherReference" type="SLC-StaffReferenceType"/>
					<xs:element name="SchoolReference" type="SLC-EducationalOrgReferenceType"/>
					<xs:element name="ProgramAssignment" type="ProgramAssignmentType"/>
					<xs:element name="InstructionalGradeLevels" type="GradeLevelsType"/>
					<xs:element name="AcademicSubjects" type="AcademicSubjectsType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-TeacherSectionAssociation">
		<xs:annotation>
			<xs:documentation>TeacherSectionAssociation record with key fields: TeacherReference (StaffUniqueStateId) and SectionReference (StateOrganizationId, UniqueSectionCode). Changed types of TeacherReference and SectionReference to SLC reference types.</xs:documentation>
			<xs:appinfo>
				<sli:recordType>teacherSectionAssociation</sli:recordType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TeacherReference" type="SLC-StaffReferenceType"/>
			<xs:element name="SectionReference" type="SLC-SectionReferenceType"/>
			<xs:element name="ClassroomPosition" type="ClassroomPositionType"/>
			<xs:element name="BeginDate" type="xs:date" minOccurs="0"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0"/>
			<xs:element name="HighlyQualifiedTeacher" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>===== Extended Reference Types =====</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SLC-AcademicWeekIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for AcademicWeek.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>educationalOrganizationId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeekIdentifier" type="WeekIdentifier">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>weekIdentifier</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-AcademicWeekReferenceType">
		<xs:annotation>
			<xs:appinfo>
				<xs:documentation>New SLC natural reference type for AcademicWeek.</xs:documentation>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>academicWeek</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcademicWeekIdentity" type="SLC-AcademicWeekIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-AssessmentFamilyIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only AssessmentFamilyTitle.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AssessmentFamilyTitle" type="AssessmentTitle">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>assessmentFamilyTitle</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-AssessmentFamilyReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>assessmentFamily</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="AssessmentFamilyIdentity" type="SLC-AssessmentFamilyIdentityType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-AssessmentIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only AssessmentTitle, AcademicSubject, GradeLevelAssessed and Version.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AssessmentTitle" type="AssessmentTitle">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>assessmentTitle</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcademicSubject" type="AcademicSubjectType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>academicSubject</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GradeLevelAssessed" type="GradeLevelType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>gradeLevelAssessed</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="Version" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>version</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-AssessmentItemIdentityType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AssessmentItemIdentificationCode" type="IdentificationCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>identificationCode</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
                        </xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-AssessmentItemReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>assessmentItem</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AssessmentItemIdentity" type="SLC-AssessmentItemIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-AssessmentReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>assessment</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="AssessmentIdentity" type="SLC-AssessmentIdentityType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-CalendarDateIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only Date and an embedded EducationOrgReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Date" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>date</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EducationOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>educationOrganizationId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-CalendarDateReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>calendarDate</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CalendarDateIdentity" type="SLC-CalendarDateIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ClassPeriodIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only ClassPeriodName and StateOrganizationId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClassPeriodName" type="ClassPeriodNameType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>classPeriodName</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateOrganizationId" type="IdentificationCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ClassPeriodReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>classPeriod</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="ClassPeriodIdentity" type="SLC-ClassPeriodIdentityType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-CohortIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain an embedded EducationalOrgReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CohortIdentifier" type="CohortIdentifier">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>cohortId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>educationOrgId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-CohortReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>cohort</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CohortIdentity" type="SLC-CohortIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-CourseIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to use an embedded EducationalOrgReference and UniqueCourseId, rather than CourseCode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="UniqueCourseId" type="SLC-UniqueCourseId">
					<xs:annotation>
						<xs:appinfo>
							<sli:keyFieldName>uniqueCourseId</sli:keyFieldName>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-CourseOfferingIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to use an embedded SessionReference and an EducationalOrgReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LocalCourseCode" type="LocalCourseCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>localCourseCode</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SessionReference" type="SLC-SessionReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>sessionId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-CourseOfferingReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>courseOffering</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CourseOfferingIdentity" type="SLC-CourseOfferingIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-CourseReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>course</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CourseIdentity" type="SLC-CourseIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-DiplomaIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for Diploma, using natural keys DiplomaAwardDate, DiplomaType and an embedded EducationalOrgReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>schoolReference</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiplomaAwardDate" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>diplomaAwardDate</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiplomaType" type="DiplomaType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>diplomaType</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-DiplomaReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for Diploma.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DiplomaIdentity" type="SLC-DiplomaIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-DisciplineIncidentIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to use an embedded EducationalOrgReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IncidentIdentifier" type="IncidentIdentifier">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>disciplineActionIdentifier</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-DisciplineIncidentReferenceType">
		<xs:annotation>
			<xs:appinfo>
				<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>disciplineIncident</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DisciplineIncidentIdentity" type="SLC-DisciplineIncidentIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-EducationalOrgIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only a required StateOrganizationId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StateOrganizationId" type="IdentificationCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>stateOrganizationId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-EducationalOrgReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>educationOrganization</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgIdentity" type="SLC-EducationalOrgIdentityType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-GradebookEntryIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for GradebookEntry. Contains the keyfields: GradebookEntryType, DateAssigned and an embedded SectionReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GradebookEntryType" type="xs:string">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<sli:keyFieldName>gradebookEntryType</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateAssigned" type="xs:date">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<sli:keyFieldName>dateAssigned</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionReference" type="SLC-SectionReferenceType">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<sli:keyFieldName>sectionId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-GradebookEntryReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for GradebookEntry.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>gradebookEntry</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GradebookEntryIdentity" type="SLC-GradebookEntryIdentityType">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-GradeIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for Grade. Contains an embedded StudentSectionAssociationReference and an optional embedded GradingPeriodReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>studentSectionAssociationId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GradingPeriodReference" type="SLC-GradingPeriodReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>gradingPeriodId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-GradeReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for Grade.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>grade</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GradeIdentity" type="SLC-GradeIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-GradingPeriodIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to include BeginDate and an embedded EducationalOrgReference. Removed SchoolYear.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GradingPeriod" type="GradingPeriodType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>gradingPeriod</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginDate" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>beginDate</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-GradingPeriodReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>gradingPeriod</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GradingPeriodIdentity" type="SLC-GradingPeriodIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-GraduationPlanIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for GraduationPlan. Contains keyfields: GraduationPlanType and an embedded EducationalOrgReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GraduationPlanType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>graduationPlanType</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>educationOrganizationId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-GraduationPlanReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for GraduationPlan.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>graduationPlan</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GraduationPlanIdentity" type="SLC-GraduationPlanIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-LearningObjectiveIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to include AcademicSubject and ObjectiveGradeLevel. Removed LearningObjectiveId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Objective" type="Objective">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>objective</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcademicSubject" type="AcademicSubjectType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>academicSubject</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectiveGradeLevel" type="GradeLevelType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>objectiveGradeLevel</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-LearningObjectiveReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>learningObjective</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LearningObjectiveIdentity" type="SLC-LearningObjectiveIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-LearningStandardIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain IdentificationCode rather than LearningStandardId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationCode" type="IdentificationCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>learningStandardId.identificationCode</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-LearningStandardReferenceType">
		<xs:annotation>
			<xs:documentation/>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>learningStandard</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LearningStandardIdentity" type="SLC-LearningStandardIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-MeetingTimeIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for MeetingTime.  Contains keyfields: embedded ClassPeriodReference and WeekNumber.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClassPeriodReference" type="SLC-ClassPeriodReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>classPeriodId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeekNumber" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>weekNumber</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-MeetingTimeReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for MeetingTime.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>meetingTime</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MeetingTimeIdentity" type="SLC-MeetingTimeIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ObjectiveAssessmentIdentityType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ObjectiveAssessmentIdentificationCode" type="IdentificationCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>identificationCode</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ObjectiveAssessmentReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>objectiveAssessment</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ObjectiveAssessmentIdentity" type="SLC-ObjectiveAssessmentIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ParentIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only ParentUniqueStateId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ParentUniqueStateId" type="UniqueStateIdentifier">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>parentUniqueStateId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ParentReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>parent</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ParentIdentity" type="SLC-ParentIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ProgramIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only ProgramId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProgramId" type="ProgramId">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>programId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ProgramReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>program</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProgramIdentity" type="SLC-ProgramIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ReportCardIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for ReportCard. Contains embedded StudentReference and GradingPeriodReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentReference" type="SLC-StudentReferenceType">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<sli:keyFieldName>studentId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GradingPeriodReference" type="SLC-GradingPeriodReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<sli:keyFieldName>gradingPeriodId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-ReportCardReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for ReportCard.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>reportCard</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReportCardIdentity" type="SLC-ReportCardIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-SectionIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to use only embbedded EducationalOrgReference and UniqueSectionCode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniqueSectionCode" type="SLC-UniqueSectionCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>uniqueSectionCode</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-SectionReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>section</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SectionIdentity" type="SLC-SectionIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-SessionIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to use only embbedded EducationalOrgReference and SessionName.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SessionName" type="IdentificationCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>sessionName</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-SessionReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>session</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SessionIdentity" type="SLC-SessionIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StaffIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to use only a required StaffUniqueStateId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StaffUniqueStateId" type="UniqueStateIdentifier">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>staffUniqueStateId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StaffReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>staff</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StaffIdentity" type="SLC-StaffIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentAcademicRecordIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for StudentAcademicRecord. Contains embedded StudentReference and SessionReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentReference" type="SLC-StudentReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>studentId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SessionReference" type="SLC-SessionReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>sessionId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentAcademicRecordReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for StudentAcademicRecord.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>studentAcademicRecord</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentAcademicRecordIdentity" type="SLC-StudentAcademicRecordIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentAssessmentIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for StudentAssessment. Contains keyfields: AdministrationDate, an embedded StudentReference and an embedded AssessmentReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdministrationDate" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>administrationDate</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StudentReference" type="SLC-StudentReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>studentId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssessmentReference" type="SLC-AssessmentReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>assessmentId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentAssessmentReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for StudentAssessment.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>studentAssessment</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentAssessmentIdentity" type="SLC-StudentAssessmentIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentCompetencyIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for StudentCompetency. Contains an embedded LearningObjectiveReference, an embedded StudentCompetencyObjectiveReference, CodeValue and an embedded StudentSectionAssociationReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="LearningObjectiveReference" type="SLC-LearningObjectiveReferenceType">
					<xs:annotation>
						<xs:appinfo>
							<sli:keyFieldName>objectiveId.learningObjectiveId</sli:keyFieldName>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="StudentCompetencyObjectiveReference" type="SLC-StudentCompetencyObjectiveReferenceType">
					<xs:annotation>
						<xs:appinfo>
							<sli:keyFieldName>objectiveId.studentCompetencyObjectiveId</sli:keyFieldName>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="CodeValue" type="CodeValue" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>competencyLevel.codeValue</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>studentSectionAssociationId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentCompetencyObjectiveIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only a single StudentCompetencyObjectiveId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentCompetencyObjectiveId" type="IdentificationCode">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>studentCompetencyObjectiveId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentCompetencyObjectiveReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>studentCompetencyObjective</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentCompetencyObjectiveIdentity" type="SLC-StudentCompetencyObjectiveIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentCompetencyReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for StudentCompetency.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>studentCompetency</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentCompetencyIdentity" type="SLC-StudentCompetencyIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to contain only a required StudentUniqueStateId.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentUniqueStateId" type="UniqueStateIdentifier">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>studentUniqueStateId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentObjectiveAssessmentIdentityType">
		<xs:annotation>
			<xs:documentation>New SLC identity type for StudentObjectiveAssessment. Contains an embedded StudentAssessmentReference and an embedded ObjectiveAssessmentReference.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentAssessmentReference" type="SLC-StudentAssessmentReferenceType">
				<xs:annotation>
					<xs:documentation>Link of the objective scores the overall scores for a student's specific test administration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObjectiveAssessmentReference" type="SLC-ObjectiveAssessmentReferenceType">
				<xs:annotation>
					<xs:documentation>Reference to the test objective that is being measured by the objective-level assessment.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentObjectiveAssessmentReferenceType">
		<xs:annotation>
			<xs:documentation>New SLC natural reference type for StudentObjectiveAssessment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentObjectiveAssessmentIdentity" type="SLC-StudentObjectiveAssessmentIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>student</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentIdentity" type="SLC-StudentIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentSectionAssociationIdentityType">
		<xs:annotation>
			<xs:documentation>Changed to use embedded an StudentReference and SectionReference rather than IdentityTypes, and added required BeginDate.</xs:documentation>
			<xs:appinfo>
				<sli:keyFieldName>studentSectionAssociationId</sli:keyFieldName>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentReference" type="SLC-StudentReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>studentId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionReference" type="SLC-SectionReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>sectionId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginDate" type="xs:date">
				<xs:annotation>
					<xs:appinfo>
						<sli:keyFieldName>beginDate</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SLC-StudentSectionAssociationReferenceType">
		<xs:annotation>
			<xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
			<xs:appinfo>
				<sli:applyKeyFields>true</sli:applyKeyFields>
				<sli:refType>studentSectionAssociation</sli:refType>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentSectionAssociationIdentity" type="SLC-StudentSectionAssociationIdentityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>===== Common Types =====</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="SLC-UniqueCourseId">
		<xs:annotation>
			<xs:documentation>A unique number or alphanumeric code assigned to a course by a school, school system, a state, or other agency or entity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SLC-UniqueSectionCode">
		<xs:annotation>
			<xs:documentation>A unique identifier for the section, that is defined by the classroom, the subjects taught, and the instructors that are assigned.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
