sli/common/domain/src/main/resources/sliXsd/Assessments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" xmlns:sli="http://slc-sli/ed-org/0.1"
	attributeFormDefault="qualified">

	<xs:include schemaLocation="ComplexTypes.xsd" />

	<xs:complexType name="assessmentIdentificationCode">
		<xs:annotation>
			<xs:documentation>A unique number or alphanumeric code assigned to an
				assessment by a school, school system, a state, or other agency or
				entity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						an assessment by a school, school system, a state, or other agency
						or entity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identificationSystem" type="assessmentIdentificationSystemType">
				<xs:annotation>
					<xs:documentation>A coding scheme that is used for identification
						and record-keeping purposes by schools, social services, or other
						agencies to refer to an assessment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assigningOrganizationCode" type="identificationCode"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The organization code or name assigning the
						assessment identification code.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="assessmentPerformanceLevel">
		<xs:annotation>
			<xs:documentation>Definition of the performance levels and the
				associated cut scores. Three styles are supported:
				1. Specification
				of performance level by min and max score
				2. Specification of
				performance level by cut score - min only
				3. Specification of
				performance level without any mapping to scores
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="performanceLevel" type="description">
				<xs:annotation>
					<xs:documentation>The performance level(s) defined for the
						assessment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assessmentReportingMethod" type="assessmentReportingMethodType">
				<xs:annotation>
					<xs:documentation>The method that the administrator of the
						assessment uses to report the performance and achievement of all
						students. It may be a qualitative method such as performance level
						descriptors or a quantitative method such as a numerical grade or
						cut score. More than one type of reporting method may be used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minimumScore" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The minimum score required to make the indicated
						level of performance.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maximumScore" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum score to make the indicated level of
						performance.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="scoreResult">
		<xs:annotation>
			<xs:documentation>A meaningful raw score or statistical expression of
				the performance of an individual. The results can be expressed as a
				number, percentile, range, level, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result" type="result">
				<xs:annotation>
					<xs:documentation>The value of a meaningful raw score or
						statistical expression of the performance of an individual. The
						results can be expressed as a number, percentile, range, level,
						etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assessmentReportingMethod" type="assessmentReportingMethodType">
				<xs:annotation>
					<xs:documentation>The method that the administrator of the
						assessment uses to report the performance and achievement of all
						students. It may be a qualitative method such as performance level
						descriptors or a quantitative method such as a numerical grade or
						cut score. More than one type of reporting method may be used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="assessment">
		<xs:annotation>
			<xs:documentation>This entity represents a tool, instrument, process,
				or exhibition composed of a systematic sampling of behavior for
				measuring a student's competence, knowledge, skills or behavior. An
				assessment can be used to measure differences in individuals or
				groups and changes in performance from one occasion to the next.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="assessmentTitle" type="assessmentTitle">
					<xs:annotation>
						<xs:documentation>The title or name of the assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentFamilyHierarchyName" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>A hierarchical name for the Assessment using '.'
							separators.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentIdentificationCode" type="assessmentIdentificationCode"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A unique number or alphanumeric code assigned to
							an assessment by a school, school system, a state, or other
							agency or entity.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentCategory" type="assessmentCategoryType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The category of an assessment based on format
							and content. For example:
							Achievement test
							Advanced placement test
							Alternate assessment/grade-level standards
							Attitudinal test
							Cognitive and perceptual skills test
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="academicSubject" type="academicSubjectType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The description of the content or subject area
							(e.g., arts, mathematics, reading, stenography, or a foreign
							language) of an assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeLevelAssessed" type="gradeLevelType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The typical grade level for which an assessment
							is designed. If the assessment spans a range of grades, then this
							attribute holds the highest grade assessed. If only one grade
							level is assessed then only this attribute is used. For example:
							Adult
							Prekindergarten
							First grade
							Second grade
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lowestGradeLevelAssessed" type="gradeLevelType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>If the assessment spans a range of grades, then
							this attribute holds the lowest grade assessed. If only one grade
							level is assessed, then this attribute is omitted. For example:
							Adult
							Prekindergarten
							First grade
							Second grade
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentPerformanceLevel" type="assessmentPerformanceLevel"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Definition of the performance levels and the
							associated cut scores. Three styles are supported:
							1.
							Specification of performance level by min and max score
							2.
							Specification of performance level by cut score - min only
							3.
							Specification of performance level without any mapping to scores
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contentStandard" type="contentStandardType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication as to whether an assessment
							conforms to a standard. For example:
							Local standard
							Statewide
							standard
							Regional standard
							Association standard
							School standard
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentForm" type="assessmentForm"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifies the form of the assessment, for
							example a regular versus makeup form, multiple choice versus
							constructed response, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="version" type="version" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The version identifier for the assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="revisionDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month, day, and year that the conceptual
							design for the assessment was most recently revised
							substantially.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="maxRawScore" type="xs:int" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The maximum raw score achievable across all
							assessment items that are correct and scored at the maximum.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="minRawScore" type="xs:int" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The minimum raw score achievable across all
							assessment items that are correct and scored at the minimum.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nomenclature" type="nomenclature"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Reflects the specific nomenclature used for
							Assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentPeriodDescriptor" type="assessmentPeriodDescriptor"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>This descriptor holds the period or window in which an assessment is supposed to be administered (e.g., Beginning of Year, Middle of Year, End of Year).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="objectiveAssessment" type="reference"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This entity represents subtests that assess specific learning objectives. 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="studentObjectiveAssessment">
		<xs:annotation>
			<xs:documentation>This entity holds the score and or performance
				levels earned for an objective assessment by a student.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="scoreResults" type="scoreResult"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A meaningful score or statistical expression of
								the performance of an individual. The results can be expressed
								as a number, percentile, range, level, etc.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="performanceLevelDescriptors" type="performanceLevelDescriptor"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This descriptor defines various levels or thresholds for performance on the assessment. 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="objectiveAssessment" type="objectiveAssessment"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This entity represents subtests that assess specific learning objectives. 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="studentAssessmentItem">
		<xs:annotation>
			<xs:documentation>This entity represents the student's response to an
				assessment item and the item-level scores such as correct,
				incorrect, or met standard.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="assessmentResponse" type="assessmentResponse"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A student's response to a stimulus on a test.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="responseIndicator" type="responseIndicatorType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicator of the response. For example:
								Nonscorable response
								Ineffective response
								Effective response
								Partial response
								...
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="assessmentItemResult" type="assessmentItemResultType">
						<xs:annotation>
							<xs:documentation>The analyzed result of a student's response to
								an assessment item.. For example:
								Correct
								Incorrect
								Met standard
								...
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rawScoreResult" type="xs:int"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A meaningful raw score of the performance of an
								individual on an assessment item.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="studentAssessmentAssociation">
		<xs:annotation>
			<xs:documentation>This entity represents the analysis or scoring of a
				student's response on an assessment. The analysis results in a value
				that represents a student's performance on a set of items on a test.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="administrationDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>The month(s), day(s), and year on which an
							assessment is administered or first day of administration if over
							multiple days.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="administrationEndDate" type="xs:date"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Assessment Administration End Date, if
							administered over multiple days.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serialNumber" type="identificationCode"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The unique number for the assessment form or
							answer document.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="administrationLanguage" type="languageItemType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The language in which an assessment is written
							and/or administered.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="administrationEnvironment" type="administrationEnvironmentType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The environment in which the test was
							administered. For example:
							Electronic
							Classroom
							Testing Center
							....
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="specialAccommodations" type="specialAccommodationItemType"
				    minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The specific type of special variation used in
							how an examination is presented, how it is administered, or how
							the test taker is allowed to respond. This generally refers to
							changes that do not substantially alter what the examination
							measures. The proper use of accommodations does not substantially
							change academic level or performance criteria. For example:
							Braille
							Enlarged monitor view
							Extra time
							Large Print
							Setting
							Oral
							Administration
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="linguisticAccommodations" type="linguisticAccommodationItemType"
				    minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Linguistic accommodations used with the student
							for the test. For example:
							Bilingual dictionary
							English dictionary
							Reading Aloud - Word or Phrase
							Reading Aloud - Entire Test Item
							Oral Translation - Word or phrase
							Clarification - Word or phrase
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="retestIndicator" type="retestIndicatorType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicator if the test was retaken. For example:
							Primary administration
							First retest
							Second retest
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="reasonNotTested" type="reasonNotTestedType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The primary reason student is not tested. For
							example:
							Absent
							Refusal by parent
							Refusal by student
							Medical waiver
							Illness
							Disruptive behavior
							LEP Exempt
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="scoreResults" type="scoreResult"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A meaningful score or statistical expression of
							the performance of an individual. The results can be expressed as
							a number, percentile, range, level, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeLevelWhenAssessed" type="gradeLevelType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The grade level of a student when assessed.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="performanceLevelDescriptors" type="performanceLevelDescriptor"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This descriptor defines various levels or thresholds for performance on the assessment. 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentObjectiveAssessments" type="studentObjectiveAssessment"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The score and or performance level(s) earned for
							each objective assessment by the student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentAssessmentItems" type="studentAssessmentItem"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This entity represents the student's responses
							to assessment items.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Reference to the student associated with the
							assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Reference to the assessment taken by the
							student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="performanceLevelDescriptor">
		<xs:annotation>
			<xs:documentation>This descriptor defines various levels or thresholds for performance on the assessment.  </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="codeValue" type="codeValue" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A code or abbreviation that is used to refer to a Performance Level, </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="description">
						<xs:annotation>
							<xs:documentation>The description of the Performance Level, for example.
									Passing
									Standard
									Commended
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="performanceBaseConversion" type="performanceBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A conversion of the level to a standard set of performance levels.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="objectiveAssessment">
		<xs:annotation>
			<xs:documentation>This entity represents subtests that assess specific learning objectives.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="identificationCode" type="identificationCode">
						<xs:annotation>
							<xs:documentation>A unique number or alphanumeric code assigned to a space, room, site, building, individual, organization, program, or institution by a school, school system, a state, or other agency or entity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maxRawScore" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The maximum raw score achievable across all assessment items that are correct and scored at the maximum.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="assessmentPerformanceLevel" type="assessmentPerformanceLevel" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Definition of the performance levels and the associated cut scores.  Three styles are supported:
							   1. Specification of performance level by min and max score
							   2. Specification of performance level by cut score - min only
							   3. Specification of performance level without any mapping to scores</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="percentOfAssessment" type="percent" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The percent of the assessment that tests this objective.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nomenclature" type="nomenclature" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reflects the specific nomenclature used for this level of ObjectiveAssessment.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="assessmentPeriodDescriptor">
		<xs:annotation>
			<xs:documentation>This descriptor holds the period or window in which an assessment is supposed to be administered (e.g., Beginning of Year, Middle of Year, End of Year).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="codeValue" type="codeValue">
						<xs:annotation>
							<xs:documentation>A code or abbreviation that is used to refer to an Assessment Period.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="description">
						<xs:annotation>
							<xs:documentation>The description of the Assessment Period.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="shortDescription" type="shortDescription" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A shortened description for reference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The first date the assessment is to be administered.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The last date the assessment is to be administered.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- <xs:element name="sectionAssessmentAssociation">
		<xs:annotation>
			<xs:documentation>This entity represents the association of a section
				with an administered assessment.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sectionId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Reference to the section associated with the
							assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Reference to the assessment taken by the
							section.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	 -->

</xs:schema>
