sli/common/domain/src/main/resources/sliXsd/ComplexTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="qualified"
	xmlns:sli="http://slc-sli/ed-org/0.1">

	<xs:include schemaLocation="SimpleTypes.xsd" />

	<xs:complexType name="complexObjectType" abstract="true">
	</xs:complexType>

	<xs:complexType name="assessmentIdentificationCode">
		<xs:annotation>
			<xs:documentation>A unique number or alphanumeric code assigned to an
				assessment by a school, school system, a state, or other agency or
				entity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						an assessment by a school, school system, a state, or other agency
						or entity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identificationSystem" type="assessmentIdentificationSystemType">
				<xs:annotation>
					<xs:documentation>A coding scheme that is used for identification
						and record-keeping purposes by schools, social services, or other
						agencies to refer to an assessment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assigningOrganizationCode" type="identificationCode"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The organization code or name assigning the
						assessment identification code.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="assessmentItem">
		<xs:annotation>
			<xs:documentation>This entity represents one of many single measures
				that make up an assessment.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!--This is how we associate the assessment item and the objective assessment 
				locally within the assessment. <xs:element name="id" type="xs:ID"> <xs:annotation> 
				<xs:documentation>Uniquely identifies this assessment item within the assessment.</xs:documentation> 
				</xs:annotation> </xs:element> -->
			<xs:element name="identificationCode" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						a space, room, site, building, individual, organization, program,
						or institution by a school, school system, a state, or other
						agency or entity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="itemCategory" type="itemCategoryType">
				<xs:annotation>
					<xs:documentation>Category or type of the assessment item. For
						example:
						Multiple choice
						Analytic
						Prose
						....
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxRawScore" type="xs:int">
				<xs:annotation>
					<xs:documentation>The maximum raw score achievable is all
						assessment items are correct and scored at the maximum.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="correctResponse" type="correctResponse">
				<xs:annotation>
					<xs:documentation>The correct response for the assessment item.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="learningStandardId" type="learningStandardId"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Learning Standard tested by this item.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nomenclature" type="nomenclature"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reflects the specific nomenclature used for
						AssessmentItem.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="assessmentPerformanceLevel">
		<xs:annotation>
			<xs:documentation>Definition of the performance levels and the
				associated cut scores. Three styles are supported:
				1. Specification
				of performance level by min and max score
				2. Specification of
				performance level by cut score - min only
				3. Specification of
				performance level without any mapping to scores
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="performanceLevelDescriptor" type="performanceLevelDescriptor">
				<xs:annotation>
					<xs:documentation>The performance level(s) defined for the
						assessment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assessmentReportingMethod" type="assessmentReportingMethodType">
				<xs:annotation>
					<xs:documentation>The method that the administrator of the
						assessment uses to report the performance and achievement of all
						students. It may be a qualitative method such as performance level
						descriptors or a quantitative method such as a numerical grade or
						cut score. More than one type of reporting method may be used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minimumScore" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The minimum score required to make the indicated
						level of performance.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maximumScore" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The maximum score to make the indicated level of
						performance.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="location">
		<xs:annotation>
			<xs:documentation>This entity represents the physical space where
				students gather for
				a particular class/section. The location may be
				an indoor or outdoor area
				designated for the purpose of meeting the
				educational needs of students.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="classroomIdentificationCode" type="classroomIdentificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						a room by a school, school system, state, or other agency or
						entity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maximumNumberOfSeats" type="xs:int"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The most number of seats the class can maintain.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="optimalNumberOfSeats" type="xs:int"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number of seats that is most favorable to the
						class.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="meetingTime">
		<xs:annotation>
			<xs:documentation>This entity represents the set of elements defining
				the meeting time for a class period for a bell schedule.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="classPeriodName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The class period associated with the meeting time
						for a bell schedule.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="weekNumber">
				<xs:annotation>
					<xs:documentation>The week number (out of the number of weeks in
						the cycle) for this meeting time.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1" />
						<xs:maxInclusive value="52" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="meetingDates">
				<xs:annotation>
					<xs:documentation>Dates the meetings occur</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:list itemType="xs:date"></xs:list>
				</xs:simpleType>
			</xs:element>
			<xs:element name="startTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>An indication of the time of day the class
						begins.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>An indication of the time of day the class ends.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="officialAttendancePeriod" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator of whether this meeting time is used
						for official daily attendance.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="miscellaneousEvent">
		<xs:annotation>
			<xs:documentation>A miscellaneous event, such as recess or lunch
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="eventName" type="xs:string">
			</xs:element>
			<xs:element name="eventType" type="xs:string">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="name">
		<xs:annotation>
			<xs:documentation>The set of elements that comprise a person's legal
				name.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personalTitlePrefix" type="personalTitlePrefixType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>A prefix used to denote the title, degree,
						position or
						seniority of the person.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="simpleName">
				<xs:annotation>
					<xs:documentation>A name given to an individual at birth, baptism,
						or during
						another naming ceremony, or through legal change.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="simpleName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A secondary name given to an individual at birth,
						baptism, or
						during another naming ceremony.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastSurname" type="simpleName">
				<xs:annotation>
					<xs:documentation>The name borne in common by members of a family.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generationCodeSuffix" type="generationCodeSuffixType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>An appendage, if any, used to denote an
						individual's
						generation in his family (e.g., Jr., Sr., III).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maidenName" type="simpleName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The person's maiden name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verification" type="personalInformationVerificationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The evidence presented to verify one's personal
						identity; for
						example: drivers license, passport, birth
						certificate, etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>

	</xs:complexType>

	<xs:complexType name="objectiveAssessment">
		<xs:annotation>
			<xs:documentation>This entity represents subtests that assess
				specific learning objectives.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="identificationCode" type="identificationCode">
						<xs:annotation>
							<xs:documentation>A unique number or alphanumeric code assigned
								to a space, room, site, building, individual, organization,
								program, or institution by a school, school system, a state, or
								other agency or entity.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maxRawScore" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The maximum raw score achievable across all
								assessment items that are correct and scored at the maximum.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="assessmentPerformanceLevel" type="assessmentPerformanceLevel"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Definition of the performance levels and the
								associated cut scores. Three styles are supported:
								1.
								Specification of performance level by min and max score
								2.
								Specification of performance level by cut score - min only
								3.
								Specification of performance level without any mapping to
								scores
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="percentOfAssessment" type="percent"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The percent of the assessment that tests this
								objective.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nomenclature" type="nomenclature"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reflects the specific nomenclature used for
								this level of ObjectiveAssessment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- This is how we associate assessment items and objective assessments. 
						<xs:element name="assessmentItem" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"> 
						<xs:annotation> <xs:documentation>Identifies the assessment items that this 
						objective assessment is associated with.</xs:documentation> </xs:annotation> 
						</xs:element> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="otherName">
		<xs:annotation>
			<xs:documentation>Other names (e.g., alias, nickname, previous legal
				name) associated
				with a person.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personalTitlePrefix" type="personalTitlePrefixType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>A prefix used to denote the title, degree,
						position or
						seniority of the person.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="simpleName">
				<xs:annotation>
					<xs:documentation>A name given to an individual at birth, baptism,
						or during
						another naming ceremony, or through legal change.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="simpleName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A secondary name given to an individual at birth,
						baptism, or
						during another naming ceremony.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastSurname" type="simpleName">
				<xs:annotation>
					<xs:documentation>The name borne in common by members of a family.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generationCodeSuffix" type="generationCodeSuffixType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>An appendage, if any, used to denote an
						individual's
						generation in his family (e.g., Jr., Sr., III).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherNameType" type="otherNameType">
				<xs:annotation>
					<xs:documentation>The types of alternate names for a person.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="performanceLevelDescriptor">
		<xs:annotation>
			<xs:documentation>This descriptor defines various levels or
				thresholds for performance on the assessment.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="codeValue" type="codeValue" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A code or abbreviation that is used to refer to
								a Performance Level,
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="description">
						<xs:annotation>
							<xs:documentation>The description of the Performance Level, for
								example.
								Passing
								Standard
								Commended
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="performanceBaseConversion" type="performanceBaseType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A conversion of the level to a standard set of
								performance levels.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="restraintEvent">
		<xs:annotation>
			<xs:documentation>This event entity represents the instances where a
				special education student was physically or mechanically restrained
				due to imminent serious physical harm to themselves or others,
				imminent serious property destruction, or a combination of both
				imminent serious physical harm to themselves or others and imminent
				serious property destruction.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="restraintEventIdentifier" type="restraintEventIdentifier">
						<xs:annotation>
							<xs:documentation>A unique number or alphanumeric code assigned
								to a restraint event by a school, school system, a state, or
								other agency or entity.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eventDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>Month, day and year of the restraint event.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="educationalEnvironment" type="educationalEnvironmentType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The setting where the restraint was exercised.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="restraintEventReasons" type="restraintEventReasonsType">
						<xs:annotation>
							<xs:documentation>A categorization of the circumstances or reason
								for the restraint.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="studentReference" type="reference">
						<xs:annotation>
							<xs:documentation>Reference to student that was restrained.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="programReference" type="reference"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The special education program associated with
								the restraint event.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchoolReference" type="reference">
						<xs:annotation>
							<xs:documentation>The school where the restraint event occurred.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="restraintEventReasonsType">
		<xs:annotation>
			<xs:documentation>The categorization of the circumstances or reason
				for the restraint.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="restraintEventReason" type="restraintEventReasonItemType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The categorization of the circumstances or reason
						for the restraint.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="scoreResult">
		<xs:annotation>
			<xs:documentation>A meaningful raw score or statistical expression of
				the performance of an individual. The results can be expressed as a
				number, percentile, range, level, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="result" type="result">
				<xs:annotation>
					<xs:documentation>The value of a meaningful raw score or
						statistical expression of the performance of an individual. The
						results can be expressed as a number, percentile, range, level,
						etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assessmentReportingMethod" type="assessmentReportingMethodType">
				<xs:annotation>
					<xs:documentation>The method that the administrator of the
						assessment uses to report the performance and achievement of all
						students. It may be a qualitative method such as performance level
						descriptors or a quantitative method such as a numerical grade or
						cut score. More than one type of reporting method may be used.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="secondaryBehavior">
		<xs:annotation>
			<xs:documentation>Definition of the behavior coded for use in
				describing an
				incident.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="secondaryBehavior" type="secondaryBehaviorsType">
				<xs:annotation>
					<xs:documentation>The description of the behavior of a student for
						a disipline
						incident.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="behaviorCategory" type="behaviorCategoryType">
				<xs:annotation>
					<xs:documentation>The category of the incident behavior for
						classification
						purposes
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="studentAcademicRecord">
		<xs:annotation>
			<xs:documentation>This educational entity represents the cumulative
				record of academic achievement for a student.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="cumulativeCreditsEarned" type="credits"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The cumulative number of credits an individual
								earns by completing courses or examinations during his or her
								enrollment in the current school as well as those credits
								transferred from schools in which the individual had been
								previously enrolled.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cumulativeCreditsAttempted" type="credits"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The cumulative number of credits an individual
								attempts to earn by taking courses during his or her enrollment
								in the current school as well as those credits transferred from
								schools in which the individual had been previously enrolled.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- FIXME: Neutral Schema does not appear to support xs:decimal -->
					<xs:element name="cumulativeGradePointsEarnedTimes10" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The cumulative number of grade points an
								individual earns by successfully completing courses or
								examinations during his or her enrollment in the current school
								as well as those transferred from schools in which the
								individual had been previously enrolled.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- FIXME: Neutral Schema does not appear to support xs:decimal -->
					<xs:element name="cumulativeGradePointAverageTimes10" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A measure of average performance in all courses
								taken by an individual during his or her school career as
								determined for record-keeping purposes. This is obtained by
								dividing the total grade points received by the total number of
								credits attempted. This usually includes grade points received
								and credits attempted in his or her current school as well as
								those transferred from schools in which the individual was
								previously enrolled.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gradeValueQualifier" type="gradeValueQualifier"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The scale of equivalents, if applicable, for
								grades awarded as indicators of performance in schoolwork. For
								example, numerical equivalents for letter grades used in
								determining a student's Grade Point Average (A=4, B=3, C=2, D=1
								in a four-point system) or letter equivalents for percentage
								grades (90-100%=A, 80-90%=B, etc.).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="classRanking" type="classRanking" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The academic rank information of a student in relation to his or her graduating class.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="academicHonor" type="academicHonor" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Academic distinctions earned by or awarded to the student.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recognition" type="recognition" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Recognitions given to the student for accomplishments in a co-curricular, or extra-curricular activity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="projectedGraduationDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The month and year the student is projected to graduate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="studentReference" type="reference">
						<xs:annotation>
							<xs:documentation>Identifies the student that is associated wth
								the Student Academic Record.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="sessionReference" type="reference">
						<xs:annotation>
							<xs:documentation>The session associated with the session.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reportCardReference" type="reference"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Report cards for the student.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="diplomaReference" type="reference"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Diploma(s) earned by the student.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="studentAssessmentItem">
		<xs:annotation>
			<xs:documentation>This entity represents the student's response to an
				assessment item and the item-level scores such as correct,
				incorrect, or met standard.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="assessmentResponse" type="assessmentResponse"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A student's response to a stimulus on a test.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="responseIndicator" type="responseIndicatorType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicator of the response. For example:
								Nonscorable response
								Ineffective response
								Effective response
								Partial response
								...
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="assessmentItemResult" type="assessmentItemResultType">
						<xs:annotation>
							<xs:documentation>The analyzed result of a student's response to
								an assessment item.. For example:
								Correct
								Incorrect
								Met standard
								...
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rawScoreResult" type="xs:int"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A meaningful raw score of the performance of an
								individual on an assessment item.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="studentObjectiveAssessment">
		<xs:annotation>
			<xs:documentation>This entity holds the score and or performance
				levels earned for an objective assessment by a student.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="scoreResults" type="scoreResult"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A meaningful score or statistical expression of
								the performance of an individual. The results can be expressed
								as a number, percentile, range, level, etc.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="performanceLevelDescriptors" type="performanceLevelDescriptor"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This descriptor defines various levels or
								thresholds for performance on the assessment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="objectiveAssessment" type="objectiveAssessment"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This entity represents subtests that assess
								specific learning objectives.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="telephone">
		<xs:annotation>
			<xs:documentation>The 10-digit telephone number, including the area
				code, for the
				person.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="telephoneNumber" type="telephoneNumber">
				<xs:annotation>
					<xs:documentation>The telephone number including the area code, and
						extension,
						if applicable.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telephoneNumberType" type="telephoneNumberType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of communication number listed for an
						individual or
						organization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryTelephoneNumberIndicator" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>An indication that the telephone number should be
						used as the
						principal number for an individual or organization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="disciplineAction">
		<xs:annotation>
			<xs:documentation>This event entity represents actions taken by an
				education
				organization after a disruptive event that is recorded as a
				discipline incident.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="disciplineActionIdentifier" type="disciplineActionIdentifier">
						<xs:annotation>
							<xs:documentation>Identifier assigned by the education
								organization to
								the discipline action.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disciplines" type="xs:string"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Type of action or removal from the classroom
								used to
								discipline the student involved as a perpetrator in a
								discipline
								incident.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disciplineDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>The date of the discipline action.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disciplineActionLength" type="xs:integer"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The length of time in days for the Discipline
								Action
								(e.g. removal, detention), if applicable.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="actualDisciplineActionLength" type="xs:integer"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the actual length in days of a
								student’s
								disciplinary assignment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disciplineActionLengthDifferenceReason"
						type="disciplineActionLengthDifferenceReasonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the reason for the difference, if
								any,
								between the official and actual lengths of a student’s
								disciplinary
								assignment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="studentReference" type="xs:string"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The student(s) disciplined by the discipline
								action.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="disciplineIncidentReference" type="xs:string"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Reference to the DisciplineIncident(s)
								associated with
								the DisciplineAction.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="staffReference" type="xs:string"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The staff responsible for enforcing the
								discipline
								action.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="responsibilitySchoolReference" type="xs:string">
						<xs:annotation>
							<xs:documentation>School responsible for student's
								discipline.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="assignmentSchoolReference" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>School responsible for student's
								discipline.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="electronicMail">
		<xs:annotation>
			<xs:documentation>The numbers, letters, and symbols used to identify
				an electronic mail
				(e-mail) user within the network to which the
				individual or organization
				belongs.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="emailAddress" type="electronicMailAddress">
				<xs:annotation>
					<xs:documentation>The electronic mail (e-mail) address listed for
						an individual
						or organization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emailAddressType" type="electronicMailAddressType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of email listed for an individual or
						organization. For
						example: Home/Personal, Work, etc.)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- <xs:complexType name="raceType"> <xs:annotation> <xs:documentation>The 
		general racial category which most clearly reflects the individual's recognition 
		of his or her community or with which the individual most identifies. </xs:documentation> 
		</xs:annotation> <xs:sequence> <xs:element name="racialCategory" type="raceItemType" 
		minOccurs="0" maxOccurs="unbounded"> <xs:annotation> <xs:documentation>Zero 
		or more racial categories associated with the student or staff. </xs:documentation> 
		</xs:annotation> </xs:element> </xs:sequence> </xs:complexType> -->

	<xs:complexType name="address">
		<xs:annotation>
			<xs:documentation>The set of elements that describes an address,
				including the street
				address, city, state, and ZIP code.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="streetNumberName">
				<xs:annotation>
					<xs:documentation>The street number and street name or post office
						box number of
						an address.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="streetNumberName">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="apartmentRoomSuiteNumber" type="apartmentRoomSuiteNumber"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The apartment, room, or suite number of an
						address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="buildingSiteNumber" type="buildingSiteNumber"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number of the building on the site, if more
						than one
						building shares the same address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="city">
				<xs:annotation>
					<xs:documentation>The name of the city in which an address is
						located.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stateAbbreviation" type="stateAbbreviationType">
				<xs:annotation>
					<xs:documentation>The abbreviation for the state (within the United
						States) or
						outlying area in which an address is located.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCode" type="postalCode">
				<xs:annotation>
					<xs:documentation>The five or nine digit zip code or overseas
						postal code
						portion of an address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameOfCounty" type="nameOfCounty"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the county, parish, borough, or
						comparable unit
						(within a state) in which an address is located.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countyFIPSCode" type="countyFIPSCode"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Federal Information Processing Standards
						(FIPS) numeric
						code for the county issued by the National Institute
						of Standards and
						Technology (NIST). Counties are considered to be
						the "first-order
						subdivisions" of each State and statistically
						equivalent entity,
						regardless
						of their local designations (county,
						parish, borough, etc.).
						Counties in
						different States will have the
						same code. A unique county number is created
						when combined with the
						2-digit FIPS State Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="countryCodeType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique two character International
						Organization for
						Standardization (ISO) code for the country in
						which an address is located.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latitude" type="coordinate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The geographic latitude of the physical address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longitude" type="coordinate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The geographic longitude of the physical address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="openDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The first date the address is valid. For physical
						addresses,
						the date the person moved to that address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="closeDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The last date the address is valid. For physical
						addresses,
						this would be the date the person moved from that
						address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressType" type="addressType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of address listed for an individual or
						organization.
						For
						example: Physical Address, Mailing Address, Home
						Address, etc.)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="academicSubjectsType">
		<xs:annotation>
			<xs:documentation>The teaching field(s) taught by an individual, for
				example
				English/Language Arts, Reading, Mathematics, Science, Social
				Sciences, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="academicSubject" type="academicSubjectType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The description of the content or subject area
						(e.g., arts,
						mathematics, reading, stenography, or a foreign
						language) of an assessment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="academicWeek">
		<xs:annotation>
			<xs:documentation>This entity represents the academic weeks for a
				school year, optionally captured to support analyses.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="weekIdentifier" type="weekIdentifier">
						<xs:annotation>
							<xs:documentation>The school label for the week.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>The start date for the academic week.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>The end date for the academic week.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalInstructionalDays" type="xs:int">
						<xs:annotation>
							<xs:documentation>The total instructional days during the
								academic week.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="calendarDateReference" type="reference"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Days associated with the grading period.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="credits">
		<xs:annotation>
			<xs:documentation>Credits or units of value awarded for the
				completion of a course
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="credit">
				<xs:annotation>
					<xs:documentation>The value of credits or units of value awarded
						for the completion of a course
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="creditType" type="creditType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of credits or units of value awarded for
						the completion of a course
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditConversion" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Conversion factor that when multiplied by the
						number of credits is equivalent to Carnegie units.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="diploma">
		<xs:annotation>
			<xs:documentation>This educational entity represents the conferring
				or certification by an educational organization that the student has
				successfully completed a particular course of study. It represents
				the electronic version of its physical document counterpart.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="diplomaAwardDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>The month, day, and year on which the student
								met graduation requirements and was awarded a diploma.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="diplomaLevel" type="diplomaLevelType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The level of diploma/credential that is awarded
								to a student in recognition of his/her completion of the
								curricular requirements.
								Minimum high school program
								Recommended
								high school program
								Distinguished Achievement Program
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="diplomaType" type="diplomaType">
						<xs:annotation>
							<xs:documentation>The type of diploma/credential that is awarded
								to a student in recognition of his/her completion of the
								curricular requirements.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cteCompleter" type="xs:boolean"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicated a student who reached a state–defined
								threshold of vocational education and who attained a high school
								diploma or its recognized state equivalent or GED.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="academicHonor" type="academicHonor"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Academic distinctions earned by or awarded to
								the student.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recognition" type="recognition"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Recognitions given to the student for
								accomplishments in a co-curricular, or extra-curricular
								activity.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="schoolReference" type="reference">
						<xs:annotation>
							<xs:documentation>The school that offers the diploma.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="learningObjectiveIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be
				used to lookup the identity of the Learning Objectives.
			</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="learningObjectiveId" type="learningStandardId">
				<xs:annotation>
					<xs:documentation>The Identifier for the specific learning
						objective in the context of a standard (e.g., 111.15.3.1.A)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="objective" type="objective">
				<xs:annotation>
					<xs:documentation>The designated title of the learning objective.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="learningStandardIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be
				used to lookup the identity of the Learning Standards.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="learningStandardId" type="learningStandardId"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provide user information to lookup and link to an
						existing learning standard record in the receiving system
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="gradingPeriod">
		<xs:annotation>
			<xs:documentation>
				This entity represents the time span for which
				grades are reported.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="gradingPeriod" type="gradingPeriodType">
						<xs:annotation>
							<xs:documentation>
								The name of the period for which grades are
								reported
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								Month, day, and year of the first day of the
								grading period.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								Month, day, and year of the last day of the
								grading period.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalInstructionalDays">
						<xs:annotation>
							<xs:documentation>
								Total days available for educational
								instruction during the grading period.
							</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="0" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="learningObjective">
		<xs:annotation>
			<xs:documentation>This entity represents identified learning
				objectives for courses in specific grades.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="learningObjectiveId" type="learningStandardId"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Identifier for the specific learning
								objective in the context of a standard (e.g., 111.15.3.1.A)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="objective" type="objective">
						<xs:annotation>
							<xs:documentation>The designated title of the learning objective.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="description"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The description of the learning objective.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="academicSubject" type="academicSubjectType">
						<xs:annotation>
							<xs:documentation>The description of the content or subject area
								(e.g., arts, mathematics, reading, stenography, or a foreign
								language) of an assessment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="objectiveGradeLevel" type="gradeLevelType">
						<xs:annotation>
							<xs:documentation>The grade level for which the learning
								objective is targeted,
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="learningStandardReference" type="reference"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Learning standard(s) included in this
								objective.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="learningObjectiveReference" type="reference"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Lower level learning objectives, or
								sub-objectives.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="learningStandard">
		<xs:annotation>
			<xs:documentation>This entity is a subelement of a learning objective
				consisting of a precise statement of the expectation of a student's
				proficiency.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="learningStandardId" type="learningStandardId">
				<xs:annotation>
					<xs:documentation>The Identifier for the specific learning standard
						(e.g., 111.15.3.1.A)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="description">
				<xs:annotation>
					<xs:documentation>A detailed statement of the expectation that is
						is assessed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contentStandard" type="contentStandardType">
				<xs:annotation>
					<xs:documentation>A reference to the type of content standard e.g.,
						state, national, etc.)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gradeLevel" type="gradeLevelType">
				<xs:annotation>
					<xs:documentation>The grade level for the specific learning
						standard.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subjectArea" type="academicSubjectType">
				<xs:annotation>
					<xs:documentation>Subject area for the learning standard.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="courseTitle" type="courseTitle"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The official Course Title with which this
						learning standard is associated.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="learningStandardId">
		<xs:annotation>
			<xs:documentation>The identifier for the learning standard.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificationCode" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						a learning Standard.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contentStandardName" type="contentStandardName"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the content standard from which the
						learning standard was derived.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="courseCode">
		<xs:annotation>
			<xs:documentation>A standard code that identifies the organization of
				subject matter and related learning experiences provided for the
				instruction of students.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						a course by a school, school system, a state, or other agency or
						entity. For multi-part course codes, concatenate the parts
						separated by a "/". For example, consider the following SCED code:
						subject = 20 Math
						course = 272 Geometry
						level = G General
						credits =
						1.00
						course sequence 1 of 1
						would be entered as 20/272/G/1.00/1 of 1
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identificationSystem" type="courseCodeSystemType">
				<xs:annotation>
					<xs:documentation>A system that is used to identify the
						organization
						of subject matter and related learning experiences
						provided for the
						instruction of students.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assigningOrganizationCode" type="identificationCode"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The organization code or name assigning the staff
						Identification Code.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="academicHonor">
		<xs:annotation>
			<xs:documentation>Academic distinctions earned by or awarded to the
				student
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="academicHonorsType" type="academicHonorsType">
				<xs:annotation>
					<xs:documentation>A designation of the type of academic
						distinctions earned by or awarded to the student.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="honorsDescription" type="honorsDescription"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>A description of the type of academic
						distinctions earned by or awarded to the individual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="honorAwardDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the honor was awarded or earned.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="assessmentPeriodDescriptor">
		<xs:annotation>
			<xs:documentation>This descriptor holds the period or window in which
				an assessment is supposed to be administered (e.g., Beginning of
				Year, Middle of Year, End of Year).
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="codeValue" type="codeValue">
						<xs:annotation>
							<xs:documentation>A code or abbreviation that is used to refer to
								an Assessment Period.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="description">
						<xs:annotation>
							<xs:documentation>The description of the Assessment Period.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="shortDescription" type="shortDescription"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A shortened description for reference.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="beginDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The first date the assessment is to be
								administered.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The last date the assessment is to be
								administered.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="behaviorDescriptor">
		<xs:annotation>
			<xs:documentation>This descriptor holds the categories of behavior
				describing a
				discipline incident.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="codeValue" type="codeValue">
						<xs:annotation>
							<xs:documentation>A code or abbreviation that is used to refer to
								the
								behavior category.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="shortDescription" type="shortDescription">
						<xs:annotation>
							<xs:documentation>A shortened description for the
								behavior.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="description"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The description of the behavior.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="behaviorCategory" type="behaviorCategoryType">
						<xs:annotation>
							<xs:documentation>A classification of the behavior for reporting
								types.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="educationOrganizationReference" type="xs:string"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The Education Organization associated with the
								behavior codes.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="calendarDate">
		<xs:annotation>
			<xs:documentation>This entity represents a day in the school
				calendar.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="date" type="xs:date">
						<xs:annotation>
							<xs:documentation>The month, day and year of the calendar date.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="calendarEvent" type="calendarEventType">
						<xs:annotation>
							<xs:documentation>The type of scheduled or unscheduled event for
								the day. For example:
								Instructional day
								Teacher only day
								Holiday
								Make-up day
								Weather day
								Student late arrival/early dismissal
								...
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="classRanking">
		<xs:annotation>
			<xs:documentation>
				The academic rank information of a student in
				relation to his or her
				graduating class
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="classRank" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						The academic rank of a student in relation to his
						or her graduating
						class
						(e.g., 1st, 2nd, 3rd).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNumberInClass" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						The total number of students in the student's
						graduating class.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="percentageRanking" type="xs:int"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The academic percentage rank of a student in
						relation to his or her
						graduating class
						(e.g., 95%, 80%, 50%).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classRankingDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date class ranking was determined.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="recognition">
		<xs:annotation>
			<xs:documentation>
				Recognition given to the student for
				accomplishments in a co-curricular, or
				extra-curricular activity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="recognitionType" type="recognitionType">
				<xs:annotation>
					<xs:documentation>
						The nature of recognition given to the student
						for accomplishments in
						a co-curricular, or
						extra-curricular
						activity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recognitionDescription" type="recognitionDescription"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A description of the type of academic
						distinctions earned by or
						awarded to the individual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recognitionAwardDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the recognition was awarded or earned.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="weaponsType">
		<xs:annotation>
			<xs:documentation>Identifies the type of weapon used during an
				incident.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="weapon" type="weaponItemType" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Zero or more selection of the weapon(s).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
