sli/common/domain/src/main/resources/sliXsd/ComplexTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- no namespace defined here - this file is intended to be included into higher level XSD files -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:include schemaLocation="SimpleTypes.xsd" />

    <xs:complexType name="ComplexObjectType" abstract="true">
        <xs:attribute name="id" type="xs:ID">
            <xs:annotation>
                <xs:documentation>The XML ID associated with the complex object.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Name">
        <xs:annotation>
            <xs:documentation>The set of elements that comprise a person's legal name.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PersonalTitlePrefix" type="PersonalTitlePrefixType"
                minOccurs="0"
            >
                <xs:annotation>
                    <xs:documentation>A prefix used to denote the title, degree, position or
                        seniority of the person.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="SimpleName">
                <xs:annotation>
                    <xs:documentation>A name given to an individual at birth, baptism, or during
                        another naming ceremony, or through legal change.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" type="SimpleName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A secondary name given to an individual at birth, baptism, or
                        during another naming ceremony.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastSurname" type="SimpleName">
                <xs:annotation>
                    <xs:documentation>The name borne in common by members of a family.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GenerationCodeSuffix" type="GenerationCodeSuffixType"
                minOccurs="0"
            >
                <xs:annotation>
                    <xs:documentation>An appendage, if any, used to denote an individual's
                        generation in his family (e.g., Jr., Sr., III).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaidenName" type="SimpleName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The person's maiden name.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Verification" type="PersonalInformationVerificationType"
            use="optional"
        >
            <xs:annotation>
                <xs:documentation>The evidence presented to verify one's personal identity; for
                    example: drivers license, passport, birth certificate, etc.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="OtherName">
        <xs:annotation>
            <xs:documentation>Other names (e.g., alias, nickname, previous legal name) associated
                with a person.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PersonalTitlePrefix" type="PersonalTitlePrefixType"
                minOccurs="0"
            >
                <xs:annotation>
                    <xs:documentation>A prefix used to denote the title, degree, position or
                        seniority of the person.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="SimpleName">
                <xs:annotation>
                    <xs:documentation>A name given to an individual at birth, baptism, or during
                        another naming ceremony, or through legal change.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" type="SimpleName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A secondary name given to an individual at birth, baptism, or
                        during another naming ceremony.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastSurname" type="SimpleName">
                <xs:annotation>
                    <xs:documentation>The name borne in common by members of a family.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GenerationCodeSuffix" type="GenerationCodeSuffixType"
                minOccurs="0"
            >
                <xs:annotation>
                    <xs:documentation>An appendage, if any, used to denote an individual's
                        generation in his family (e.g., Jr., Sr., III).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="OtherNameType" type="OtherNameType" use="required">
            <xs:annotation>
                <xs:documentation>The types of alternate names for a person.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Telephone">
        <xs:annotation>
            <xs:documentation>The 10-digit telephone number, including the area code, for the
                person.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TelephoneNumber" type="TelephoneNumber">
                <xs:annotation>
                    <xs:documentation>The telephone number including the area code, and extension,
                        if applicable.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="TelephoneNumberType" type="TelephoneNumberType" use="optional">
            <xs:annotation>
                <xs:documentation>The type of communication number listed for an individual or
                    organization.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PrimaryTelephoneNumberIndicator" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>An indication that the telephone number should be used as the
                    principal number for an individual or organization.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="ElectronicMail">
        <xs:annotation>
            <xs:documentation>The numbers, letters, and symbols used to identify an electronic mail
                (e-mail) user within the network to which the individual or organization belongs.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EmailAddress" type="ElectronicMailAddress">
                <xs:annotation>
                    <xs:documentation>The electronic mail (e-mail) address listed for an individual
                        or organization.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="EmailAddressType" type="ElectronicMailAddressType" use="optional">
            <xs:annotation>
                <xs:documentation>The type of email listed for an individual or organization. For
                    example: Home/Personal, Work, etc.)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="RaceType">
        <xs:annotation>
            <xs:documentation>The general racial category which most clearly reflects the
                individual's recognition of his or her community or with which the individual most
                identifies.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RacialCategory" type="RaceItemType" minOccurs="0"
                maxOccurs="unbounded"
            >
                <xs:annotation>
                    <xs:documentation>Zero or more racial categories associated with the student or
                        staff.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Address">
        <xs:annotation>
            <xs:documentation>The set of elements that describes an address, including the street
                address, city, state, and ZIP code.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StreetNumberName">
                <xs:annotation>
                    <xs:documentation>The street number and street name or post office box number of
                        an address.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="StreetNumberName">
                        <xs:maxLength value="40" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ApartmentRoomSuiteNumber" type="ApartmentRoomSuiteNumber"
                minOccurs="0"
            >
                <xs:annotation>
                    <xs:documentation>The apartment, room, or suite number of an address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuildingSiteNumber" type="BuildingSiteNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of the building on the site, if more than one
                        building shares the same address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="City">
                <xs:annotation>
                    <xs:documentation>The name of the city in which an address is located.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StateAbbreviation" type="StateAbbreviationType">
                <xs:annotation>
                    <xs:documentation>The abbreviation for the state (within the United States) or
                        outlying area in which an address is located.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostalCode" type="PostalCode">
                <xs:annotation>
                    <xs:documentation>The five or nine digit zip code or overseas postal code
                        portion of an address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NameOfCounty" type="NameOfCounty" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The name of the county, parish, borough, or comparable unit
                        (within a state) in which an address is located.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountyFIPSCode" type="CountyFIPSCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The Federal Information Processing Standards (FIPS) numeric
                        code for the county issued by the National Institute of Standards and
                        Technology (NIST). Counties are considered to be the "first-order
                        subdivisions" of each State and statistically equivalent entity, regardless
                        of their local designations (county, parish, borough, etc.). Counties in
                        different States will have the same code. A unique county number is created
                        when combined with the 2-digit FIPS State Code
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCode" type="CountryCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The unique two character International Organization for
                        Standardization (ISO) code for the country in which an address is located.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Latitude" type="Coordinate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The geographic latitude of the physical address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Longitude" type="Coordinate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The geographic longitude of the physical address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OpenDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The first date the address is valid. For physical addresses,
                        the date the person moved to that address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CloseDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The last date the address is valid. For physical addresses,
                        this would be the date the person moved from that address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="AddressType" type="AddressType" use="optional">
            <xs:annotation>
                <xs:documentation>The type of address listed for an individual or organization.
                    For
                    example: Physical Address, Mailing Address, Home Address, etc.)
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="GradeLevelsType">
        <xs:annotation>
            <xs:documentation>The enumerated collection for specifying one or more grade levels.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GradeLevel" type="GradeLevelType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The specification of the grade level.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AcademicSubjectsType">
        <xs:annotation>
            <xs:documentation>The teaching field(s) taught by an individual, for example
                English/Language Arts, Reading, Mathematics, Science, Social Sciences, etc.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcademicSubject" type="AcademicSubjectType" minOccurs="0"
                maxOccurs="unbounded"
            >
                <xs:annotation>
                    <xs:documentation>The description of the content or subject area (e.g., arts,
                        mathematics, reading, stenography, or a foreign language) of an assessment.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Credits">
        <xs:annotation>
            <xs:documentation>Credits or units of value awarded for the
                completion of a course
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Credit">
                <xs:annotation>
                    <xs:documentation>The value of credits or units of value awarded
                        for the completion of a course
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0" />
                        <xs:fractionDigits value="2" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="CreditType" type="CreditType" use="optional">
            <xs:annotation>
                <xs:documentation>The type of credits or units of value awarded for
                    the completion of a course
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CreditConversion" type="xs:decimal" use="optional">
            <xs:annotation>
                <xs:documentation>Conversion factor that when multiplied by the
                    number of credits is equivalent to Carnegie units.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

	<xs:complexType name="LearningObjectiveIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the identity of the Learning Objectives.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="LearningObjectiveId" type="LearningStandardId">
				<xs:annotation>
					<xs:documentation>The Identifier for the specific learning objective in the context of a standard (e.g., 111.15.3.1.A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Objective" type="Objective">
				<xs:annotation>
					<xs:documentation>The designated title of the learning objective.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="LearningStandardIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the identity of the Learning Standards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LearningStandardId" type="LearningStandardId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provide user information to lookup and link to an existing learning standard record in the receiving system</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LearningStandardId">
		<xs:annotation>
			<xs:documentation>The identifier for the learning standard.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentificationCode" type="IdentificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to a learning Standard.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ContentStandardName" type="ContentStandardName" use="optional">
			<xs:annotation>
				<xs:documentation>The name of the content standard from which the learning standard was derived.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

    <xs:complexType name="CourseCode">
        <xs:annotation>
            <xs:documentation>A standard code that identifies the organization of subject matter and related learning experiences provided for the instruction of students.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ID" type="IdentificationCode">
                <xs:annotation>
                    <xs:documentation>A unique number or alphanumeric code assigned to a course by a school, school system, a state, or other agency or entity.  For multi-part course codes, concatenate the parts separated by a "/".  For example, consider the following SCED code:
                        subject = 20 Math
                        course = 272 Geometry
                        level = G General
                        credits = 1.00
                        course sequence 1 of 1
                        would be entered as 20/272/G/1.00/1 of 1</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="IdentificationSystem" type="CourseCodeSystemType" use="required">
            <xs:annotation>
                <xs:documentation>A system that is used to identify the organization of subject matter and related learning experiences provided for the instruction of students.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AssigningOrganizationCode" type="IdentificationCode" use="optional">
            <xs:annotation>
                <xs:documentation>The organization code or name assigning the staff Identification Code.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="CourseLevelCharacteristicsType">
        <xs:annotation>
            <xs:documentation>Indication of the nature and difficulty of instruction: remedial, basic, honors, Ap, IB, Dual Credit, CTE. etc. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CourseLevelCharacteristic" type="CourseLevelCharacteristicItemType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Specification of the specific program or designation associated with the course. For example: Ap, IB, Dual Credit, CTE. etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AcademicHonor">
        <xs:annotation>
            <xs:documentation>Academic distinctions earned by or awarded to the student</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcademicHonorsType" type="AcademicHonorsType">
                <xs:annotation>
                    <xs:documentation>A designation of the type of academic distinctions earned by or awarded to the student.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HonorsDescription" type="HonorsDescription" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A description of the type of academic distinctions earned by or awarded to the individual.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HonorAwardDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date the honor was awarded or earned.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>    
    
    <xs:complexType name="ClassRanking">
        <xs:annotation>
            <xs:documentation>
                The academic rank information of a student in relation to his or her graduating class
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClassRank" type="xs:int">
                <xs:annotation>
                    <xs:documentation>
                        The academic rank of a student in relation to his or her graduating class
                        (e.g., 1st, 2nd, 3rd).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TotalNumberInClass" type="xs:int">
                <xs:annotation>
                    <xs:documentation>
                        The total number of students in the student's graduating class.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PercentageRanking" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The academic percentage rank of a student in relation to his or her graduating class
                        (e.g., 95%, 80%, 50%).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClassRankingDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Date class ranking was determined.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Recognition">
        <xs:annotation>
            <xs:documentation>
                Recognition given to the student for accomplishments in a co-curricular, or extra-curricular activity.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RecognitionType" type="RecognitionType">
                <xs:annotation>
                    <xs:documentation>
                        The nature of recognition given to the student for accomplishments in a co-curricular, or
                        extra-curricular activity.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RecognitionDescription" type="RecognitionDescription" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        A description of the type of academic distinctions earned by or awarded to the individual.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RecognitionAwardDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date the recognition was awarded or earned.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    

</xs:schema>
