sli/common/domain/src/main/resources/sliXsd/ComplexTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="qualified"
	xmlns:sli="http://slc-sli/ed-org/0.1">

	<xs:include schemaLocation="SimpleTypes.xsd" />

	<xs:complexType name="complexObjectType" abstract="true">
	</xs:complexType>

	<xs:complexType name="name">
		<xs:annotation>
			<xs:documentation>The set of elements that comprise a person's legal
				name.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personalTitlePrefix" type="personalTitlePrefixType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>A prefix used to denote the title, degree,
						position or
						seniority of the person.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="simpleName">
				<xs:annotation>
					<xs:documentation>A name given to an individual at birth, baptism,
						or during
						another naming ceremony, or through legal change.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="simpleName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A secondary name given to an individual at birth,
						baptism, or
						during another naming ceremony.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastSurname" type="simpleName">
				<xs:annotation>
					<xs:documentation>The name borne in common by members of a family.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generationCodeSuffix" type="generationCodeSuffixType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>An appendage, if any, used to denote an
						individual's
						generation in his family (e.g., Jr., Sr., III).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maidenName" type="simpleName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The person's maiden name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verification" type="personalInformationVerificationType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The evidence presented to verify one's personal
						identity; for
						example: drivers license, passport, birth
						certificate, etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>

	</xs:complexType>

	<xs:complexType name="otherName">
		<xs:annotation>
			<xs:documentation>Other names (e.g., alias, nickname, previous legal
				name) associated
				with a person.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="personalTitlePrefix" type="personalTitlePrefixType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>A prefix used to denote the title, degree,
						position or
						seniority of the person.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="simpleName">
				<xs:annotation>
					<xs:documentation>A name given to an individual at birth, baptism,
						or during
						another naming ceremony, or through legal change.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="simpleName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A secondary name given to an individual at birth,
						baptism, or
						during another naming ceremony.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastSurname" type="simpleName">
				<xs:annotation>
					<xs:documentation>The name borne in common by members of a family.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="generationCodeSuffix" type="generationCodeSuffixType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>An appendage, if any, used to denote an
						individual's
						generation in his family (e.g., Jr., Sr., III).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherNameType" type="otherNameType">
				<xs:annotation>
					<xs:documentation>The types of alternate names for a person.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>

	</xs:complexType>

	<xs:complexType name="telephone">
		<xs:annotation>
			<xs:documentation>The 10-digit telephone number, including the area
				code, for the
				person.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="telephoneNumber" type="telephoneNumber">
				<xs:annotation>
					<xs:documentation>The telephone number including the area code, and
						extension,
						if applicable.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telephoneNumberType" type="telephoneNumberType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of communication number listed for an
						individual or
						organization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryTelephoneNumberIndicator" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>An indication that the telephone number should be
						used as the
						principal number for an individual or organization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="electronicMail">
		<xs:annotation>
			<xs:documentation>The numbers, letters, and symbols used to identify
				an electronic mail
				(e-mail) user within the network to which the
				individual or organization
				belongs.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="emailAddress" type="electronicMailAddress">
				<xs:annotation>
					<xs:documentation>The electronic mail (e-mail) address listed for
						an individual
						or organization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emailAddressType" type="electronicMailAddressType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of email listed for an individual or
						organization. For
						example: Home/Personal, Work, etc.)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

<!--  
	<xs:complexType name="raceType">
		<xs:annotation>
			<xs:documentation>The general racial category which most clearly
				reflects the
				individual's recognition of his or her community or with
				which the individual
				most
				identifies.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="racialCategory" type="raceItemType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Zero or more racial categories associated with
						the student or
						staff.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
-->

	<xs:complexType name="address">
		<xs:annotation>
			<xs:documentation>The set of elements that describes an address,
				including the street
				address, city, state, and ZIP code.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="streetNumberName">
				<xs:annotation>
					<xs:documentation>The street number and street name or post office
						box number of
						an address.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="streetNumberName">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="apartmentRoomSuiteNumber" type="apartmentRoomSuiteNumber"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The apartment, room, or suite number of an
						address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="buildingSiteNumber" type="buildingSiteNumber"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The number of the building on the site, if more
						than one
						building shares the same address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="city">
				<xs:annotation>
					<xs:documentation>The name of the city in which an address is
						located.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stateAbbreviation" type="stateAbbreviationType">
				<xs:annotation>
					<xs:documentation>The abbreviation for the state (within the United
						States) or
						outlying area in which an address is located.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCode" type="postalCode">
				<xs:annotation>
					<xs:documentation>The five or nine digit zip code or overseas
						postal code
						portion of an address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameOfCounty" type="nameOfCounty"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the county, parish, borough, or
						comparable unit
						(within a state) in which an address is located.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countyFIPSCode" type="countyFIPSCode"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Federal Information Processing Standards
						(FIPS) numeric
						code for the county issued by the National Institute
						of Standards and
						Technology (NIST). Counties are considered to be
						the "first-order
						subdivisions" of each State and statistically
						equivalent entity,
						regardless
						of their local designations (county,
						parish, borough, etc.).
						Counties in
						different States will have the
						same code. A unique county number is created
						when combined with the
						2-digit FIPS State Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="countryCodeType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The unique two character International
						Organization for
						Standardization (ISO) code for the country in
						which an address is located.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latitude" type="coordinate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The geographic latitude of the physical address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longitude" type="coordinate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The geographic longitude of the physical address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="openDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The first date the address is valid. For physical
						addresses,
						the date the person moved to that address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="closeDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The last date the address is valid. For physical
						addresses,
						this would be the date the person moved from that
						address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressType" type="addressType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of address listed for an individual or
						organization.
						For
						example: Physical Address, Mailing Address, Home
						Address, etc.)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="academicSubjectsType">
		<xs:annotation>
			<xs:documentation>The teaching field(s) taught by an individual, for
				example
				English/Language Arts, Reading, Mathematics, Science, Social
				Sciences, etc.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="academicSubject" type="academicSubjectType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The description of the content or subject area
						(e.g., arts,
						mathematics, reading, stenography, or a foreign
						language) of an assessment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="credits">
		<xs:annotation>
			<xs:documentation>Credits or units of value awarded for the
				completion of a course
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="credit">
				<xs:annotation>
					<xs:documentation>The value of credits or units of value awarded
						for the completion of a course
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="creditType" type="creditType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of credits or units of value awarded for
						the completion of a course
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creditConversion" type="xs:double"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Conversion factor that when multiplied by the
						number of credits is equivalent to Carnegie units.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="learningObjectiveIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be
				used to lookup the identity of the Learning Objectives.
			</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="learningObjectiveId" type="learningStandardId">
				<xs:annotation>
					<xs:documentation>The Identifier for the specific learning
						objective in the context of a standard (e.g., 111.15.3.1.A)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="objective" type="objective">
				<xs:annotation>
					<xs:documentation>The designated title of the learning objective.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="learningStandardIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be
				used to lookup the identity of the Learning Standards.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="learningStandardId" type="learningStandardId"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Provide user information to lookup and link to an
						existing learning standard record in the receiving system
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="learningStandardId">
		<xs:annotation>
			<xs:documentation>The identifier for the learning standard.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificationCode" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						a learning Standard.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contentStandardName" type="contentStandardName"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of the content standard from which the
						learning standard was derived.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="courseCode">
		<xs:annotation>
			<xs:documentation>A standard code that identifies the organization of
				subject matter and related learning experiences provided for the
				instruction of students.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						a course by a school, school system, a state, or other agency or
						entity. For multi-part course codes, concatenate the parts
						separated by a "/". For example, consider the following SCED code:
						subject = 20 Math
						course = 272 Geometry
						level = G General
						credits =
						1.00
						course sequence 1 of 1
						would be entered as 20/272/G/1.00/1 of 1
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identificationSystem" type="courseCodeSystemType">
				<xs:annotation>
					<xs:documentation>A system that is used to identify the
						organization
						of subject matter and related learning experiences
						provided for the
						instruction of students.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assigningOrganizationCode" type="identificationCode"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The organization code or name assigning the staff
						Identification Code.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="courseLevelCharacteristicsType">
		<xs:annotation>
			<xs:documentation>Indication of the nature and difficulty of
				instruction: remedial, basic, honors, Ap, IB, Dual Credit, CTE. etc.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="courseLevelCharacteristic" type="courseLevelCharacteristicItemType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specification of the specific program or
						designation associated with the course. For example: Ap, IB, Dual
						Credit, CTE. etc.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="academicHonor">
		<xs:annotation>
			<xs:documentation>Academic distinctions earned by or awarded to the
				student
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="academicHonorsType" type="academicHonorsType">
				<xs:annotation>
					<xs:documentation>A designation of the type of academic
						distinctions earned by or awarded to the student.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="honorsDescription" type="honorsDescription"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>A description of the type of academic
						distinctions earned by or awarded to the individual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="honorAwardDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the honor was awarded or earned.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="classRanking">
		<xs:annotation>
			<xs:documentation>
				The academic rank information of a student in
				relation to his or her
				graduating class
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="classRank" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						The academic rank of a student in relation to his
						or her graduating
						class
						(e.g., 1st, 2nd, 3rd).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalNumberInClass" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						The total number of students in the student's
						graduating class.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="percentageRanking" type="xs:int"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The academic percentage rank of a student in
						relation to his or her
						graduating class
						(e.g., 95%, 80%, 50%).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classRankingDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date class ranking was determined.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="recognition">
		<xs:annotation>
			<xs:documentation>
				Recognition given to the student for
				accomplishments in a co-curricular, or
				extra-curricular activity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="recognitionType" type="recognitionType">
				<xs:annotation>
					<xs:documentation>
						The nature of recognition given to the student
						for accomplishments in
						a co-curricular, or
						extra-curricular
						activity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recognitionDescription" type="recognitionDescription"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						A description of the type of academic
						distinctions earned by or
						awarded to the individual.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recognitionAwardDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the recognition was awarded or earned.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


</xs:schema>
