sli/common/domain/src/main/resources/sliXsd/Discipline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://slc-sli/ed-org/0.1"
	targetNamespace="http://slc-sli/ed-org/0.1" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:include schemaLocation="ReferenceTypes.xsd"/>

	<!-- CORE ENTITIES FOR DISCIPLINE -->

	<xs:complexType name="DisciplineAction">
		<xs:annotation>
			<xs:documentation>This event entity represents actions taken by an education
				organization after a disruptive event that is recorded as a discipline incident.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="DisciplineActionIdentifier" type="DisciplineActionIdentifier">
						<xs:annotation>
							<xs:documentation>Identifier assigned by the education organization to
								the discipline action. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Disciplines" type="BehaviorDescriptorSimpleReference"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Type of action or removal from the classroom used to
								discipline the student involved as a perpetrator in a discipline
								incident. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DisciplineDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>The date of the discipline action. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DisciplineActionLength" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The length of time in days for the Discipline Action
								(e.g. removal, detention), if applicable. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ActualDisciplineActionLength" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the actual length in days of a student’s
								disciplinary assignment. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DisciplineActionLengthDifferenceReason"
						type="DisciplineActionLengthDifferenceReasonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the reason for the difference, if any,
								between the official and actual lengths of a student’s disciplinary
								assignment.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="StudentReference" type="StudentSimpleReference"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The student(s) disciplined by the discipline
								action.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="DisciplineIncidentReference" type="DisciplineIncidentSimpleReference"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Reference to the DisciplineIncident(s) associated with
								the DisciplineAction.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="StaffReference" type="StaffSimpleReference" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The staff responsible for enforcing the discipline
								action.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="ResponsibilitySchoolReference" type="SchoolSimpleReference">
						<xs:annotation>
							<xs:documentation>School responsible for student's
								discipline.</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="AssignmentSchoolReference" type="SchoolSimpleReference"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>School responsible for student's
								discipline.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="DisciplineIncident">
		<xs:annotation>
			<xs:documentation>This event entity represents an occurrence of an infraction ranging
				from a minor problem behavior that disrupts the orderly functioning of a school or
				classroom (such as tardiness) to a criminal act that results in the involvement of a
				law enforcement official (such as robbery). A single event (e.g., a fight) is one
				incident regardless of how many perpetrators or victims are involved. Discipline
				incidents are events classified as warranting discipline action. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IncidentIdentifier" type="IncidentIdentifier">
					<xs:annotation>
						<xs:documentation>A locally assigned unique identifier (within the
							school or school district) to identify each specific incident or
							occurrence. The same identifier should be used to document the
							entire incident even if it included multiple offenses and multiple
							offenders. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IncidentDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>The month, day, and year on which the incident
							occurred. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IncidentTime" type="xs:time">
					<xs:annotation>
						<xs:documentation>An indication of the time of day the incident took
							place.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IncidentLocation" type="IncidentLocationType">
					<xs:annotation>
						<xs:documentation>Identifies where the incident occurred and whether or
							not it occurred on school, for example: On school Administrative
							offices area Cafeteria area Classroom Hallway or stairs
							...</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReporterDescription" type="ReporterDescriptionType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information on the type of individual who reported the
							incident. When known and/or if useful, use a more specific option
							code (e.g., "Counselor" rather than "Professional Staff"); for
							example: Student Parent/guardian Law enforcement officer Nonschool
							personnel Representative of visiting school ...</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReporterName" type="ReporterName" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifies the reporter of the incident by
							name.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Behaviors" type="BehaviorDescriptorSimpleReference"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Categories of behavior coded for use in describing an
							incident. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SecondaryBehaviors" type="SecondaryBehavior" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Supplemental categorization about an incident
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Weapons" type="WeaponsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifies the type of weapon used during an incident.
							The Federal Gun-Free Schools Act requires states to report the
							number of students expelled for bringing firearms to school by type
							of firearm.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReportedToLawEnforcement" type="xs:boolean" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicator of whether the incident was reported to law
							enforcement.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CaseNumber" type="CaseNumber" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The case number assigned to the incident by law
							enforcement or other organization.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SchoolReference" type="SchoolSimpleReference">
					<xs:annotation>
						<xs:documentation>School where incident occurred</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StaffReference" type="StaffSimpleReference" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifies the staff reporter of the incident by use
							of a pre-existing school or district unique
							identifier.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="StudentDisciplineIncidentAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates those students who were victims,
				perpetrators, witnesses, and/or reporters for a discipline
				incident.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StudentReference" type="StudentSimpleReference">
					<xs:annotation>
						<xs:documentation>The student associated with the discipline
							incident.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DisciplineIncidentReference" type="DisciplineIncidentSimpleReference">
					<xs:annotation>
						<xs:documentation>Reference to the discipline incident associated with the
							student.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="StudentParticipationCode" type="StudentParticipationCodeType">
					<xs:annotation>
						<xs:documentation>The role or type of participation of a student in a discipline
							incident; for example: Victim Perpetrator Witness
							Reporter</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Behaviors" type="BehaviorDescriptorSimpleReference" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Categories of student-specific behavior coded for use in
							describing an incident. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SecondaryBehaviors" type="SecondaryBehavior" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Supplemental student-specific categorization about an incident
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- COMPLEX TYPES -->

	<xs:complexType name="BehaviorDescriptor">
		<xs:annotation>
			<xs:documentation>This descriptor holds the categories of behavior describing a
				discipline incident.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="CodeValue" type="CodeValue">
						<xs:annotation>
							<xs:documentation>A code or abbreviation that is used to refer to the
								behavior category.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShortDescription" type="ShortDescription">
						<xs:annotation>
							<xs:documentation>A shortened description for the
								behavior.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="Description" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The description of the behavior.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BehaviorCategory" type="BehaviorCategoryType">
						<xs:annotation>
							<xs:documentation>A classification of the behavior for reporting
								types.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EducationOrganizationReference"
						type="EducationalOrgSimpleReference" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The Education Organization associated with the
								behavior codes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SecondaryBehavior">
		<xs:annotation>
			<xs:documentation>Definition of the behavior coded for use in describing an
				incident.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SecondaryBehavior" type="SecondaryBehaviorsType">
				<xs:annotation>
					<xs:documentation>The description of the behavior of a student for a disipline
						incident.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BehaviorCategory" type="BehaviorCategoryType" use="required">
			<xs:annotation>
				<xs:documentation>The category of the incident behavior for classification
					purposes</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="WeaponsType">
		<xs:annotation>
			<xs:documentation>Identifies the type of weapon used during an incident.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Weapon" type="WeaponItemType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Zero or more selection of the weapon(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
