sli/common/domain/src/main/resources/sliXsd/EducationalOrganization.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sli="http://slc-sli/ed-org/0.1" elementFormDefault="qualified"
	attributeFormDefault="qualified">

	<xs:include schemaLocation="ComplexTypes.xsd" />

	<xs:complexType name="educationOrganizationCategoriesType">
		<xs:annotation>
			<xs:documentation>The classification(s) of the education agency
				within the geographic
				boundaries of a state according to the level of
				administrative and operational
				control granted by the state.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="organizationCategory" type="educationOrganizationCategoryType"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The classification(s) of the education agency
						within the
						geographic boundaries of a state according to the level
						of administrative
						and operational control granted by the state
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="accountabilityRating">
		<xs:annotation>
			<xs:documentation>An accountability rating for a school or district.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ratingTitle" type="ratingTitleType">
				<xs:annotation>
					<xs:documentation>The title of the rating (e.g., School Rating,
						Safety Score,
						etc.)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rating" type="rating">
				<xs:annotation>
					<xs:documentation>An accountability rating level, designation, or
						assessment.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ratingDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The date the rating was awarded.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ratingOrganization" type="ratingOrganization"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The organization that assessed the rating.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ratingProgram" type="ratingProgramType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The program associated with the accountability
						rating (e.g.,
						NCLB, AEIS)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="programIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be
				used to lookup the
				identity of programs.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="programId" type="programId">
					<xs:annotation>
						<xs:documentation>A unique number or alphanumeric code assigned to
							a program
							by a school, school system, a state, or other agency or
							entity.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="programType" type="programType">
					<xs:annotation>
						<xs:documentation>The formal name of the program of instruction,
							training,
							services or benefits available through federal, state,
							or local
							agencies.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional only if education organization context
						is obtained
						elsewhere in the interchange.
					</xs:documentation>
				</xs:annotation>
				<xs:element name="stateOrganizationId" type="identificationCode">
					<xs:annotation>
						<xs:documentation>The identifier assigned to an education agency
							by the
							State Education Agency (SEA). Also known as the State LEA
							ID.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationOrgIdentificationCode" type="educationOrgIdentificationCode"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A unique number or alphanumeric code assigned to
							an
							education organization by a school, school system, a state, or
							other
							agency or entity.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="educationOrgIdentificationCode">
		<xs:annotation>
			<xs:documentation>A unique number or alphanumeric code that is
				assigned to an education
				organization by a school, school system, a
				state, or other agency or entity.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="identificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code that is
						assigned to an
						education organization by a school, school system, a
						state, or other agency
						or entity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="identificationSystem" type="educationOrgIdentificationSystemType">
				<xs:annotation>
					<xs:documentation>The school system, state, or agency assigning the
						identification
						code.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>

	</xs:complexType>

	<xs:complexType name="educationalOrgIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be
				used to lookup the
				identity of educational organizations, especially
				ESCs, LEAs (districts),
				and
				schools.
			</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="stateOrganizationId" type="identificationCode">
				<xs:annotation>
					<xs:documentation>The identifier assigned to an education agency by
						the State
						Education Agency (SEA). Also known as the State LEA ID.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="educationOrgIdentificationCode" type="educationOrgIdentificationCode"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						an education
						organization by a school, school system, a state, or
						other agency or entity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="institutionTelephone">
		<xs:annotation>
			<xs:documentation>The 10-digit telephone number, including the area
				code, for the
				organization
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="telephoneNumber" type="telephoneNumber">
				<xs:annotation>
					<xs:documentation>The telephone number including the area code, and
						extension,
						if applicable.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="institutionTelephoneNumberType" type="institutionTelephoneNumberType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of communication number listed for an
						individual or
						organization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>

	</xs:complexType>

	<xs:complexType name="schoolCategoriesType">
		<xs:annotation>
			<xs:documentation>The one or more categories of school. For example:
				High School, Middle
				School, and/or Elementary School.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="schoolCategory" type="schoolCategoryItemType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The one or more categories of school. For
						example: High
						School, Middle School, and/or Elementary School.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="classPeriodIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be
				used to lookup the
				identity of class periods.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="classPeriodName" type="classPeriodNameType">
				<xs:annotation>
					<xs:documentation>An indication of the portion of a typical daily
						session in
						which students receive instruction in a specified
						subject (e.g.,
						morning,
						sixth period, block period, or AB
						schedules).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional only if education organization context
						is obtained
						elsewhere in the interchange.
					</xs:documentation>
				</xs:annotation>
				<xs:element name="stateOrganizationId" type="identificationCode">
					<xs:annotation>
						<xs:documentation>The identifier assigned to an education agency
							by the
							State Education Agency (SEA). Also known as the State LEA
							ID.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationOrgIdentificationCode" type="educationOrgIdentificationCode"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A unique number or alphanumeric code assigned to
							an
							education organization by a school, school system, a state, or
							other
							agency or entity.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="locationIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be
				used to lookup the
				identity of location.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="classroomIdentificationCode" type="classroomIdentificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to
						a room by a
						school, school system, state, or other agency or
						entity.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="stateOrganizationId" type="identificationCode">
					<xs:annotation>
						<xs:documentation>The identifier assigned to an education agency
							by the
							State Education Agency (SEA). Also known as the State LEA
							ID.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationOrgIdentificationCode" type="educationOrgIdentificationCode"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A unique number or alphanumeric code assigned to
							an
							education organization by a school, school system, a state, or
							other
							agency or entity.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="educationOrganization" abstract="true">
		<xs:annotation>
			<xs:documentation>This entity represents any public or private
				institution,
				organization, or agency that provides instructional or
				support services to
				students
				or staff at any level.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="complexObjectType">
				<xs:sequence>
					<xs:element name="stateOrganizationId" type="identificationCode">
						<xs:annotation>
							<xs:documentation>The identifier assigned to an education
								organization
								by the State Education Agency (SEA).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="educationOrgIdentificationCode" type="educationOrgIdentificationCode"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A unique number or alphanumeric code assigned
								to an
								education organization by a school, school system, a state,
								or other
								agency or entity.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nameOfInstitution" type="nameOfInstitution">
						<xs:annotation>
							<xs:documentation>The full, legally accepted name of the
								institution.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="shortNameOfInstitution" type="nameOfInstitution"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>A short name for the institution.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organizationCategories" type="educationOrganizationCategoriesType">
						<xs:annotation>
							<xs:documentation>The classification of the education agency
								within the
								geographic boundaries of a state according to the
								level of
								administrative and operational control granted by the
								state.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="address" type="address" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The set of elements that describes the physical
								location of the education entity, including the street address,
								city, state, ZIP code, and ZIP code + 4.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="telephone" type="institutionTelephone"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The 10-digit telephone number, including the
								area
								code, for the education entity.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="webSite" type="webSite" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The public web site address (URL) for the
								educational
								organization.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="operationalStatus" type="operationalStatusType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>The current operational status of the education
								organization (e.g., active, inactive).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="accountabilityRatings" type="accountabilityRating"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The accountability ratings assessed for the
								education
								organization.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="programReference" type="xs:string"
						minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The programs offered at the education
								organization.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyHierarchyName" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>An optional hierarchical name for the Ed Org
								using '.' separators.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

<!-- 	<xs:element name="localEducationAgency">
		<xs:annotation>
			<xs:documentation>This entity represents an administrative unit at
				the local level which
				exists primarily to operate schools or to
				contract for educational
				services. It
				includes school districts,
				charter schools, charter management
				organizations, or
				other local
				administrative organizations.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="educationOrganization">
					<xs:sequence>
						<xs:element name="LEACategory" type="LEACategoryType">
							<xs:annotation>
								<xs:documentation>The category of LEA/district. For example:
									Independent
									or Charter
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="charterStatus" type="charterStatusType"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>A school or agency providing free public
									elementary or
									secondary education to eligible students under a
									specific charter
									granted by the state legislature or other
									appropriate authority
									and
									designated by such authority to be a
									charter school.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
 -->
	<xs:element name="school">
		<xs:annotation>
			<xs:documentation>This entity represents an educational organization
				that includes staff
				and students who participate in classes and
				educational activity
				groups.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="educationOrganization">
					<xs:sequence>
						<xs:element name="gradesOffered" type="gradeLevelsType">
							<xs:annotation>
								<xs:documentation>The grade levels served at the school.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="schoolCategories" type="schoolCategoriesType">
							<xs:annotation>
								<xs:documentation>The one or more categories of school. For
									example:
									High School, Middle School, and/or Elementary School.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="schoolType" type="schoolType"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>The type of education institution as
									classified by its
									primary focus.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="charterStatus" type="charterStatusType"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>A school or agency providing free public
									elementary or
									secondary education to eligible students under a
									specific charter
									granted by the state legislature or other
									appropriate authority
									and
									designated by such authority to be a
									charter school.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="titleIPartASchoolDesignation" type="titleIPartASchoolDesignationType"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>Denotes the Title I Part A designation for the
									school.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="magnetSpecialProgramEmphasisSchool"
							type="magnetSpecialProgramEmphasisSchoolType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A school that has been designed: 1) to attract
									students of different racial/ethnic backgrounds for the purpose
									of
									reducing, preventing, or eliminating racial isolation; and/or
									2) to
									provide an academic or social focus on a particular theme
									(e.g.,
									science/math, performing arts, gifted/talented, or
									foreign
									language).
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="administrativeFundingControl" type="administrativeFundingControlType"
							minOccurs="0">
							<xs:annotation>
								<xs:documentation>The type of education institution as
									classified by its
									funding source, for example public or private.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="feederSchoolType">
		<xs:annotation>
			<xs:documentation>The feeder school relationship between two schools.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The month, day, and year of the first day of the
						feeder school
						association.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The month, day, and year of the last day of the
						feeder school
						association.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="feederRelationshipDescription" type="description"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Describes the relationship from the feeder school
						to the
						receiving school, for example by program emphasis, such as
						special
						education, language immersion, science or performing art.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="educationOrgAssociation">
		<xs:annotation>
			<xs:documentation>The association denoting a hierarchical
				relationship among Educational Organizations.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="parentAgencyId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Reference to the parent Education Organization
							in a hierarchy.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="childAgencyId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Reference to the child Education Organization in
							a hierarchy.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="feederSchool" type="feederSchoolType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>If the child Education Org is a Feeder school
							for the parent, this optional entry provides details about that
							relationship.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
