sli/common/domain/src/main/resources/sliXsd/ReferenceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns="http://slc-sli/ed-org/0.1" targetNamespace="http://slc-sli/ed-org/0.1"
    attributeFormDefault="unqualified"
>
    <xs:include schemaLocation="ComplexTypes.xsd"/>

    <xs:complexType name="SectionSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a section with a type attribute set
                to "Section"
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="Section" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AssessmentSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a assessment with a type attribute set
                to "Assessment"
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="Assessment" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="StudentSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a student with a type attribute set
                to "Student"
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="Student" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="StaffSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a staff member with a type attribute
                set to "Staff".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="Staff" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="TeacherSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a staff member with a type attribute
                set to "Teacher".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="Teacher" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SchoolSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a school with a type attribute set
                to "School".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="School" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="EducationalOrgSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a educational organization with a type attribute set
                to
                "EducationalOrg".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="EducationalOrg" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DisciplineIncidentSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a discipline incident with a type attribute set
                to
                "DisciplineIncident".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="DisciplineIncident" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="BehaviorDescriptorSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a behavior with a type attribute set
                to "Behavior".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="BehaviorDescriptor" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="GradingPeriodSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a grading period with a type attribute set
                to
                "GradingPeriod".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="GradingPeriod" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="AcademicWeekSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to an academic week with a type attribute set
                to
                "AcademicWeek".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="AcademicWeek" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SessionSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a session with a type attribute set
                to "Session".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="Session" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LocationSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a location with a type attribute set
                to "Location".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="Location" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="BellScheduleSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a bell schedule with a type attribute set
                to
                "BellSchedule".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="BellSchedule" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="MiscellaneousEventSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a miscellaneous event with a type attribute set
                to
                "MiscellaneousEvent".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="MiscellaneousEvent" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CourseSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a course offering with a type attribute set
                to
                "CourseReference".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="CourseReference" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ClassPeriodSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a course offering with a type attribute set
                to
                "ClassPeriod".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="ClassPeriod" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ProgramSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a program with a type attribute set
                to
                "ProgramReference".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="ProgramReference" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ServiceDescriptorSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a service descriptor with a type attribute set
                to
                "ServiceDescriptor".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="ServiceDescriptor" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CourseOfferingSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a course offering with a type attribute set
                to "CourseOfferingReference".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="CourseOfferingReference" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="ReportCardSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a report card with a type attribute set
                to "ReportCardReference".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="ReportCardReference" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="DiplomaSimpleReference">
        <xs:annotation>
            <xs:documentation>A reference to a diploma with a type attribute set
                to "DiplomaReference".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:IDREF">
                <xs:attribute name="type" fixed="DiplomaReference" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="LearningObjectiveReference">
        <xs:annotation>
            <xs:documentation>Provides alternative references for Learning Objective reference
                during interchange. Use XML IDREF to reference a learning standard record that is
                included in the interchange</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ReferenceType">
                <xs:sequence>
                    <xs:element name="LearningObjectiveIdentity" type="LearningObjectiveIdentityType"
                        minOccurs="0"
                    >
                        <xs:annotation>
                            <xs:documentation>Provide user information to lookup and link to an
                                existing learning objective record in the receiving system
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LearningStandardReference">
        <xs:annotation>
            <xs:documentation>Provides alternative references for Learning Standard reference during
                interchange. Use XML IDREF to reference a learning standard record that is included
                in the interchange</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ReferenceType">
                <xs:sequence>
                    <xs:element name="LearningStandardIdentity" type="LearningStandardIdentityType"
                        minOccurs="0"
                    >
                        <xs:annotation>
                            <xs:documentation>Provide user information to lookup and link to an
                                existing learning standard record in the receiving system
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="GradebookEntrySimpleReference">
		<xs:annotation>
			<xs:documentation>A reference to a gradebook entry with a type attribute set
				to "GradebookEntry".
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:IDREF">
				<xs:attribute name="type" fixed="GradebookEntry"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="StudentTranscriptsAssociationSimpleReference">
		<xs:annotation>
			<xs:documentation>A reference to a transcripts with a type attribute set
				to "StudentTranscriptsAssociation".
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:IDREF">
				<xs:attribute name="type" fixed="StudentTranscriptsAssociation"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CohortReference">
		<xs:annotation>
			<xs:documentation>A reference to a cohort with a type attribute set
				to "CohortReference".
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:IDREF">
				<xs:attribute name="type" fixed="CohortReference"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
    
	<xs:complexType name="ParentReference">
		<xs:annotation>
			<xs:documentation>A reference to a parent/guardian with a type attribute set
				to "ParentReference".
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:IDREF">
				<xs:attribute name="type" fixed="ParentReference"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

</xs:schema>
