sli/common/domain/src/main/resources/sliXsd/SLI.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" xmlns:sli="http://slc-sli/ed-org/0.1"
	attributeFormDefault="qualified">

	<xs:include schemaLocation="ComplexTypes.xsd" />

	<!-- TODO: W3C XML Schema elements should be re-factored to refer to externally 
		defined complex types and simple types. -->

	<xs:element name="assessment">
		<xs:annotation>
			<xs:documentation>This entity represents a tool, instrument, process,
				or exhibition composed of a systematic sampling of behavior for
				measuring a student's competence, knowledge, skills or behavior. An
				assessment can be used to measure differences in individuals or
				groups and changes in performance from one occasion to the next.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="assessmentTitle" type="assessmentTitle">
					<xs:annotation>
						<xs:documentation>The title or name of the assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentFamilyHierarchyName" type="xs:string"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>A hierarchical name for the Assessment using '.'
							separators.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentIdentificationCode" type="assessmentIdentificationCode"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A unique number or alphanumeric code assigned to
							an assessment by a school, school system, a state, or other
							agency or entity.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentCategory" type="assessmentCategoryType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The category of an assessment based on format
							and content. For example:
							Achievement test
							Advanced placement test
							Alternate assessment/grade-level standards
							Attitudinal test
							Cognitive and perceptual skills test
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="academicSubject" type="academicSubjectType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The description of the content or subject area
							(e.g., arts, mathematics, reading, stenography, or a foreign
							language) of an assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeLevelAssessed" type="gradeLevelType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The typical grade level for which an assessment
							is designed. If the assessment spans a range of grades, then this
							attribute holds the highest grade assessed. If only one grade
							level is assessed then only this attribute is used. For example:
							Adult
							Prekindergarten
							First grade
							Second grade
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="lowestGradeLevelAssessed" type="gradeLevelType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>If the assessment spans a range of grades, then
							this attribute holds the lowest grade assessed. If only one grade
							level is assessed, then this attribute is omitted. For example:
							Adult
							Prekindergarten
							First grade
							Second grade
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentPerformanceLevel" type="assessmentPerformanceLevel"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Definition of the performance levels and the
							associated cut scores. Three styles are supported:
							1.
							Specification of performance level by min and max score
							2.
							Specification of performance level by cut score - min only
							3.
							Specification of performance level without any mapping to scores
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contentStandard" type="contentStandardType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication as to whether an assessment
							conforms to a standard. For example:
							Local standard
							Statewide
							standard
							Regional standard
							Association standard
							School standard
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentForm" type="assessmentForm"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifies the form of the assessment, for
							example a regular versus makeup form, multiple choice versus
							constructed response, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="version" type="version" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The version identifier for the assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="revisionDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month, day, and year that the conceptual
							design for the assessment was most recently revised
							substantially.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="maxRawScore" type="xs:int" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The maximum raw score achievable across all
							assessment items that are correct and scored at the maximum.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="minRawScore" type="xs:int" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The minimum raw score achievable across all
							assessment items that are correct and scored at the minimum.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nomenclature" type="nomenclature"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Reflects the specific nomenclature used for
							Assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentPeriodDescriptor" type="assessmentPeriodDescriptor"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>This descriptor holds the period or window in
							which an assessment is supposed to be administered (e.g.,
							Beginning of Year, Middle of Year, End of Year).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="objectiveAssessment" type="objectiveAssessment"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This entity represents subtests that assess
							specific learning objectives.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentItem" type="assessmentItem"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>References individual test items, if
							appropriate.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="attendance">
		<xs:annotation>
			<xs:documentation>
				This event entity represents the recording of
				whether a student is in
				daily attendance. This should be used to
				model irregularities.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eventDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Date for this attendance event.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attendanceEventType" type="attendanceEventType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							A code describing the type of the attendance
							event (e.g., daily
							attendance, section attendance, etc.)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attendanceEventCategory" type="attendanceEventCategoryType">
					<xs:annotation>
						<xs:documentation>
							A code describing the attendance event, for
							example:
							Unexcused absence
							Excused absence
							Tardy
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="attendanceEventReason" type="attendanceEventReason"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The reported reason for a student's absence.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationalEnvironment" type="educationalEnvironmentType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							The setting in which a child receives education
							and related
							services.
							This attribute
							is only used if it differs from
							the Educational Environment of the
							section. This is
							only used in
							the AttendanceEvent if different from the associated
							Section.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student associated with this attendance.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="bellSchedule">
		<xs:annotation>
			<xs:documentation>This entity represents the schedule of class period
				meeting times.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bellScheduleName" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							Name or title of the bell schedule.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeLevels">
					<xs:annotation>
						<xs:documentation>
							The grade levels the particular bell schedule
							applies to.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:list itemType="gradeLevelType">
						</xs:list>
					</xs:simpleType>
				</xs:element>
				<xs:element name="weeksInCycle">
					<xs:annotation>
						<xs:documentation>
							The number of weeks in which the meeting time
							schedules repeat.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="1" />
							<xs:maxInclusive value="52" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="sessionsOffered" type="xs:string"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							The sessions associated with this bell schedule.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="cohort">
		<xs:annotation>
			<xs:documentation>
				This entity represents any type of list of
				designated students for tracking, analysis, or intervention.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cohortIdentifier" type="cohortIdentifier">
					<xs:annotation>
						<xs:documentation>The name or ID for the cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cohortDescription" type="cohortDescription"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The description of he cohort and its purpose.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cohortType" type="cohortType">
					<xs:annotation>
						<xs:documentation>
							The type of cohort (e.g., academic intervention,
							classroom breakout)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cohortScope" type="cohortScopeType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							The scope of cohort (e.g., school, district,
							classroom, etc.)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="academicSubject" type="academicSubjectType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							The academic subject associated with an academic
							intervention.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationOrgReference" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							The education organization associated with and
							owner of the cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="programReference" type="xs:string"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							The (optional) program associated with this
							cohort (e.g., special education)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="disciplineIncident">
		<xs:annotation>
			<xs:documentation>This event entity represents an occurrence of an
				infraction ranging
				from a minor problem behavior that disrupts the
				orderly functioning of a school or
				classroom (such as tardiness) to a
				criminal act that results in the involvement of a
				law enforcement
				official (such as robbery). A single event (e.g., a fight) is one
				incident regardless of how many perpetrators or victims are
				involved. Discipline
				incidents are events classified as warranting
				discipline action.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="incidentIdentifier" type="incidentIdentifier">
					<xs:annotation>
						<xs:documentation>A locally assigned unique identifier (within the
							school or school district) to identify each specific incident or
							occurrence. The same identifier should be used to document the
							entire incident even if it included multiple offenses and
							multiple
							offenders.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="incidentDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>The month, day, and year on which the incident
							occurred.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="incidentTime" type="xs:time">
					<xs:annotation>
						<xs:documentation>An indication of the time of day the incident
							took
							place.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="incidentLocation" type="incidentLocationType">
					<xs:annotation>
						<xs:documentation>Identifies where the incident occurred and
							whether or
							not it occurred on school, for example: On school
							Administrative
							offices area Cafeteria area Classroom Hallway or
							stairs
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="reporterDescription" type="reporterDescriptionType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Information on the type of individual who
							reported the
							incident. When known and/or if useful, use a more
							specific option
							code (e.g., "Counselor" rather than "Professional
							Staff"); for
							example: Student Parent/guardian Law enforcement
							officer Nonschool
							personnel Representative of visiting school ...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="reporterName" type="reporterName"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifies the reporter of the incident by
							name.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="behaviors" type="xs:string"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Categories of behavior coded for use in
							describing an
							incident.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="secondaryBehaviors" type="secondaryBehavior"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Supplemental categorization about an incident
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="weapons" type="weaponItemType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Identifies the type of weapon used during an
							incident.
							The Federal Gun-Free Schools Act requires states to
							report the
							number of students expelled for bringing firearms to
							school by type
							of firearm.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="reportedToLawEnforcement" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicator of whether the incident was reported
							to law
							enforcement.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="caseNumber" type="caseNumber"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The case number assigned to the incident by law
							enforcement or other organization.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolId" type="xs:string">
					<xs:annotation>
						<xs:documentation>School where incident occurred
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="staffId" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identifies the staff reporter of the incident by
							use
							of a pre-existing school or district unique
							identifier.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="eventBellScheduleAssociation">
		<xs:annotation>
			<xs:documentation>
				An association between the section and bell
				schedule.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="meetingTime">
					<xs:sequence>
						<xs:element name="bellScheduleId" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The bell schedule the event is scheduled in
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="miscellaneousEventId" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The section being offered
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="schoolSessionAssociation">
		<xs:annotation>
			<xs:documentation>This entity represents the association of a school
				with all its sessions.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gradingPeriod" type="gradingPeriod">
					<xs:annotation>
						<xs:documentation>Grading period dates and durations for the
							session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the school associated with the
							session.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>school</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sessionId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the session offered at the school.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>session</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="section">
		<xs:annotation>
			<xs:documentation>This educational entity represents a setting in
				which organized instruction of course content is provided to one or
				more students for a given period of time. A course may be offered to
				more than one class/section. Instruction, provided by one or more
				teachers or other staff members, may be delivered in person or via a
				different medium.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uniqueSectionCode" type="uniqueSectionCode">
					<xs:annotation>
						<xs:documentation>A unique identifier for the section that is
							defined by the classroom, the subjects taught, and the
							instructors that are assigned.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="sequenceOfCourse">
					<xs:annotation>
						<xs:documentation>When a section is part of a sequence of parts
							for
							a course, the number if the sequence. If the course has only
							one
							part, the value of this section attribute should be 1.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="1" />
							<xs:maxInclusive value="8" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="educationalEnvironment" type="educationalEnvironmentType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The setting in which a child receives education
							and related services; for example:
							Center-based instruction
							Home-based instruction
							Hospital class
							Mainstream
							Residential care
							and
							treatment facility
							....
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="mediumOfInstruction" type="mediumOfInstructionType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The media through which teachers provide
							instruction to students and students and teachers communicate
							about instructional matters; for example:
							Technology-based
							instruction in classroom
							Correspondence instruction
							Face-to-face
							instruction
							Virtual/On-line Distance learning
							Center-based
							instruction
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="populationServed" type="populationServedType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The population for which the course was
							designed; for example:
							Bilingual students
							Remedial education
							students
							Gifted and talented students
							Career and Technical
							Education students
							Special education students
							....
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="availableCredit" type="credits"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The amount of credit available to a student who
							successfully meets the objectives of the course. Available
							credits
							are measured in Carnegie units, A course meeting every day
							for one
							period of the school day over the span of a school
							year
							offers one Carnegie unit. See publication: U.S. Department
							of
							Education, NCES, 2007-341, Secondary School Course
							Classification
							System: School Codes for the Exchange of Data
							(SCED).
						</xs:documentation>
					</xs:annotation>
				</xs:element>

				<xs:element name="schoolId" type="reference">
					<xs:annotation>
						<xs:documentation>The school where the section is taught.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>school</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>

				<!-- obtain location information via SectionBellScheduleAssocation -->

				<xs:element name="sessionId" type="reference" minOccurs="1"
					maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The session associated with the section. This
							reference is required.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>session</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>

				<xs:element name="programReference" type="reference"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Optional reference to program (e.g., CTE, etc.)
							the section is associated with.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>program</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>

				<xs:element name="courseId" type="reference" minOccurs="1"
					maxOccurs="1">
					<xs:annotation>
						<xs:documentation>The course associated with the section. This
							reference is required.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>course</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sectionAssessmentAssociation">
		<xs:annotation>
			<xs:documentation>This entity represents the association of a section
				with an administered assessment.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sectionId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the section associated with the
							assessment.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>section</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the assessment taken by the
							section.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>assessment</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sectionBellScheduleAssociation">
		<xs:annotation>
			<xs:documentation>
				An association between the section and bell
				schedule.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="meetingTime">
					<xs:sequence>
						<xs:element name="bellScheduleId" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The bell schedule the section is scheduled in
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="sectionId" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The section being offered
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="session">
		<xs:annotation>
			<xs:documentation>This entity represents the prescribed span of time
				when an education institution is open, instruction is provided, and
				students are under the direction and guidance of teachers and/or
				education institution administration. A session may be interrupted
				by one or more vacations.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sessionName" type="identificationCode">
					<xs:annotation>
						<xs:documentation>The identifier for the calendar for the academic
							session (e.g., 2010/11, 2011 Summer).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolYear" type="schoolYearType">
					<xs:annotation>
						<xs:documentation>The identifier for the school year.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="term" type="termType">
					<xs:annotation>
						<xs:documentation>The term for the session during the school year.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the first day of the
							session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="endDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the last day of the
							session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="totalInstructionalDays" type="xs:int">
					<xs:annotation>
						<xs:documentation>The total number of instructional days in the
							school calendar.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="staffCohortAssociation">
		<xs:annotation>
			<xs:documentation>
				This association indicates the staff associated
				with a cohort of students.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="staffId" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The staff associated with the cohort of
							students.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cohortId" type="xs:string" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Reference to the cohort associated with the
							staff.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Start date for the association of staff to this
							cohort.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="endDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>End date for the association of staff to this
							cohort.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentRecordAccess" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the staff has access to the
							student records of the cohort per district
							interpretation of FERPA
							and other privacy laws, regulations and policies.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentAssessmentAssociation">
		<xs:annotation>
			<xs:documentation>This entity represents the analysis or scoring of a
				student's response on an assessment. The analysis results in a value
				that represents a student's performance on a set of items on a test.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="administrationDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>The month(s), day(s), and year on which an
							assessment is administered or first day of administration if over
							multiple days.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="administrationEndDate" type="xs:date"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Assessment Administration End Date, if
							administered over multiple days.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="serialNumber" type="identificationCode"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The unique number for the assessment form or
							answer document.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="administrationLanguage" type="languageItemType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The language in which an assessment is written
							and/or administered.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="administrationEnvironment" type="administrationEnvironmentType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The environment in which the test was
							administered. For example:
							Electronic
							Classroom
							Testing Center
							....
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="specialAccommodations" type="specialAccommodationItemType"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The specific type of special variation used in
							how an examination is presented, how it is administered, or how
							the test taker is allowed to respond. This generally refers to
							changes that do not substantially alter what the examination
							measures. The proper use of accommodations does not substantially
							change academic level or performance criteria. For example:
							Braille
							Enlarged monitor view
							Extra time
							Large Print
							Setting
							Oral
							Administration
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="linguisticAccommodations" type="linguisticAccommodationItemType"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Linguistic accommodations used with the student
							for the test. For example:
							Bilingual dictionary
							English dictionary
							Reading Aloud - Word or Phrase
							Reading Aloud - Entire Test Item
							Oral Translation - Word or phrase
							Clarification - Word or phrase
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="retestIndicator" type="retestIndicatorType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicator if the test was retaken. For example:
							Primary administration
							First retest
							Second retest
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="reasonNotTested" type="reasonNotTestedType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The primary reason student is not tested. For
							example:
							Absent
							Refusal by parent
							Refusal by student
							Medical waiver
							Illness
							Disruptive behavior
							LEP Exempt
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="scoreResults" type="scoreResult"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A meaningful score or statistical expression of
							the performance of an individual. The results can be expressed as
							a number, percentile, range, level, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeLevelWhenAssessed" type="gradeLevelType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The grade level of a student when assessed.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="performanceLevelDescriptors" type="performanceLevelDescriptor"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This descriptor defines various levels or
							thresholds for performance on the assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentObjectiveAssessments" type="studentObjectiveAssessment"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The score and or performance level(s) earned for
							each objective assessment by the student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentAssessmentItems" type="studentAssessmentItem"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This entity represents the student's responses
							to assessment items.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the student associated with the
							assessment.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the assessment taken by the
							student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>assessment</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentCohortAssociation">
		<xs:annotation>
			<xs:documentation>
				This association represents the cohort(s) that a student is designated for.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentReference" type="xs:string">
					<xs:annotation>
						<xs:documentation>The student associated with the cohort.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cohortReference" type="xs:string">
					<xs:annotation>
						<xs:documentation>Reference to the cohort associated with the student.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>
							The month, day, and year on which the student was first identified as  part of the cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="endDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							The month, day, and year on which the student was removed as  part of the cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="studentDisciplineIncidentAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates those students who were
				victims,
				perpetrators, witnesses, and/or reporters for a discipline
				incident.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="xs:string">
					<xs:annotation>
						<xs:documentation>The student associated with the discipline
							incident.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="disciplineIncidentId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Reference to the discipline incident associated
							with the
							student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentParticipationCode" type="studentParticipationCodeType">
					<xs:annotation>
						<xs:documentation>The role or type of participation of a student
							in a discipline
							incident; for example: Victim Perpetrator Witness
							Reporter
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="behaviors" type="xs:string" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Categories of student-specific behavior coded
							for use in
							describing an incident.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="secondaryBehaviors" type="secondaryBehavior"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Supplemental student-specific categorization
							about an incident
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
