sli/common/domain/src/test/resources/testUnsupportedSchemas/choice/unsupported-choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sli="http://slc-sli/ed-org/0.1" elementFormDefault="qualified"
	attributeFormDefault="qualified">

	<xs:complexType name="TestUnsupportedChoice">
		<xs:sequence>
			<xs:element name="requiredField" type="xs:string"></xs:element>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="intChoice" type="xs:int" />
				<xs:element name="stringChoice" type="xs:string" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>


</xs:schema>
