sli/common/domain/src/main/resources/sli-xsd/TeachingAndLearning.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://slc-sli/ed-org/0.1"
    targetNamespace="http://slc-sli/ed-org/0.1" elementFormDefault="qualified" attributeFormDefault="unqualified"
>

    <xs:include schemaLocation="ReferenceTypes.xsd" />

	<xs:complexType name="TeacherSectionAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the class sections to which a teacher is assigned to.
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TeacherReference" type="StaffSimpleReference">
				<xs:annotation>
					<xs:documentation>The teacher assigned to the section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionReference" type="SectionSimpleReference">
				<xs:annotation>
					<xs:documentation>The section the teacher is assigned to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassroomPosition" type="ClassroomPositionType">
				<xs:annotation>
					<xs:documentation>The type of position the staff member holds in the specific class/section; for example:
Teacher of Record, Assistant Teacher, Support Teacher, Substitute Teacher...
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month, day and year of a teacher's assignment to the section.  If blank, defaults to the first day of the first grading period for the section.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month, day and year of the last day of a teacher's assignment to the section.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HighlyQualifiedTeacher" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An indication of whether a teacher is classified as highly qualified for his/her assignment according to state definition.  This attribute indicates the teacher is highly qualified for this section being taught.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CourseCode">
		<xs:annotation>
			<xs:documentation>A standard code that identifies the organization of subject matter and related learning experiences provided for the instruction of students.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="IdentificationCode">
				<xs:annotation>
					<xs:documentation>A unique number or alphanumeric code assigned to a course by a school, school system, a state, or other agency or entity.  For multi-part course codes, concatenate the parts separated by a "/".  For example, consider the following SCED code:
   subject = 20 Math
   course = 272 Geometry
   level = G General
   credits = 1.00
  course sequence 1 of 1
would be entered as 20/272/G/1.00/1 of 1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="IdentificationSystem" type="CourseCodeSystemType" use="required">
			<xs:annotation>
				<xs:documentation>A system that is used to identify the organization of subject matter and related learning experiences provided for the instruction of students.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AssigningOrganizationCode" type="IdentificationCode" use="optional">
			<xs:annotation>
				<xs:documentation>The organization code or name assigning the staff Identification Code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="CourseLevelCharacteristicsType">
		<xs:annotation>
			<xs:documentation>Indication of the nature and difficulty of instruction: remedial, basic, honors, Ap, IB, Dual Credit, CTE. etc. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CourseLevelCharacteristic" type="CourseLevelCharacteristicItemType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specification of the specific program or designation associated with the course. For example: Ap, IB, Dual Credit, CTE. etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CourseOffering">
		<xs:annotation>
			<xs:documentation>This entity represents an offering of a course by school during a session, representing the course catalog of available courses.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="LocalCourseCode" type="LocalCourseCode">
						<xs:annotation>
							<xs:documentation>The local code assigned by the School that identifies the course offering provided for the instruction of students.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocalCourseTitle" type="CourseTitle" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The descriptive name given to a course of study offered in the school, if different from the CourseTitle. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchoolReference" type="EducationalOrgSimpleReference">
						<xs:annotation>
							<xs:documentation>The school that offers the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionReference" type="SessionSimpleReference">
						<xs:annotation>
							<xs:documentation>The session the course is offered at the school.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CourseReference" type="CourseSimpleReference">
						<xs:annotation>
							<xs:documentation>The course being offered by the school.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Course">
		<xs:annotation>
			<xs:documentation>This educational entity represents the organization of subject matter and related learning experiences provided for the instruction of students on a regular or systematic basis.
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="CourseTitle" type="CourseTitle">
						<xs:annotation>
							<xs:documentation>The descriptive name given to a course of study offered in a school or other institution or organization. In departmentalized classes at the elementary, secondary, and postsecondary levels (and for staff development activities), this refers to the name by which a course is identified (e.g., American History, English III). For elementary and other non-departmentalized classes, it refers to any portion of the instruction for which a grade or report is assigned (e.g., reading, composition, spelling, and language arts).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberOfParts">
						<xs:annotation>
							<xs:documentation>The number of parts identified for a course.
</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="8"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="CourseCode" type="CourseCode" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The code that identifies the organization of subject matter and related learning experiences provided for the instruction of students.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CourseLevel" type="CourseLevelType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The course's level of rigor.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CourseLevelCharacteristics" type="CourseLevelCharacteristicsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Specification of the specific program or designation associated with the course.  For example: Ap, IB, Dual Credit, CTE. etc.
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GradesOffered" type="GradeLevelsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The grade levels in which the course is offered.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SubjectArea" type="AcademicSubjectType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The intended major subject area of the course.
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CourseDescription" type="Description" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A description of the content standards and goals covered in the course. Reference may be made to state or national content standards.
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateCourseAdopted" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date the course was adopted by the education agency.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HighSchoolCourseRequirement" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>An indication that this course may satisfy high school graduation requirements in the course's subject area.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CourseGPAApplicability" type="CourseGPAApplicabilityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>An indicator of whether or not this course being described is included in the computation of the student’s Grade Point Average, and if so, if it weighted differently from regular courses.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CourseDefinedBy" type="CourseDefinedByType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Specifies whether the course was defined by the SEA, LEA, School, or national organization.  </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MinimumAvailableCredit" type="Credits" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The minimum amount of credit available to a student who successfully completes the course</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumAvailableCredit" type="Credits" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The maximum amount of credit available to a student who successfully completes the course</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CareerPathway" type="CareerPathwayType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Indicates the career cluster or pathway the course is associated with as part of a CTE curriculum.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EducationOrganizationReference" type="EducationalOrgSimpleReference">
						<xs:annotation>
							<xs:documentation>The Education Organization that defines the curriculum and courses offered - often the LEA or school.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LearningStandardReference" type="LearningStandardReference" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Learning Standard(s) to be taught by the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LearningObjectiveReference" type="LearningObjectiveReference" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Learning Objectives to be mastered in the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CompetencyLevels" type="CompetencyLevelDescriptorType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The competency levels defined to rate the student for the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LearningObjective">
		<xs:annotation>
			<xs:documentation>This entity represents identified learning objectives for courses in specific grades.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="LearningObjectiveId" type="LearningStandardId" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Identifier for the specific learning objective in the context of a standard (e.g., 111.15.3.1.A)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Objective" type="Objective">
						<xs:annotation>
							<xs:documentation>The designated title of the learning objective.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="Description" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The description of the learning objective.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AcademicSubject" type="AcademicSubjectType">
						<xs:annotation>
							<xs:documentation>The description of the content or subject area (e.g., arts, mathematics, reading, stenography, or a foreign language) of an assessment.
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ObjectiveGradeLevel" type="GradeLevelType">
						<xs:annotation>
							<xs:documentation>The grade level for which the learning objective is targeted,</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LearningStandardReference" type="LearningStandardReference" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Learning standard(s) included in this objective.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LearningObjectiveReference" type="LearningObjectiveReference" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Lower level learning objectives, or sub-objectives.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LearningStandard">
		<xs:annotation>
			<xs:documentation>This entity is a subelement of a learning objective consisting of a precise statement of the expectation of a student's proficiency.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="LearningStandardId" type="LearningStandardId">
						<xs:annotation>
							<xs:documentation>The Identifier for the specific learning standard (e.g., 111.15.3.1.A)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="Description">
						<xs:annotation>
							<xs:documentation>A detailed statement of the expectation that is is assessed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContentStandard" type="ContentStandardType">
						<xs:annotation>
							<xs:documentation>A reference to the type of content standard e.g., state, national, etc.)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GradeLevel" type="GradeLevelType">
						<xs:annotation>
							<xs:documentation>The grade level for the specific learning standard.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SubjectArea" type="AcademicSubjectType">
						<xs:annotation>
							<xs:documentation>Subject area for the learning standard.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CourseTitle" type="CourseTitle" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The official Course Title with which this learning standard is associated.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
