sli/api/src/main/resources/wadl/base_wadl2.wadl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ns2:application xmlns:ns2="http://wadl.dev.java.net/2009/02">
    <ns2:doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.9.1 09/14/2011 02:05 PM"/>
    <ns2:grammars/>
    <ns2:resources base="http://www.sli.slc.org/api/rest">
        <ns2:resource path="v1/sections" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>
            <!--<ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>
            <ns2:resource path="{id}/aggregates" resourceClass="org.slc.sli.api.resources.aggregation.AggregateListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>-->
            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
        </ns2:resource>
        <ns2:resource path="v1/home" resourceClass="org.slc.sli.api.resources.v1.HomeResource">
            <ns2:method id="readAll" name="GET"/>
        </ns2:resource>

        <ns2:resource path='v1/schools' resourceClass='org.slc.sli.api.resources.generic.PublicOnePartResource'>
            <ns2:resource path='{id}' resourceClass='org.slc.sli.api.resources.generic.TwoPartResource'>
                <ns2:method id='read' name='GET'/>
                <ns2:method id='delete' name='DELETE'/>
                <ns2:method id='update' name='PUT'/>
            </ns2:resource>
            <!--<ns2:resource path='{id}/custom'>
                <ns2:method id='read' name='GET'/>
                <ns2:method id='create' name='POST'/>
                <ns2:method id='delete' name='DELETE'/>
                <ns2:method id='update' name='PUT'/>
            </ns2:resource>
            <ns2:resource path='{id}/aggregates'>
                <ns2:method id='read' name='GET'/>
            </ns2:resource> -->
            <ns2:method id='create' name='POST'/>
            <ns2:method id='readAll' name='GET'/>
        </ns2:resource>

        <ns2:resource path="v1/students" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>
            <!--<ns2:resource path="{id}/custom">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>
            <ns2:resource path="{id}/aggregates">
                <ns2:method id="read" name="GET"/>
            </ns2:resource> -->
            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
        </ns2:resource>

    </ns2:resources>
</ns2:application>
