sli/api/src/main/resources/wadl/base_wadl.wadl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ns2:application xmlns:ns2="http://wadl.dev.java.net/2009/02">
    <ns2:doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 1.9.1 09/14/2011 02:05 PM"/>
    <ns2:doc title="SLC REST API Reference" xml:lang="en"><![CDATA[
        This document provides a reference to the entities and
        associated methods within the SLC REST API. Scroll the
        list of entities on the left, and click a linked entity
        from that list to view its associated details on the right.
    ]]></ns2:doc>
    <ns2:grammars/>
    <ns2:resources base="http://www.sli.slc.org/api/rest">
        <ns2:resource path="v1/reportCards" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the definition of a report card resource. A report card is an educational entity that
 represents the collection of student grades for courses taken during a grading period.

 For detailed information, see the schema for $$ReportCard$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/sections" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the definition of a section resource. A section is an educational entity that
 represents a setting in which organized instruction of course content is provided to one
 or more students for a given period of time. See $$Course$$ resource for details.
 A section is associated with a student, teacher, and assessment through $$StudentSectionAssociation$$,
 $$TeacherSectionAssociation$$, and $$SectionAssessmentAssociation$$.

 For more details about the resources, see $$Student$$, $$Teacher$$ and $$Assessment$$ resources.

 For detailed information, see the schema for $$Section$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/aggregations" resourceClass="org.slc.sli.api.resources.v1.aggregation.AggregateDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentSectionAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentSectionAssociations/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/teacherSectionAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/teacherSectionAssociations/teachers"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentProgramAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the association between a $$Student$$ and a $$Program$$.

 For more information, see the schema for $$StudentProgramAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/students" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/programs" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/courses" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the organization of subject matter and related learning experiences provided
 for the instruction of students on a regular or systematic basis.

 This is similar to section except that a section is a specific instance of a course.

 For more information, see the schema for $$Course$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/courseOfferings"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/courseOfferings/sessions"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/courseTranscripts"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/courseTranscripts/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentParentAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentParentAssociations/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/home" resourceClass="org.slc.sli.api.resources.v1.HomeResource">
            <ns2:doc><![CDATA[Provides initial information for a user. This includes providing different links to self and associated
 resources.]]></ns2:doc>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/gradingPeriods" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the time span for which grades are reported.

 For detailed information, see the schema for $$GradingPeriod$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/reportCards" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/grades" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/cohorts" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the definition of a cohort.

 A cohort is defined as a list of
 designated students for tracking, analysis, or intervention.

 For detailed information, see the schema for $$Cohort$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/aggregations" resourceClass="org.slc.sli.api.resources.v1.aggregation.AggregateDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffCohortAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffCohortAssociations/staff"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentCohortAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentCohortAssociations/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/sessions" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the session resource. A session is the prescribed span of time
 when an education institution is open, instruction is provided, and
 students are under the direction and guidance of teachers and/or
 education institution administration. A session may be interrupted
 by one or more vacations.

 For detailed information, see the schema for $$Session$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/courseOfferings"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/courseOfferings/courses"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/courseTranscripts" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the final record of a student's performance in their courses at the end of semester or
 school year.

 For more information, see the schema for $$StudentTranscriptAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/courses" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/students" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/gradebookEntries" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents a teacher's assignment, homework, or classroom assessment to be recorded in a
 gradebook.

 For more information, see the schema for $$GradebookEntry$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/staffEducationOrgAssignmentAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the link between an education organization and a staff member. Education
 organizations employ multiple staff and staff are free to work at multiple education
 organizations.

 For more information, see the schema for $$StaffEducationOrganizationAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/staff" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/educationOrganizations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/disciplineIncidents" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the definition of a discipline incident.  A discipline incident
 is defined as a single occurrence of an infraction.

 Discipline incidents are events classified as warranting discipline action.

 For detailed information, see the schema for $$DisciplineIncident$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentDisciplineIncidentAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentDisciplineIncidentAssociations/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentGradebookEntries"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents a student's grade or competency level for a $$GradebookEntry$$.

 For detailed information, see the schema for $$StudentGradebookEntry$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/assessments" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents a tool, instrument, process, or exhibition composed of a systematic sampling of
 behavior for measuring a student's competence, knowledge, skills or behavior. An assessment can
 be used to measure differences in individuals or groups and changes in performance from one
 occasion to the next.

 For more information, see the schema for $$Assessment$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/studentAssessments"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentAssessments/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/learningStandards"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/learningObjectives"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentCohortAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the association between a $$Student$$ and a $$Cohort$$.

 For more information, see the schema for $$StudentCohortAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/students" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/cohorts" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/educationOrganizations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents any public or private institution, organization, or agency that provides instructional
 or support services to students or staff at any level.

 For more information, see the schema for $$EducationOrganization$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/staffEducationOrgAssignmentAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffEducationOrgAssignmentAssociations/staff"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/teacherSectionAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the class sections (see the $$Section$$ schema) to which a teacher (see the
 $$Teacher$$ schema) is assigned to.

 For more information, see the schema for $$TeacherSectionAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/teachers" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/sections" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/schools" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[This entity represents an educational organization that includes staff and students who
 participate in classes and educational activity groups.

 For more information, see the schema for $$School$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/aggregations" resourceClass="org.slc.sli.api.resources.v1.aggregation.AggregateDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/teacherSchoolAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/teacherSchoolAssociations/teachers"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentSchoolAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentSchoolAssociations/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/sections" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/programs" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the definition of a program.  A program is designed to work in
 conjunction with or to supplement the main academic program.

 For detailed information, see the schema for $$Program$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffProgramAssociations/staff"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentProgramAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentProgramAssociations/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffProgramAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/learningStandards" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents a subelement of a learning objective consisting of a precise statement of the
 expectation of a student's proficiency.

 For more information, see the schema for $$LearningStandard$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/parents" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents a parent or guardian of a student.

 For detailed information, see the schema for $$Parent$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentParentAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentParentAssociations/students"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/teachers" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents a person that is employed by an LEA or other educational unit engaged in student
 instruction. These persons are instructional-type staff members. In the data model, a teacher
 entity is a staff member with additional properties. For more information, see the schema for
 $$Teacher$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/teacherSchoolAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/teacherSectionAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/teacherSectionAssociations/sections"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/teacherSchoolAssociations/schools"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentAcademicRecords"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the cumulative record of academic achievements and the collection of student grades
 for the student at the end of a semester or school year.

 If you're looking for records for a particular course, use StudentTranscriptAssociationResource
 instead.

 For detailed information, see the schema for $$StudentAcademicRecord$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/learningObjectives" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents identified learning objectives for courses in specific grades.

 For more information, see the schema for $$LearningObjective$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/studentCompetencies"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/learningStandards"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/parentLearningObjectives"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/childLearningObjectives"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/attendances" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the definition of an attendance resource. An attendance resource represents
 both daily and class period (section) attendance.

 For more information, see the schema for $$Attendance$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentSchoolAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the school to which a student is enrolled.

 For more information, see the schema for $$StudentSchoolAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/students" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/schools" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/teacherSchoolAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[This association indicates the school(s) to which a teacher provides instructional services to.

 For more information, see the schema for $$TeacherSchoolAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/teachers" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/schools" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/staff" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the definition of a staff resource. A staff is a person that is employed by
 an LEA or other educational unit engaged in student instruction.
 These persons are instructional-type staff members.
 A teacher is a staff member with additional properties. See the $$Teacher$$ resource for details.
 A staff is associated with a school, cohort and program through $$StaffEducationOrganizationAssociation$$,
 $$StaffCohortAssociation$$, and $$StaffProgramAssociation$$.

 For more details about the resources, see $$School$$, $$Cohort$$ and $$Program$$ resources.

 For detailed information, see the schema for $$Section$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/staffProgramAssociations/programs"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffCohortAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffEducationOrgAssignmentAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffProgramAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffEducationOrgAssignmentAssociations/educationOrganizations"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/staffCohortAssociations/cohorts"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/grades" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents an overall score or assessment tied to a course over a period
 of time (i.e., the grading period).

 Student grades are usually a compilation of marks and other scores.

 For more information, see the schema for $$Grade$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentCompetencies" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the competency assessed or evaluated for the student against a specific Learning
 Objective.

 For detailed information, see the schema for $$StudentCompetency$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/reportCards" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentSectionAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the course sections a student is assigned to.

 For more information, see the schema for $$StudentSectionAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/students" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/sections" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentCompetencies"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/grades" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/staffCohortAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the association between a $$Staff$$ member and a $$Cohort$$.

 For more information, see the schema for $$StaffCohortAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/staff" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/cohorts" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentAssessments" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the analysis or scoring of a student's response on an assessment. The analysis results
 in a value that represents a student's performance on a set of items on a test.

 For more information, see the schema for $$StudentAssessmentAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/students" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/assessments" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/competencyLevelDescriptor"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Defines various levels for assessed competencies.

 For more information, see the schema for $$CompetencyLevelDescriptor$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/staffProgramAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the association between a $$Staff$$ member and a $$Program$$.

 For more information, see the schema for $$StaffProgramAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/staff" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/programs" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentCompetencyObjectives"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents additional competencies for student achievement that are not associated with specific
 learning objectives
 (e.g., paying attention in class).

 For detailed information, see the schema for $$StudentCompetencyObjective$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentDisciplineIncidentAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the association between a $$Student$$ and a $$DisciplineIncident$$.

 For more information, see the schema for $$StudentDisciplineIncidentAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/students" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/disciplineIncidents"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/competencyLevelDescriptorTypes"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Provides references for competency level descriptors during interchange. Use XML IDREF to
 reference a course record that is included in the interchange. To lookup where already loaded
 specify either CodeValue OR Description.

 For more information, see the schema $$CompetencyLevelDescriptorType$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/studentParentAssociations"
                      resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the relationships between students and their parents, guardians, or caretakers.

 For more information, see the schema for $$StudentParentAssociation$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}/parents" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/students" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/courseOfferings" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the course offering resource. A course offering represents
 the association of a $$Course$$ with a $$Session$$ during which the
 course is offered.

 For detailed information, see the schema for $$CourseOffering$$ resources.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/sessions" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/courses" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/disciplineActions" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[Represents the definition of a discipline action.

 A discipline action is defined as an action taken by an
 education organization after a disruptive event that
 is recorded as a discipline incident.

 For detailed information, see the schema for the $$DisciplineAction$$ entity.]]></ns2:doc>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
        <ns2:resource path="v1/students" resourceClass="org.slc.sli.api.resources.generic.OnePartResource">
            <ns2:doc><![CDATA[This entity represents an individual for whom
 instruction, services and/or care are provided
 in an early childhood, elementary or secondary
 educational program under the jurisdiction of a school,
 education agency, or other institution
 or program. A student is a person who has been enrolled in a
 school or other educational institution. For more information, see the schema for the $$Student$$
 resources.]]></ns2:doc>
            <ns2:resource path="{id}/studentProgramAssociations/programs"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentAssessments"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentCohortAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/courseTranscripts"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentParentAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentDisciplineIncidentAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/reportCards" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentParentAssociations/parents"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentProgramAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentSchoolAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentSectionAssociations"
                          resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentSectionAssociations/sections"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentSchoolAssociations/schools"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentAssessments/assessments"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/attendances" resourceClass="org.slc.sli.api.resources.generic.ThreePartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/courseTranscripts/courses"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentDisciplineIncidentAssociations/disciplineIncidents"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}/studentCohortAssociations/cohorts"
                          resourceClass="org.slc.sli.api.resources.generic.FourPartResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
            <ns2:resource path="{id}" resourceClass="org.slc.sli.api.resources.generic.TwoPartResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
                <ns2:method id="patch" name="PATCH"/>
            </ns2:resource>
            <ns2:resource path="{id}/custom" resourceClass="org.slc.sli.api.resources.v1.CustomEntityResource">
                <ns2:method id="read" name="GET"/>
                <ns2:method id="create" name="POST"/>
                <ns2:method id="delete" name="DELETE"/>
                <ns2:method id="update" name="PUT"/>
            </ns2:resource>

            <ns2:method id="create" name="POST"/>
            <ns2:method id="readAll" name="GET"/>
            <ns2:resource path="{id}/calculatedValues"
                          resourceClass="org.slc.sli.api.resources.v1.aggregation.CalculatedDataListingResource">
                <ns2:method id="read" name="GET"/>
            </ns2:resource>
        </ns2:resource>
    </ns2:resources>
</ns2:application>