sli/domain/src/test/resources/testSchemas/TestXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sli="http://slc-sli/ed-org/0.1" elementFormDefault="qualified"
	attributeFormDefault="qualified">

	<xs:include schemaLocation="TestBasicSchema.xsd" />

	<xs:complexType name="TestComplexType">
		<xs:sequence>
			<xs:element name="testString" type="xs:string">
				<xs:annotation>
					<xs:documentation>A test String</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="testSimpleReference" type="BaseSimpleType">
				<xs:annotation>
					<xs:documentation>A reference to another type</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="testDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>A test date</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="testDouble" type="xs:double">
				<xs:annotation>
					<xs:documentation>A test date</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="testFloat" type="xs:float">
				<xs:annotation>
					<xs:documentation>A test date</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="testAnonymousSimpleType">
				<xs:annotation>
					<xs:documentation>
						An anonymous simple type
					</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1" />
						<xs:maxInclusive value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="testComplexContentExtension">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="complexType1">
							<xs:sequence>
								<xs:element name="extension1" type="complexType2" />
								<xs:element name="extension2" type="BaseSimpleType" />
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="WeeksInCycle">
				<xs:annotation>
					<xs:documentation>
						The number of weeks in which the meeting time
						schedules repeat.
					</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1" />
						<xs:maxInclusive value="52" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TestComplexType2">
		<xs:sequence>
			<xs:element name="WeeksInCycle">
				<xs:annotation>
					<xs:documentation>
						The number of weeks in which the meeting time
						schedules repeat.
					</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1" />
						<xs:maxInclusive value="99" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TestComplexType3">
		<xs:sequence>
			<xs:element name="SimpleTypeRestriction">
				<xs:annotation>
					<xs:documentation>
						The number of weeks in which the meeting time
						schedules repeat.
					</xs:documentation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="RestrictedString">
						<xs:maxLength value="40" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="complexType1">
		<xs:sequence>
			<xs:element name="stringElement" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="complexType2">
		<xs:sequence>
			<xs:element name="intElement" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TestDocumentationComplex">
		<xs:annotation>
			<xs:documentation>Test complex documentation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="base1" type="complexType1" />
			<xs:element name="simple" type="TestDocumentationSimple" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TestRelaxedBlacklistSequenceComplex">
		<xs:annotation>
			<xs:documentation>Test RelaxedBlacklist sequence complex
				documentation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="white" type="TestRelaxedBlacklistString" />
			<xs:element name="nonwhite" type="TestNonRelaxedBlacklistString" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TestRelaxedBlacklistChoiceComplex">
		<xs:annotation>
			<xs:documentation>Test RelaxedBlacklist choice complex documentation.
			</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="white" type="TestRelaxedBlacklistString" />
			<xs:element name="nonwhite" type="TestNonRelaxedBlacklistString" />
		</xs:choice>
	</xs:complexType>

	<!-- non PII complex object with a PII element -->
	<xs:complexType name="TestNotPersonallyIdentifiableInfoComplex">
		<xs:sequence>
			<xs:element name="simple" type="TestPersonallyIdentifiableInfoSimple" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="TestPersonallyIdentifiableInfoComplex">
		<xs:annotation>
			<xs:appinfo>
				<sli:PersonallyIdentifiableInfo>true</sli:PersonallyIdentifiableInfo>
				<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
				<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="base1" type="complexType1" />
			<xs:element name="base2" type="complexType1" />
			<xs:element name="simple" type="TestPersonallyIdentifiableInfoSimple" />
			<xs:element name="notPII" type="TestNotPersonallyIdentifiableInfoSimple" />
		</xs:sequence>
	</xs:complexType>

	<!-- non RestrictedForLogging complex object -->
	<xs:complexType name="TestNotRestrictedForLoggingComplex">
		<xs:annotation>
			<xs:appinfo>
				<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
				<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="base1" type="complexType1" />
			<xs:element name="base2" type="complexType1" />
		</xs:sequence>
	</xs:complexType>

	<!-- RestrictedForLogging complex object -->
	<xs:complexType name="TestRestrictedForLoggingComplex">
		<xs:annotation>
			<xs:appinfo>
				<sli:RestrictedForLogging>true</sli:RestrictedForLogging>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="base1" type="complexType1" />
			<xs:element name="base2" type="complexType1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="TestSecurityComplex">
		<xs:annotation>
			<xs:appinfo>
				<sli:ReadEnforcement>
					<sli:allowedBy>READ_RESTRICTED</sli:allowedBy>
					<sli:allowedBy>READ_GENERAL</sli:allowedBy>
					<sli:allowedBy>READ_PUBLIC</sli:allowedBy>					
				</sli:ReadEnforcement>
				<sli:WriteEnforcement>
					<sli:allowedBy>WRITE_GENERAL</sli:allowedBy>
				</sli:WriteEnforcement>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="base1" type="complexType1" />
			<xs:element name="security" type="TestSecuritySimple" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TestChoiceNoMinOccurs">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="intChoice" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stringChoice" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="TestChoiceOnlyOne">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="intChoice" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>			
			</xs:element>
			<xs:element name="stringChoice" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="TestChoiceMinTwoMaxTwo">
		<xs:choice minOccurs="1" maxOccurs="2">
			<xs:element name="intChoice" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stringChoice" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="TestChoiceMinOneMaxUnbounded">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="intChoice" type="xs:int">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="stringChoice" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<sli:ReadEnforcement><sli:allowedBy>READ_GENERAL</sli:allowedBy></sli:ReadEnforcement>
						<sli:WriteEnforcement><sli:allowedBy>WRITE_GENERAL</sli:allowedBy></sli:WriteEnforcement>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>

</xs:schema>
