sli/domain/src/main/resources/sliXsd/SLI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:sli="http://slc-sli/ed-org/0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified" elementFormDefault="qualified">

	<xs:include schemaLocation="ComplexTypes.xsd" />

	<!-- This file contains the top-level elements for the SLI database schema 
		representation. -->
	<!-- These elements correspond 1:1 with MongoDB collections. -->

	<!-- TODO: All anonymous types should be moved out to ComplexTypes.xsd -->
	<!-- This will permit the types to be referred to by name in modeling. -->
	<xs:element name="assessment" type="assessment" />
	<xs:element name="attendance" type="attendance" />
	<xs:element name="bellSchedule" type="bellSchedule" />
	<xs:element name="cohort" type="cohort" />
	<xs:element name="course" type="course" />
	<xs:element name="disciplineIncident" type="disciplineIncident" />
	<xs:element name="educationOrgAssociation" type="educationOrgAssociation" />
	<xs:element name="eventBellScheduleAssociation" type="eventBellScheduleAssociation" />
	<xs:element name="gradebookEntry" type="gradebookEntry" />
	<xs:element name="parent" type="parent" />
	<xs:element name="program" type="program" />
	<xs:element name="school" type="school" />
	<xs:element name="schoolSessionAssociation" type="schoolSessionAssociation" />
	<xs:element name="section" type="section" />
	<xs:element name="sectionAssessmentAssociation" type="sectionAssessmentAssociation" />
	<xs:element name="sectionBellScheduleAssociation" type="sectionBellScheduleAssociation" />
	<xs:element name="session" type="session" />
	<xs:element name="sessionCourseAssociation" type="sessionCourseAssociation" />
	<xs:element name="staffCohortAssociation" type="staffCohortAssociation" />
	<xs:element name="staffProgramAssociation" type="staffProgramAssociation" />
	<xs:element name="student" type="student" />
	<xs:element name="studentAcademicRecord" type="studentAcademicRecord" />
	<xs:element name="studentAssessmentAssociation" type="studentAssessmentAssociation" />
	<xs:element name="studentCohortAssociation" type="studentCohortAssociation" />
	<xs:element name="studentCTEProgramAssociation" type="studentCTEProgramAssociation" />

	<xs:element name="studentDisciplineIncidentAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates those students who were
				victims,
				perpetrators, witnesses, and/or reporters for a discipline
				incident.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student associated with the discipline
							incident.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="disciplineIncidentId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the discipline incident associated
							with the
							student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>disciplineIncident</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentParticipationCode" type="studentParticipationCodeType">
					<xs:annotation>
						<xs:documentation>The role or type of participation of a student
							in a discipline
							incident; for example: Victim Perpetrator Witness
							Reporter
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="behaviors"
					type="behaviorDescriptor">
					<xs:annotation>
						<xs:documentation>Categories of student-specific behavior coded
							for use in
							describing an incident.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="secondaryBehaviors" type="secondaryBehavior">
					<xs:annotation>
						<xs:documentation>Supplemental student-specific categorization
							about an incident
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentSectionGradebookEntry">
		<xs:annotation>
			<xs:documentation>
				StudentSectionGradebookEntry
				This entity holds a
				student’s grade or competency level for a
				GradeBookEntry.
				Associations: Student, Section, GradebookEntry
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gradebookEntryId" type="reference">
					<xs:annotation>
						<xs:documentation>The GradebookEntry for which the performance is
							recorded.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>gradebookEntry</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student who received the grade
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sectionId" type="reference">
					<xs:annotation>
						<xs:documentation>The section the grade counts towards
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>section</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="dateFulfilled" type="xs:date"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The date an assignment was turned in or the
							date
							of an assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="letterGradeEarned" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A final or interim (grading period) indicator
							of
							student performance in a class as submitted by the
							instructor.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="gradeEarned">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="numericGradeEarned" type="xs:integer"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>A final or interim (grading period) indicator
							of
							student performance in a class as submitted by the
							instructor.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="diagnosticStatement" type="text"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>A statement provided by the teacher that
							provides information in addition to the grade or assessment
							score.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentParentAssociation">
		<xs:annotation>
			<xs:documentation>
				This association relates students to their parents,
				guardians, or caretakers.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="parentId" type="reference">
					<xs:annotation>
						<xs:documentation>The parent or guardian of the student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>parent</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="relation" type="relationType">
					<xs:annotation>
						<xs:documentation>
							The nature of an individual's relationship to a
							student; for example:
							Father, Mother, Step Father, Step Mother,
							Foster Father, Foster Mother, Guardian, etc..
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="primaryContactStatus"
					type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the person is a primary
							parental contact for the student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="livesWith" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the student lives with the
							associated parent.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="emergencyContactStatus"
					type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the person is a designated
							emergency contact for the student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="contactPriority" type="xs:int">
					<xs:annotation>
						<xs:documentation>
							The numeric order of the preferred sequence or
							priority of contact.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="contactRestrictions"
					type="contactRestrictions">
					<xs:annotation>
						<xs:documentation>
							Restrictions for student and/or teacher contact
							with the individual (e.g., the student may
							not be picked up by the
							individual)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentProgramAssociation" type="studentProgramAssociation" />

	<xs:element name="studentSpecialEdProgramAssociation" type="studentSpecialEdProgramAssociation" />

	<xs:element name="studentSchoolAssociation">
		<xs:annotation>
			<xs:documentation>This association represents the school to which a
				student is enrolled.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>Student enrolled in the school.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolId" type="reference">
					<xs:annotation>
						<xs:documentation>School enrolling the student.</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>school</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month, day, and year on which an individual
							enters and
							begins to receive instructional services in a school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryGradeLevel" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The grade level or primary instructional level
							at which a
							student enters and receives services in a school or an
							educational
							institution during a given academic session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryType" type="entryType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The process by which a student enters a school
							during a given
							academic session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="repeatGradeIndicator" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indicator of whether the student is enrolling
							to repeat a
							grade level, either by failure or an agreement to hold
							the student
							back.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="classOf" type="schoolYearType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Projected High School graduation year
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolChoiceTransfer" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication of whether students transferred in
							or out of the
							school did so during the school year under the
							provisions for public
							school
							choice in accordance with Title I,
							Part A, Section 1116.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="exitWithdrawDate" type="xs:date"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month, day, and year of the first day after
							the date of an
							individual's last attendance at a school (if
							known), the day on which an
							individual graduated, or the date on
							which it becomes known
							officially that
							an individual left school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="exitWithdrawType" type="exitWithdrawType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The circumstances under which the student exited
							from
							membership in an educational institution.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationalPlans" type="educationalPlanItemType"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The type of Education Plan(s) the student is
							following, if
							appropriate. For example:
							Special education IEP
							Vocational
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="graduationPlan" type="graduationPlan"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The graduation plan associated with the student
							enrolled in
							the school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dailyAttendance" type="dailyAttendanceType"
					minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Daily attendance for the student at the school.
							Attendance is
							partitioned by school year.
							School years must be
							unique per school year attendance.
						</xs:documentation>
					</xs:annotation>
					<xs:unique name="uniqueSchoolYears">
						<xs:selector xpath="schoolYearAttendance" />
						<xs:field xpath="@schoolYear" />
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentSectionAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the course sections a
				student is assigned to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student enrolled in the section.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sectionId" type="reference">
					<xs:annotation>
						<xs:documentation>The section the student is enrolled in.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>section</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the student's entry or
							assignment to the section. If blank, default is the start date of
							the first grading period.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="endDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day, and year of the withdrawal or exit
							of the student from the section.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="homeroomIndicator" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates the section is the student's homeroom.
							Homeroom period may the convention for taking daily attendance.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="repeatIdentifier" type="repeatIdentifierType">
					<xs:annotation>
						<xs:documentation>An indication as to whether a student has
							previously taken a given course.
							Repeated, counted in grade point
							average
							Repeated, not counted in grade point average
							Not repeated
							Other
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentTranscriptAssociation">
		<xs:annotation>
			<xs:documentation>This entity is the final record of a student's
				performance in their courses at the end of semester or school year.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="courseAttemptResult" type="courseAttemptResultType">
					<xs:annotation>
						<xs:documentation>The result from the student's attempt to take
							the course, for example:
							Pass
							Fail
							Incomplete
							Withdrawn
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="creditsAttempted" type="credits">
					<xs:annotation>
						<xs:documentation>'The number of credits a student attempted and
							could earn for successfully completing a given course.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="creditsEarned" type="credits">
					<xs:annotation>
						<xs:documentation>'The number of credits a student earned for
							completing a given course.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="additionalCreditsEarned" type="additionalCredits">
					<xs:annotation>
						<xs:documentation>'The number of additional credits a student
							attempted and could earn for successfully completing a given
							course (e.g., dual credit, AP, IB)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="gradeLevelWhenTaken"
					type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>Student's grade level at time of course.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="methodCreditEarned" type="methodCreditEarnedType">
					<xs:annotation>
						<xs:documentation>The method the credits were earned, for example:
							Classroom, Examination, Transfer
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="finalLetterGradeEarned">
					<xs:annotation>
						<xs:documentation>The final indicator of student performance in a
							class as submitted by the instructor.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="gradeEarned">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="finalNumericGradeEarned"
					type="xs:integer">
					<xs:annotation>
						<xs:documentation>The final indicator of student performance in a
							class as submitted by the instructor.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="courseRepeatCode" type="courseRepeatCodeType">
					<xs:annotation>
						<xs:documentation>Indicates that an academic course has been
							repeated by a student and how that repeat is to be computed in
							the student's academic grade average.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="diagnosticStatement"
					type="text">
					<xs:annotation>
						<xs:documentation>A statement provided by the teacher that
							provides information in addition to the grade or assessment
							score.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeType" type="gradeType">
					<xs:annotation>
						<xs:documentation>The type of grade reported (e.g., Exam, Final,
							Grading Period).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="performanceBaseConversion"
					type="performanceBaseType">
					<xs:annotation>
						<xs:documentation>A conversion of the level to a standard set of
							performance levels.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="courseId" type="reference">
					<xs:annotation>
						<xs:documentation>The course recorded in the Course transcript
							entry,
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>course</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The Student that took the reported instruction.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="teacher">
		<xs:annotation>
			<xs:documentation>This entity represents a person that is employed by
				an LEA or other
				educational unit engaged in student instruction.
				These persons are
				instructional-type staff members. In the data
				model, a teacher
				entity is a staff
				member with additional properties.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="abstractStaff">
					<xs:sequence>
						<xs:element minOccurs="0" name="teacherUniqueStateId"
							type="uniqueStateIdentifier">
							<xs:annotation>
								<xs:documentation>An ID number maintained by the state that
									uniquely
									identifies this teacher.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="highlyQualifiedTeacher"
							type="xs:boolean">
							<xs:annotation>
								<xs:documentation>An indication of whether a teacher is
									classified
									as highly qualified for his/her assignment according
									to state
									definition. This attribute indicates the teacher is
									highly
									qualified for ALL sections being taught.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="staff">
		<xs:annotation>
			<xs:documentation>This entity represents a person that is employed by
				an LEA or other
				educational unit engaged in student instruction.
				These persons are
				instructional-type staff members. In the data
				model, a teacher
				entity is a staff
				member with additional properties.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="abstractStaff">
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="staffEducationOrganizationAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the education
				organization to which a staff
				member provides services. Also known as
				school of service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="staffReference" type="reference">
					<xs:annotation>
						<xs:documentation>The staff assigned to the education
							organization.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>staff</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationOrganizationReference" type="reference">
					<xs:annotation>
						<xs:documentation>The educational organization to which the staff
							memeber
							provides services
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>educationOrganization</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="staffClassification" type="staffClassificationType">
					<xs:annotation>
						<xs:documentation>The titles of employment, official status, or
							rank of
							education staff.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="positionTitle" type="positionTitle"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The descriptive name of an individual's
							position.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the start or effective
							date of a staff
							member's employment, contract or relationship with
							the LEA.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="endDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Month, day and year of the end or termination
							date of a staff
							member's employment, contract or relationship with
							the LEA.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="teacherSchoolAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the school(s) to which a
				teacher provides
				instructional services to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="teacherId" type="reference">
					<xs:annotation>
						<xs:documentation>The teacher providing services to the school.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>teacher</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolId" type="reference">
					<xs:annotation>
						<xs:documentation>The school where the teacher provides services.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>school</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="programAssignment" type="programAssignmentType">
					<xs:annotation>
						<xs:documentation>The name of the program for which the individual
							is assigned;
							for example: Regular education Title I-Academic Title
							I-Non-Academic
							Special
							Education Bilingual/English as a Second
							Language
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="instructionalGradeLevels" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The set of grade levels for which the
							individual's assignment
							is responsible.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="academicSubjects" type="academicSubjectType">
					<xs:annotation>
						<xs:documentation>The teaching field taught by an individual, for
							example
							English/Language Arts, Reading, Mathematics, Science,
							Social Sciences, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="teacherSectionAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the class sections to
				which a teacher is
				assigned to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="teacherId" type="reference">
					<xs:annotation>
						<xs:documentation>The teacher assigned to the section.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>teacher</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sectionId" type="reference">
					<xs:annotation>
						<xs:documentation>The section the teacher is assigned to.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>section</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="classroomPosition" type="classroomPositionType">
					<xs:annotation>
						<xs:documentation>The type of position the staff member holds in
							the specific
							class/section; for example: Teacher of Record,
							Assistant Teacher, Support
							Teacher, Substitute Teacher...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of a teacher's assignment to
							the section.
							If blank, defaults to the first day of the first
							grading period for the
							section.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="endDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the last day of a
							teacher's assignment
							to the section.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="highlyQualifiedTeacher"
					type="xs:boolean">
					<xs:annotation>
						<xs:documentation>An indication of whether a teacher is classified
							as highly
							qualified for his/her assignment according to state
							definition. This
							attribute indicates the teacher is highly
							qualified for this section being
							taught.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="learningStandard">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>This entity is a subelement of a learning
					objective
					consisting of a precise statement of the expectation of a
					student's
					proficiency.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="learningStandardId" type="learningStandardId">
					<xs:annotation>
						<xs:documentation>The Identifier for the specific learning
							standard
							(e.g., 111.15.3.1.A)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="description">
					<xs:annotation>
						<xs:documentation>A detailed statement of the expectation that is
							is assessed.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contentStandard" type="contentStandardType">
					<xs:annotation>
						<xs:documentation>A reference to the type of content standard
							e.g.,
							state, national, etc.)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeLevel" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The grade level for the specific learning
							standard.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="subjectArea" type="academicSubjectType">
					<xs:annotation>
						<xs:documentation>Subject area for the learning standard.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="courseTitle" type="courseTitle"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The official Course Title with which this
							learning standard is associated.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="learningObjective">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>This entity represents identified learning
					objectives for courses in specific grades.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="learningObjectiveId" type="learningStandardId"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The Identifier for the specific learning
							objective in the context of a standard (e.g., 111.15.3.1.A)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="objective" type="objective">
					<xs:annotation>
						<xs:documentation>The designated title of the learning
							objective.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="description"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The description of the learning objective.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="academicSubject" type="academicSubjectType">
					<xs:annotation>
						<xs:documentation>The description of the content or subject area
							(e.g., arts, mathematics, reading, stenography, or a foreign
							language) of an assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="objectiveGradeLevel" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The grade level for which the learning
							objective
							is targeted,
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="learningStandards" type="reference"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Learning standard(s) included in this
							objective.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>learningStandard</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="parentLearningObjective" type="reference"
					minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Parent learning objective this is a
							sub-objective for.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>learningObjective</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
