sli/domain/src/main/resources/sliXsd/SLI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:sli="http://slc-sli/ed-org/0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="qualified" elementFormDefault="qualified">

	<xs:include schemaLocation="ComplexTypes.xsd" />

	<!-- This file contains the top-level elements for the SLI database schema 
		representation. -->
	<!-- These elements correspond 1:1 with MongoDB collections. -->

	<xs:element name="assessment" type="assessment" />
	<xs:element name="attendance" type="attendance" />
	<xs:element name="bellSchedule" type="bellSchedule" />
	<xs:element name="cohort" type="cohort" />
	<xs:element name="course" type="course" />
	<xs:element name="disciplineIncident" type="disciplineIncident" />
	<xs:element name="educationOrgAssociation" type="educationOrgAssociation" />
	<xs:element name="eventBellScheduleAssociation" type="eventBellScheduleAssociation" />
	<xs:element name="gradebookEntry" type="gradebookEntry" />
	<xs:element name="parent" type="parent" />
	<xs:element name="program" type="program" />
	<xs:element name="school" type="school" />
	<xs:element name="schoolSessionAssociation" type="schoolSessionAssociation" />
	<xs:element name="section" type="section" />
	<xs:element name="sectionAssessmentAssociation" type="sectionAssessmentAssociation" />
	<xs:element name="sectionBellScheduleAssociation" type="sectionBellScheduleAssociation" />
	<xs:element name="session" type="session" />
	<xs:element name="sessionCourseAssociation" type="sessionCourseAssociation" />

	<xs:element name="staffCohortAssociation">
		<xs:annotation>
			<xs:documentation>
				This association indicates the staff associated
				with a cohort of students.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="staffId" type="reference">
					<xs:annotation>
						<xs:documentation>The staff associated with the cohort of
							students.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>staff</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="cohortId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the cohort associated with the
							staff.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>cohort</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Start date for the association of staff to this
							cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="endDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>End date for the association of staff to this
							cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="studentRecordAccess"
					type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the staff has access to the
							student records of the cohort per district
							interpretation of FERPA
							and other privacy laws, regulations and policies.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentAcademicRecord">
		<xs:annotation>
			<xs:documentation>This association contains the cumulative
				record of
				academic
				achievements and the collection of student grades for the
				student at the
				end of a semester or school year.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student who was enrolled for
							the session.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sessionId" type="reference">
					<xs:annotation>
						<xs:documentation>Grades for the classes
							attended by the student
							for this grading period.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>session</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<!-- <xs:element name="GPAGivenGradingPeriod" type="xs:double"> <xs:annotation> 
					<xs:documentation>The number of days an individual is tardy during a given 
					reporting period. </xs:documentation> </xs:annotation> <xs:simpleType> <xs:restriction 
					base="xs:int"> <xs:minInclusive value="0" /> </xs:restriction> </xs:simpleType> 
					</xs:element> -->
				<xs:element name="cumulativeCreditsEarned" type="credits"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The cumulative number of credits
							an individual
							earns by
							completing courses or examinations during his or her
							enrollment in the
							current
							school as well as those credits
							transferred from schools in which the
							individual
							had been
							previously enrolled.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cumulativeCreditsAttempted" type="credits"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The cumulative number of credits
							an individual
							attempts to earn by taking courses during his or her enrollment
							in the
							current
							school as well as those credits transferred from
							schools in which the
							individual
							had been previously enrolled.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cumulativeGradePointsEarned" type="xs:double"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The cumulative number of grade
							points an
							individual earns by successfully completing courses or
							examinations during
							his or her enrollment in the current school as
							well as those transferred
							from schools in which the individual had
							been previously enrolled.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cumulativeGradePointAverage" type="xs:double"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>A measure
							of average performance in all courses
							taken by an individual during
							his or
							her school career as
							determined for record-keeping purposes. This is
							obtained
							by
							dividing the total grade points received by the total number of
							credits
							attempted. This usually includes grade points received and
							credits
							attempted
							in his or her current school as well as those
							transferred from schools in
							which the individual was previously
							enrolled.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeValueQualifier" type="gradeValueQualifier"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The scale of equivalents,
							if applicable, for
							grades awarded as indicators of performance in
							schoolwork.
							For
							example, numerical equivalents for letter grades used in
							determining
							a student's Grade Point Average (A=4, B=3, C=2, D=1 in
							a
							four-point
							system)
							or letter equivalents for percentage grades
							(90-100%=A, 80-90%=B,
							etc.).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="classRanking" type="classRanking"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The
							academic rank information of a student in
							relation to his or her
							graduating
							class.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="academicHonors" type="academicHonor"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Academic distinctions earned by or
							awarded to the
							student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="recognitions" type="recognition"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Recognitions
							given to the student for
							accomplishments in a co-curricular, or
							extra-curricular
							activity.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="projectedGraduationDate" type="xs:date"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month and year the student is
							projected to
							graduate.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="staffProgramAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the staff associated
				with a program.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="staffId" type="reference" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The staff associated with the program.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>staff</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="programId" type="reference" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The program associated to the staff.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>program</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Start date for the association of staff to this
							cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="endDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>End date for the association of staff to this
							cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="studentRecordAccess"
					type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the staff has access to the
							student records of the
							program per district
							interpretation of FERPA
							and other privacy laws, regulations and policies.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="student">
		<xs:annotation>
			<xs:documentation>This entity represents an individual for whom
				instruction, services
				and/or care are provided in an early childhood,
				elementary or secondary
				educational
				program under the jurisdiction of
				a school, education agency, or other
				institution
				or program. A student
				is a person who has been enrolled in a school or
				other
				educational
				institution.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentUniqueStateId" type="uniqueStateIdentifier">
					<xs:annotation>
						<xs:documentation>A unique number or alphanumeric code assigned to
							a
							student by a state education agency.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentIdentificationCode" type="studentIdentificationCode"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A coding scheme that is used for identification
							and
							record-keeping purposes by schools, social services, or other
							agencies to refer to a student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="name" type="name">
					<xs:annotation>
						<xs:documentation>Full legal name of the person.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="otherName" type="otherName" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Other names (e.g., alias, nickname, previous
							legal
							name) associated with a person.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sex" type="sexType">
					<xs:annotation>
						<xs:documentation>A person's gender.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="birthData" type="birthData">
					<xs:annotation>
						<xs:documentation>The set of elements that capture relevant data
							regarding a person's birth, including birth date and place of
							birth.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="address" type="address" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The set of elements that describes an address,
							including the street address, city, state, and ZIP code.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="telephone" type="telephone" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The 10-digit telephone number, including the
							area
							code, for the person.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="electronicMail" type="electronicMail"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The numbers, letters, and symbols used to
							identify an
							electronic mail (e-mail) user within the network to
							which the
							individual or organization belongs.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="profileThumbnail" type="profileThumbnail"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Locator for the student photo.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="hispanicLatinoEthnicity" type="xs:boolean"
					nillable="true">
					<xs:annotation>
						<xs:documentation>An indication that the individual traces his or
							her
							origin or descent to Mexico, Puerto Rico, Cuba, Central and
							South
							America, and other Spanish cultures, regardless of race. The
							term,
							"Spanish origin," can be used in addition to "Hispanic or
							Latino."
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="oldEthnicity" type="oldEthnicityType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Previous definition of Ethnicity combining
							Hispanic/Latino and race:
							1 - American Indian or Alaskan Native
							2 -
							Asian or Pacific Islander
							3 - Black, not of Hispanic origin
							4 -
							Hispanic
							5 - White, not of Hispanic origin
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="race" type="raceItemType" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The general racial category which most clearly
							reflects the individual's recognition of his or her community or
							with which the individual most identifies. The way this data
							element
							is listed, it must allow for multiple entries so that each
							individual can specify all appropriate races.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="economicDisadvantaged" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication of inadequate financial condition
							of an
							individual's family, as determined by family income, number
							of
							family members/dependents, participation in public assistance
							programs, and/or other characteristics considered relevant by
							federal, state, and local policy.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReadEnforcement>READ_RESTRICTED</sli:ReadEnforcement>
							<sli:WriteEnforcement>WRITE_RESTRICTED</sli:WriteEnforcement>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolFoodServicesEligibility" type="schoolFoodServicesEligibilityType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication of a student's level of
							eligibility for
							breakfast, lunch, snack, supper, and milk
							programs.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReadEnforcement>READ_RESTRICTED</sli:ReadEnforcement>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentCharacteristics" type="studentCharacteristic"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Reflects important characteristics of the
							student's
							home situation:
							such as Displaced Homemaker, Immigrant,
							Migratory,
							Military Parent, Pregnant Teen, Single Parent,
							Unaccompanied Youth,
							etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="limitedEnglishProficiency" type="limitedEnglishProficiencyType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication that the student has been
							identified as
							limited English proficient by the Language
							Proficiency Assessment
							Committee (LPAC), or English proficient.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="languages" type="languageItemType"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Language(s) the individual uses to communicate
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="homeLanguages" type="languageItemType"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The language or dialect routinely spoken in an
							individual's home. This language or dialect may or may not be an
							individual's native language.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="disabilities" type="disability"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The disability condition(s) that best describes
							an
							individual's impairment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="section504Disabilities" type="section504DisabilityItemType"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>A categorization of the disabilities associated
							with a
							student pursuant to Section 504.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="displacementStatus" type="displacementStatusType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicates a state health or weather related
							event that
							displaces a group of students, and may require
							additional funding,
							educational, or social services.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="programParticipations" type="programParticipation"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Key programs the student is participating in or
							receives services.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="learningStyles" type="learningStyles"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The student's relative preference to visual,
							auditory
							and tactile learning expressed as percentages.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cohortYears" type="cohortYear"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The type and year of a cohort (e.g., 9th grade)
							the
							student belongs to as determined by the year that student
							entered a
							specific grade.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentIndicators" type="studentIndicator"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Indicator(s) or metric(s) computed for the
							student
							(e.g., at risk) to influence more effective education or
							direct
							specific interventions.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="loginId" type="identificationCode"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The login ID for the user; used for security
							access
							control interface.
						</xs:documentation>
						<xs:appinfo>
							<sli:PersonallyIdentifiableInfo>true
							</sli:PersonallyIdentifiableInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentAssessmentAssociation">
		<xs:annotation>
			<xs:documentation>This entity represents the analysis or scoring of a
				student's response on an assessment. The analysis results in a value
				that represents a student's performance on a set of items on a test.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="administrationDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>The month(s), day(s), and year on which an
							assessment is administered or first day of administration if over
							multiple days.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="administrationEndDate"
					type="xs:date">
					<xs:annotation>
						<xs:documentation>Assessment Administration End Date, if
							administered over multiple days.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="serialNumber" type="identificationCode">
					<xs:annotation>
						<xs:documentation>The unique number for the assessment form or
							answer document.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="administrationLanguage"
					type="languageItemType">
					<xs:annotation>
						<xs:documentation>The language in which an assessment is written
							and/or administered.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="administrationEnvironment"
					type="administrationEnvironmentType">
					<xs:annotation>
						<xs:documentation>The environment in which the test was
							administered. For example:
							Electronic
							Classroom
							Testing Center
							....
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="specialAccommodations" type="specialAccommodationItemType">
					<xs:annotation>
						<xs:documentation>The specific type of special variation used in
							how an examination is presented, how it is administered, or how
							the test taker is allowed to respond. This generally refers to
							changes that do not substantially alter what the examination
							measures. The proper use of accommodations does not substantially
							change academic level or performance criteria. For example:
							Braille
							Enlarged monitor view
							Extra time
							Large Print
							Setting
							Oral
							Administration
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="linguisticAccommodations" type="linguisticAccommodationItemType">
					<xs:annotation>
						<xs:documentation>Linguistic accommodations used with the student
							for the test. For example:
							Bilingual dictionary
							English dictionary
							Reading Aloud - Word or Phrase
							Reading Aloud - Entire Test Item
							Oral Translation - Word or phrase
							Clarification - Word or phrase
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="retestIndicator" type="retestIndicatorType">
					<xs:annotation>
						<xs:documentation>Indicator if the test was retaken. For example:
							Primary administration
							First retest
							Second retest
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="reasonNotTested" type="reasonNotTestedType">
					<xs:annotation>
						<xs:documentation>The primary reason student is not tested. For
							example:
							Absent
							Refusal by parent
							Refusal by student
							Medical waiver
							Illness
							Disruptive behavior
							LEP Exempt
							...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="scoreResults" type="scoreResult">
					<xs:annotation>
						<xs:documentation>A meaningful score or statistical expression of
							the performance of an individual. The results can be expressed as
							a number, percentile, range, level, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="gradeLevelWhenAssessed"
					type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The grade level of a student when assessed.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="performanceLevelDescriptors" type="performanceLevelDescriptor">
					<xs:annotation>
						<xs:documentation>This descriptor defines various levels or
							thresholds for performance on the assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="studentObjectiveAssessments" type="studentObjectiveAssessment">
					<xs:annotation>
						<xs:documentation>The score and or performance level(s) earned for
							each objective assessment by the student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="studentAssessmentItems" type="studentAssessmentItem">
					<xs:annotation>
						<xs:documentation>This entity represents the student's responses
							to assessment items.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the student associated with the
							assessment.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="assessmentId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the assessment taken by the
							student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>assessment</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentCohortAssociation">
		<xs:annotation>
			<xs:documentation>
				This association represents the cohort(s) that a
				student is designated for.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student associated with the cohort.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="cohortId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the cohort associated with the
							student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>cohort</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>
							The month, day, and year on which the student
							was first identified as part of the cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="endDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>
							The month, day, and year on which the student
							was removed as part of the cohort.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentCTEProgramAssociation" type="studentCTEProgramAssociation" />

	<xs:element name="studentDisciplineIncidentAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates those students who were
				victims,
				perpetrators, witnesses, and/or reporters for a discipline
				incident.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student associated with the discipline
							incident.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="disciplineIncidentId" type="reference">
					<xs:annotation>
						<xs:documentation>Reference to the discipline incident associated
							with the
							student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>disciplineIncident</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentParticipationCode" type="studentParticipationCodeType">
					<xs:annotation>
						<xs:documentation>The role or type of participation of a student
							in a discipline
							incident; for example: Victim Perpetrator Witness
							Reporter
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="behaviors"
					type="behaviorDescriptor">
					<xs:annotation>
						<xs:documentation>Categories of student-specific behavior coded
							for use in
							describing an incident.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="secondaryBehaviors" type="secondaryBehavior">
					<xs:annotation>
						<xs:documentation>Supplemental student-specific categorization
							about an incident
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentSectionGradebookEntry">
		<xs:annotation>
			<xs:documentation>
				StudentSectionGradebookEntry
				This entity holds a
				student’s grade or competency level for a
				GradeBookEntry.
				Associations: Student, Section, GradebookEntry
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gradebookEntryId" type="reference">
					<xs:annotation>
						<xs:documentation>The GradebookEntry for which the performance is
							recorded.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>gradebookEntry</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student who received the grade
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sectionId" type="reference">
					<xs:annotation>
						<xs:documentation>The section the grade counts towards
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>section</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="dateFulfilled" type="xs:date"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The date an assignment was turned in or the
							date
							of an assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="letterGradeEarned" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A final or interim (grading period) indicator
							of
							student performance in a class as submitted by the
							instructor.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="gradeEarned">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="numericGradeEarned" type="xs:integer"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>A final or interim (grading period) indicator
							of
							student performance in a class as submitted by the
							instructor.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="diagnosticStatement" type="text"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>A statement provided by the teacher that
							provides information in addition to the grade or assessment
							score.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentParentAssociation">
		<xs:annotation>
			<xs:documentation>
				This association relates students to their parents,
				guardians, or caretakers.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="parentId" type="reference">
					<xs:annotation>
						<xs:documentation>The parent or guardian of the student.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>parent</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="relation" type="relationType">
					<xs:annotation>
						<xs:documentation>
							The nature of an individual's relationship to a
							student; for example:
							Father, Mother, Step Father, Step Mother,
							Foster Father, Foster Mother, Guardian, etc..
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="primaryContactStatus"
					type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the person is a primary
							parental contact for the student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="livesWith" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the student lives with the
							associated parent.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="emergencyContactStatus"
					type="xs:boolean">
					<xs:annotation>
						<xs:documentation>
							Indicator of whether the person is a designated
							emergency contact for the student.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="contactPriority" type="xs:int">
					<xs:annotation>
						<xs:documentation>
							The numeric order of the preferred sequence or
							priority of contact.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="contactRestrictions"
					type="contactRestrictions">
					<xs:annotation>
						<xs:documentation>
							Restrictions for student and/or teacher contact
							with the individual (e.g., the student may
							not be picked up by the
							individual)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentProgramAssociation" type="studentProgramAssociation" />

	<xs:element name="studentSpecialEdProgramAssociation" type="studentSpecialEdProgramAssociation" />

	<xs:element name="studentSchoolAssociation">
		<xs:annotation>
			<xs:documentation>This association represents the school to which a
				student is enrolled.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>Student enrolled in the school.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolId" type="reference">
					<xs:annotation>
						<xs:documentation>School enrolling the student.</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>school</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month, day, and year on which an individual
							enters and
							begins to receive instructional services in a school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryGradeLevel" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The grade level or primary instructional level
							at which a
							student enters and receives services in a school or an
							educational
							institution during a given academic session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="entryType" type="entryType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The process by which a student enters a school
							during a given
							academic session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="repeatGradeIndicator" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indicator of whether the student is enrolling
							to repeat a
							grade level, either by failure or an agreement to hold
							the student
							back.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="classOf" type="schoolYearType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>Projected High School graduation year
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolChoiceTransfer" type="xs:boolean"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>An indication of whether students transferred in
							or out of the
							school did so during the school year under the
							provisions for public
							school
							choice in accordance with Title I,
							Part A, Section 1116.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="exitWithdrawDate" type="xs:date"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The month, day, and year of the first day after
							the date of an
							individual's last attendance at a school (if
							known), the day on which an
							individual graduated, or the date on
							which it becomes known
							officially that
							an individual left school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="exitWithdrawType" type="exitWithdrawType"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The circumstances under which the student exited
							from
							membership in an educational institution.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationalPlans" type="educationalPlanItemType"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The type of Education Plan(s) the student is
							following, if
							appropriate. For example:
							Special education IEP
							Vocational
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="graduationPlan" type="graduationPlan"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The graduation plan associated with the student
							enrolled in
							the school.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dailyAttendance" type="dailyAttendanceType"
					minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Daily attendance for the student at the school.
							Attendance is
							partitioned by school year.
							School years must be
							unique per school year attendance.
						</xs:documentation>
					</xs:annotation>
					<xs:unique name="uniqueSchoolYears">
						<xs:selector xpath="schoolYearAttendance" />
						<xs:field xpath="@schoolYear" />
					</xs:unique>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentSectionAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the course sections a
				student is assigned to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The student enrolled in the section.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sectionId" type="reference">
					<xs:annotation>
						<xs:documentation>The section the student is enrolled in.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>section</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the student's entry or
							assignment to the section. If blank, default is the start date of
							the first grading period.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="endDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day, and year of the withdrawal or exit
							of the student from the section.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="homeroomIndicator" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Indicates the section is the student's homeroom.
							Homeroom period may the convention for taking daily attendance.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="repeatIdentifier" type="repeatIdentifierType">
					<xs:annotation>
						<xs:documentation>An indication as to whether a student has
							previously taken a given course.
							Repeated, counted in grade point
							average
							Repeated, not counted in grade point average
							Not repeated
							Other
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="studentTranscriptAssociation">
		<xs:annotation>
			<xs:documentation>This entity is the final record of a student's
				performance in their courses at the end of semester or school year.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="courseAttemptResult" type="courseAttemptResultType">
					<xs:annotation>
						<xs:documentation>The result from the student's attempt to take
							the course, for example:
							Pass
							Fail
							Incomplete
							Withdrawn
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="creditsAttempted" type="credits">
					<xs:annotation>
						<xs:documentation>'The number of credits a student attempted and
							could earn for successfully completing a given course.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="creditsEarned" type="credits">
					<xs:annotation>
						<xs:documentation>'The number of credits a student earned for
							completing a given course.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="additionalCreditsEarned" type="additionalCredits">
					<xs:annotation>
						<xs:documentation>'The number of additional credits a student
							attempted and could earn for successfully completing a given
							course (e.g., dual credit, AP, IB)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="gradeLevelWhenTaken"
					type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>Student's grade level at time of course.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="methodCreditEarned" type="methodCreditEarnedType">
					<xs:annotation>
						<xs:documentation>The method the credits were earned, for example:
							Classroom, Examination, Transfer
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="finalLetterGradeEarned">
					<xs:annotation>
						<xs:documentation>The final indicator of student performance in a
							class as submitted by the instructor.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="gradeEarned">
							<xs:maxLength value="20" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element minOccurs="0" name="finalNumericGradeEarned"
					type="xs:integer">
					<xs:annotation>
						<xs:documentation>The final indicator of student performance in a
							class as submitted by the instructor.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="courseRepeatCode" type="courseRepeatCodeType">
					<xs:annotation>
						<xs:documentation>Indicates that an academic course has been
							repeated by a student and how that repeat is to be computed in
							the student's academic grade average.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="diagnosticStatement"
					type="text">
					<xs:annotation>
						<xs:documentation>A statement provided by the teacher that
							provides information in addition to the grade or assessment
							score.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeType" type="gradeType">
					<xs:annotation>
						<xs:documentation>The type of grade reported (e.g., Exam, Final,
							Grading Period).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="performanceBaseConversion"
					type="performanceBaseType">
					<xs:annotation>
						<xs:documentation>A conversion of the level to a standard set of
							performance levels.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="courseId" type="reference">
					<xs:annotation>
						<xs:documentation>The course recorded in the Course transcript
							entry,
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>course</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="studentId" type="reference">
					<xs:annotation>
						<xs:documentation>The Student that took the reported instruction.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>student</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="teacher">
		<xs:annotation>
			<xs:documentation>This entity represents a person that is employed by
				an LEA or other
				educational unit engaged in student instruction.
				These persons are
				instructional-type staff members. In the data
				model, a teacher
				entity is a staff
				member with additional properties.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="abstractStaff">
					<xs:sequence>
						<xs:element minOccurs="0" name="teacherUniqueStateId"
							type="uniqueStateIdentifier">
							<xs:annotation>
								<xs:documentation>An ID number maintained by the state that
									uniquely
									identifies this teacher.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element minOccurs="0" name="highlyQualifiedTeacher"
							type="xs:boolean">
							<xs:annotation>
								<xs:documentation>An indication of whether a teacher is
									classified
									as highly qualified for his/her assignment according
									to state
									definition. This attribute indicates the teacher is
									highly
									qualified for ALL sections being taught.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="staff">
		<xs:annotation>
			<xs:documentation>This entity represents a person that is employed by
				an LEA or other
				educational unit engaged in student instruction.
				These persons are
				instructional-type staff members. In the data
				model, a teacher
				entity is a staff
				member with additional properties.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="abstractStaff">
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="staffEducationOrganizationAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the education
				organization to which a staff
				member provides services. Also known as
				school of service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="staffReference" type="reference">
					<xs:annotation>
						<xs:documentation>The staff assigned to the education
							organization.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>staff</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="educationOrganizationReference" type="reference">
					<xs:annotation>
						<xs:documentation>The educational organization to which the staff
							memeber
							provides services
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>educationOrganization</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="staffClassification" type="staffClassificationType">
					<xs:annotation>
						<xs:documentation>The titles of employment, official status, or
							rank of
							education staff.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="positionTitle" type="positionTitle"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The descriptive name of an individual's
							position.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the start or effective
							date of a staff
							member's employment, contract or relationship with
							the LEA.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="endDate" type="xs:date" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Month, day and year of the end or termination
							date of a staff
							member's employment, contract or relationship with
							the LEA.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="teacherSchoolAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the school(s) to which a
				teacher provides
				instructional services to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="teacherId" type="reference">
					<xs:annotation>
						<xs:documentation>The teacher providing services to the school.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>teacher</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="schoolId" type="reference">
					<xs:annotation>
						<xs:documentation>The school where the teacher provides services.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>school</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="programAssignment" type="programAssignmentType">
					<xs:annotation>
						<xs:documentation>The name of the program for which the individual
							is assigned;
							for example: Regular education Title I-Academic Title
							I-Non-Academic
							Special
							Education Bilingual/English as a Second
							Language
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="instructionalGradeLevels" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The set of grade levels for which the
							individual's assignment
							is responsible.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0"
					name="academicSubjects" type="academicSubjectType">
					<xs:annotation>
						<xs:documentation>The teaching field taught by an individual, for
							example
							English/Language Arts, Reading, Mathematics, Science,
							Social Sciences, etc.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="teacherSectionAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the class sections to
				which a teacher is
				assigned to.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="teacherId" type="reference">
					<xs:annotation>
						<xs:documentation>The teacher assigned to the section.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>teacher</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="sectionId" type="reference">
					<xs:annotation>
						<xs:documentation>The section the teacher is assigned to.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>section</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="classroomPosition" type="classroomPositionType">
					<xs:annotation>
						<xs:documentation>The type of position the staff member holds in
							the specific
							class/section; for example: Teacher of Record,
							Assistant Teacher, Support
							Teacher, Substitute Teacher...
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="beginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of a teacher's assignment to
							the section.
							If blank, defaults to the first day of the first
							grading period for the
							section.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="endDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the last day of a
							teacher's assignment
							to the section.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="highlyQualifiedTeacher"
					type="xs:boolean">
					<xs:annotation>
						<xs:documentation>An indication of whether a teacher is classified
							as highly
							qualified for his/her assignment according to state
							definition. This
							attribute indicates the teacher is highly
							qualified for this section being
							taught.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="learningStandard">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>This entity is a subelement of a learning
					objective
					consisting of a precise statement of the expectation of a
					student's
					proficiency.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="learningStandardId" type="learningStandardId">
					<xs:annotation>
						<xs:documentation>The Identifier for the specific learning
							standard
							(e.g., 111.15.3.1.A)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="description">
					<xs:annotation>
						<xs:documentation>A detailed statement of the expectation that is
							is assessed.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="contentStandard" type="contentStandardType">
					<xs:annotation>
						<xs:documentation>A reference to the type of content standard
							e.g.,
							state, national, etc.)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="gradeLevel" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The grade level for the specific learning
							standard.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="subjectArea" type="academicSubjectType">
					<xs:annotation>
						<xs:documentation>Subject area for the learning standard.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="courseTitle" type="courseTitle"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The official Course Title with which this
							learning standard is associated.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="learningObjective">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>This entity represents identified learning
					objectives for courses in specific grades.
				</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="learningObjectiveId" type="learningStandardId"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The Identifier for the specific learning
							objective in the context of a standard (e.g., 111.15.3.1.A)
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="objective" type="objective">
					<xs:annotation>
						<xs:documentation>The designated title of the learning
							objective.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="description" type="description"
					minOccurs="0">
					<xs:annotation>
						<xs:documentation>The description of the learning objective.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="academicSubject" type="academicSubjectType">
					<xs:annotation>
						<xs:documentation>The description of the content or subject area
							(e.g., arts, mathematics, reading, stenography, or a foreign
							language) of an assessment.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="objectiveGradeLevel" type="gradeLevelType">
					<xs:annotation>
						<xs:documentation>The grade level for which the learning
							objective
							is targeted,
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="learningStandards" type="reference"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Learning standard(s) included in this
							objective.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>learningStandard</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="parentLearningObjective" type="reference"
					minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Parent learning objective this is a
							sub-objective for.
						</xs:documentation>
						<xs:appinfo>
							<sli:ReferenceType>learningObjective</sli:ReferenceType>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
