sli/common/domain/src/main/resources/modified-xsd/BellSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://slc-sli/ed-org/0.1"
	targetNamespace="http://slc-sli/ed-org/0.1" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xs:include schemaLocation="SimpleTypes.xsd" />
	<xs:include schemaLocation="ReferenceTypes.xsd" />

	<xs:element name="Session">
		<xs:annotation>
			<xs:documentation>This entity represents the prescribed span of time
				when an education institution is open, instruction is provided, and
				students are under the direction and guidance of teachers and/or
				education institution administration. A session may be interrupted
				by one or more vacations.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SessionName" type="IdentificationCode">
					<xs:annotation>
						<xs:documentation>The identifier for the calendar for the academic
							session (e.g., 2010/11, 2011 Summer).
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SchoolYear" type="SchoolYearType">
					<xs:annotation>
						<xs:documentation>The identifier for the school year.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Term" type="TermType">
					<xs:annotation>
						<xs:documentation>The term for the session during the school year.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BeginDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the first day of the session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EndDate" type="xs:date">
					<xs:annotation>
						<xs:documentation>Month, day and year of the last day of the session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TotalInstructionalDays" type="xs:int">
					<xs:annotation>
						<xs:documentation>The total number of instructional days in the school calendar.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EducationOrganizationReference" type="EducationalOrgSimpleReference">
					<xs:annotation>
						<xs:documentation>The id of the Education Organization that defines
							the curriculum and courses offered - often the LEA. This is an
							id to the education organization
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GradingPeriodReference" type="GradingPeriodReference" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Ids of grading periods associated with the
							calendar. 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="BellSchedule">
		<xs:annotation>
			<xs:documentation>This entity represents the schedule of class period meeting times.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BellScheduleName" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							Name or title of the bell schedule.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GradeLevel">
					<xs:annotation>
						<xs:documentation>
							The grade levels the particular bell schedule applies to.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:list itemType="GradeLevelType">
						</xs:list>
					</xs:simpleType>
				</xs:element>
				<xs:element name="WeeksInCycle">
					<xs:annotation>
						<xs:documentation>
							The number of weeks in which the meeting time schedules repeat.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="1" />
							<xs:maxInclusive value="52" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SessionsOffered" type="SessionReference" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							The sessions associated with the session.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="MeetingTime">
		<xs:annotation>
			<xs:documentation>This entity represents the set of elements defining
				the meeting time for a class period for a bell schedule.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClassPeriodName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The class period associated with the meeting time
						for a bell schedule.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeekNumber">
				<xs:annotation>
					<xs:documentation>The week number (out of the number of weeks in
						the cycle) for this meeting time.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1" />
						<xs:maxInclusive value="52" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MeetingDates">
				<xs:annotation>
					<xs:documentation>Dates the meetings occur</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:list itemType="xs:date"></xs:list>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StartTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>An indication of the time of day the class begins.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>An indication of the time of day the class ends.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfficialAttendancePeriod" type="xs:boolean"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicator of whether this meeting time is used
						for official daily attendance.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="LocationReference">
				<xs:annotation>
					<xs:documentation>Where the meeting occurs</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="SectionBellScheduleAssoc">
		<xs:annotation>
			<xs:documentation>
				An association between the section and bell schedule.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		<xs:complexContent>
			<xs:extension base="MeetingTime">
				<xs:sequence>
					<xs:element name="BellSchedule" type="BellScheduleReference">
						<xs:annotation>
							<xs:documentation>
								The bell schedule the section is scheduled in
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Section" type="SectionSimpleReference">
						<xs:annotation>
							<xs:documentation>
								The section being offered
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	</xs:element>

	<xs:element name="EventBellScheduleAssoc">
		<xs:annotation>
			<xs:documentation>
				An association between the section and bell schedule.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="MeetingTime">
					<xs:sequence>
						<xs:element name="BellSchedule" type="BellScheduleReference">
							<xs:annotation>
								<xs:documentation>
									The bell schedule the event is scheduled in
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MiscellaneousEvent" type="MiscellaneousEventReference">
							<xs:annotation>
								<xs:documentation>
									The section being offered
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="MiscellaneousEvent">
		<xs:annotation>
			<xs:documentation>A miscellaneous event, such as recess or lunch
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
		<xs:sequence>
		   <xs:element name="EventName" type="xs:string">
		   </xs:element>
		   <xs:element name="EventType" type="xs:string">
		   </xs:element>
		</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Section">
		<xs:annotation>
			<xs:documentation>This educational entity represents a setting in
				which organized instruction of course content is provided to one or
				more students for a given period of time. A course may be offered to
				more than one class/section. Instruction, provided by one or more
				teachers or other staff members, may be delivered in person or via a
				different medium.
			</xs:documentation>
		</xs:annotation><xs:complexType>
		<xs:sequence>
			<xs:element name="UniqueSectionCode" type="UniqueSectionCode">
				<xs:annotation>
					<xs:documentation>A unique identifier for the section that is
						defined by the classroom, the subjects taught, and the
						instructors that are assigned.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SequenceOfCourse">
				<xs:annotation>
					<xs:documentation>When a section is part of a sequence of parts for
						a course, the number if the sequence. If the course has only one
						part, the value of this section attribute should be 1.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1" />
						<xs:maxInclusive value="8" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EducationalEnvironment" type="EducationalEnvironmentType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The setting in which a child receives education
						and related services; for example:
						Center-based instruction
						Home-based instruction
						Hospital class
						Mainstream
						Residential care
						and
						treatment facility
						....
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MediumOfInstruction" type="MediumOfInstructionType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The media through which teachers provide
						instruction to students and students and teachers communicate
						about instructional matters; for example:
						Technology-based instruction in classroom
						Correspondence instruction
						Face-to-face instruction
						Virtual/On-line Distance learning
						Center-based instruction
						...
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PopulationServed" type="PopulationServedType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The population for which the course was designed; for example:
						Bilingual students
						Remedial education students
						Gifted and talented students
						Career and Technical Education students
						Special education students
						....
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailableCredit" type="Credits"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The amount of credit available to a student who
						successfully meets the objectives of the course. Available credits
						are measured in Carnegie units, A course meeting every day for one
						period of the school day over the span of a school
						year offers one Carnegie unit. See publication: U.S. Department
						of Education, NCES, 2007-341, Secondary School Course
						Classification System: School Codes for the Exchange of Data (SCED).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CourseOfferingReference" type="CourseReference">
				<xs:annotation>
					<xs:documentation>The course offering taught in the section.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchoolReference" type="SchoolSimpleReference">
				<xs:annotation>
					<xs:documentation>The school where the section is taught.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SessionReference" type="SessionReference"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The session associated with the session. This
						reference is optional only if the session reference is available
						elsewhere in the interchange.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationReference" type="LocationReference"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>The location, typically a classroom, where the
						section meets.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProgramReference" type="ProgramReference"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional reference to program (e.g., CTE, etc.)
						the section is associated with.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType></xs:element>
	
	
	<xs:element name="Location">
		<xs:annotation>
			<xs:documentation>This entity represents the physical space where students gather for 
				a particular class/section.  The location may be an indoor or outdoor area 
				designated for the purpose of meeting the educational needs of students.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
				<xs:sequence>
					<xs:element name="ClassroomIdentificationCode" type="ClassroomIdentificationCode">
						<xs:annotation>
							<xs:documentation>A unique number or alphanumeric code assigned to 
								a room by a school, school system, state, or other agency or entity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MaximumNumberOfSeats" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The most number of seats the class can maintain.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OptimalNumberOfSeats" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The number of seats that is most favorable to the class.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
	</xs:complexType>
	</xs:element>

</xs:schema>
