sli/common/domain/src/main/resources/modified-xsd/Enrollment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns="http://slc-sli/ed-org/0.1"
    targetNamespace="http://slc-sli/ed-org/0.1"
    attributeFormDefault="unqualified">
    <xs:include schemaLocation="SimpleTypes.xsd"/>
    <xs:include schemaLocation="ReferenceTypes.xsd"/>

    <xs:complexType name="StudentIdentificationCode">
        <xs:annotation>
            <xs:documentation>A coding scheme that is used for identification and record-keeping purposes by schools, social services, or other agencies to refer to a student.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IdentificationCode" type="IdentificationCode">
                <xs:annotation>
                    <xs:documentation>A unique number or alphanumeric code assigned to a student by a school, school system, a state, or other agency or entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="IdentificationSystem" type="StudentIdentificationSystemType" use="required">
            <xs:annotation>
                <xs:documentation>A coding scheme that is used for identification and record-keeping purposes by schools, social services, or other agencies to refer to a student.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AssigningOrganizationCode" type="IdentificationCode" use="optional">
            <xs:annotation>
                <xs:documentation>The organization code or name assigning the student Identification Code.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="Name">
        <xs:annotation>
            <xs:documentation>The set of elements that comprise a person's legal name.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PersonalTitlePrefix" type="PersonalTitlePrefixType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A prefix used to denote the title, degree, position or seniority of the person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="FirstName">
                <xs:annotation>
                    <xs:documentation>A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" type="MiddleName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A secondary name given to an individual at birth, baptism, or during another naming ceremony.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastSurname" type="LastSurname">
                <xs:annotation>
                    <xs:documentation>The name borne in common by members of a family.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GenerationCodeSuffix" type="GenerationCodeSuffixType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An appendage, if any, used to denote an individual's generation in his family (e.g., Jr., Sr., III).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MaidenName" type="LastSurname" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The person's maiden name.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="Verification" type="PersonalInformationVerificationType" use="optional">
            <xs:annotation>
                <xs:documentation>The evidence presented to verify one's personal identity; for example: drivers license, passport, birth certificate, etc.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="OtherName">
        <xs:annotation>
            <xs:documentation>Other names (e.g., alias, nickname, previous legal name) associated with a person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PersonalTitlePrefix" type="PersonalTitlePrefixType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A prefix used to denote the title, degree, position or seniority of the person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FirstName" type="FirstName">
                <xs:annotation>
                    <xs:documentation>A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MiddleName" type="MiddleName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A secondary name given to an individual at birth, baptism, or during another naming ceremony.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastSurname" type="LastSurname">
                <xs:annotation>
                    <xs:documentation>The name borne in common by members of a family.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GenerationCodeSuffix" type="GenerationCodeSuffixType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An appendage, if any, used to denote an individual's generation in his family (e.g., Jr., Sr., III).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="OtherNameType" type="OtherNameType" use="required">
            <xs:annotation>
                <xs:documentation>The types of alternate names for a person.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="BirthData">
        <xs:annotation>
            <xs:documentation>The set of elements that capture relevant data regarding a person's birth, including birth date and place of birth.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BirthDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>The month, day, and year on which an individual was born.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CityOfBirth" type="City" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The city the student was born in.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StateOfBirthAbbreviation" type="StateAbbreviationType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The abbreviation for the name of the state (within the United States) or extra-state jurisdiction in which an individual was born.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryOfBirthCode" type="CountryCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The unique two digit International Organization for Standardization (ISO) code for the country in which an individual is born.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DateEnteredUS" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>For students born outside of the US, the date the student entered the US.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MultipleBirthStatus" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Indicator of whether the student was born with other siblings (i.e., twins, triplets, etc.)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Telephone">
        <xs:annotation>
            <xs:documentation>The 10-digit telephone number, including the area code, for the person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TelephoneNumber" type="TelephoneNumber">
                <xs:annotation>
                    <xs:documentation>The telephone number including the area code, and extension, if applicable.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="TelephoneNumberType" type="TelephoneNumberType" use="optional">
            <xs:annotation>
                <xs:documentation>The type of communication number listed for an individual or organization.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PrimaryTelephoneNumberIndicator" type="xs:boolean" use="optional">
            <xs:annotation>
                <xs:documentation>An indication that the telephone number should be used as the principal number for an individual or organization.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="Address">
        <xs:annotation>
            <xs:documentation>The set of elements that describes an address, including the street address, city, state, and ZIP code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StreetNumberName">
                <xs:annotation>
                    <xs:documentation>The street number and street name or post office box number of an address.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="StreetNumberName">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ApartmentRoomSuiteNumber" type="ApartmentRoomSuiteNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The apartment, room, or suite number of an address. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuildingSiteNumber" type="BuildingSiteNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The number of the building on the site, if more than one building shares the same address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="City">
                <xs:annotation>
                    <xs:documentation>The name of the city in which an address is located. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StateAbbreviation" type="StateAbbreviationType">
                <xs:annotation>
                    <xs:documentation>The abbreviation for the state (within the United States) or outlying area in which an address is located. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostalCode" type="PostalCode">
                <xs:annotation>
                    <xs:documentation>The five or nine digit zip code or overseas postal code portion of an address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NameOfCounty" type="NameOfCounty" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The name of the county, parish, borough, or comparable unit (within a state) in which an address is located.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountyFIPSCode" type="CountyFIPSCode" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The Federal Information Processing Standards (FIPS) numeric code for the county issued by the National Institute of Standards and Technology (NIST). Counties are considered to be the "first-order subdivisions" of each State and statistically equivalent entity, regardless of their local designations (county, parish, borough, etc.). Counties in different States will have the same code. A unique county number is created when combined with the 2-digit FIPS State Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCode" type="CountryCodeType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The unique two character International Organization for Standardization (ISO) code for the country in which an address is located.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Latitude" type="Coordinate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The geographic latitude of the physical address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Longitude" type="Coordinate" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The geographic longitude of the physical address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BeginDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The first date the address is valid.  For physical addresses, the date the person moved to that address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The last date the address is valid.  For physical addresses, this would be the date the person moved from that address.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="AddressType" type="AddressType" use="optional">
            <xs:annotation>
                <xs:documentation>The type of address listed for an individual or organization.
                    For example:  Physical Address, Mailing Address, Home Address, etc.)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="RaceType">
        <xs:annotation>
            <xs:documentation>The general racial category which most clearly reflects the individual's recognition of his or her community or with which the individual most identifies. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RacialCategory" type="RaceItemType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Zero or more racial categories associated with the student or staff.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ElectronicMail">
        <xs:annotation>
            <xs:documentation>The numbers, letters, and symbols used to identify an electronic mail (e-mail) user within the network to which the individual or organization belongs.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EmailAddress" type="ElectronicMailAddress">
                <xs:annotation>
                    <xs:documentation>The electronic mail (e-mail) address listed for an individual or organization.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="EmailAddressType" type="ElectronicMailAddressType" use="optional">
            <xs:annotation>
                <xs:documentation>The type of email listed for an individual or organization.  For example: Home/Personal, Work, etc.)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="StudentCharacteristic">
        <xs:annotation>
            <xs:documentation>Reflects important characteristics of the student's home situation: Displaced Homemaker, Homeless, Immigrant, Migratory, Military Parent, Pregnant Teen, Single Parent, Unaccompanied Youth		
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Characteristic" type="StudentCharacteristicType">
                <xs:annotation>
                    <xs:documentation>The characteristic designated for the student.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BeginDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date the characteristic was designated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date the characteristic was removed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DesignatedBy" type="DesignatedBy" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The person, organization, or department that designated the characteristic.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LanguagesType">
        <xs:annotation>
            <xs:documentation>Language the individual uses to communicate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Language" type="LanguageItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Disability">
        <xs:annotation>
            <xs:documentation>This type represents an impairment of body structure or function, a limitation in activities, or a restriction in participation, as ordered by severity of impairment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Disability" type="DisabilityType">
                <xs:annotation>
                    <xs:documentation>A disability category that describes a child's impairment.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DisabilityDiagnosis" type="DisabilityDiagnosis" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A description of the disability diagnosis.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrderOfDisability" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The order by severity of student's disabilities: 1- Primary, 2 -  Secondary, 3 - Tertiary, etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Section504DisabilitiesType">
        <xs:annotation>
            <xs:documentation>A categorization of the disabilities associated with a student pursuant to Section 504.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Section504Disability" type="Section504DisabilityItemType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A categorization of the disabilities associated with a student pursuant to Section 504.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ProgramParticipation">
        <xs:annotation>
            <xs:documentation>Programs the student is participating in or receiving services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Program" type="ProgramType">
                <xs:annotation>
                    <xs:documentation>The program the student is associated with or receiving services from.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BeginDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date the student was associated with the program or service.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date the program participation ended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DesignatedBy" type="DesignatedBy" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The person, organization, or department that designated the program association.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LearningStyles">
        <xs:annotation>
            <xs:documentation>The student's relative preference to visual, auditory and tactile learning expressed as percentages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VisualLearning" type="percent">
                <xs:annotation>
                    <xs:documentation>The student's relative preference expressed as a percent to visual learning.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuditoryLearning" type="percent">
                <xs:annotation>
                    <xs:documentation>The student's relative preference expressed as a percent to auditory learning.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TactileLearning" type="percent">
                <xs:annotation>
                    <xs:documentation>The student's relative preference expressed as a percent to kinesthetic or tactile learning.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CohortYear">
        <xs:annotation>
            <xs:documentation>The type and year of a cohort (e.g., 9th grade) the student belongs to.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SchoolYear" type="SchoolYearType">
                <xs:annotation>
                    <xs:documentation>The value of the  school year for the cohort.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="CohortYearType" use="required">
            <xs:annotation>
                <xs:documentation>The type of cohort year (9th grade, graduation)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="CohortYearType"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="StudentIndicator">
        <xs:annotation>
            <xs:documentation>An indicator or metric computed for the student (e.g., at risk) to influence more effective education or direct specific interventions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IndicatorGroup" type="IndicatorName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The name for a group of indicators.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndicatorName" type="IndicatorName">
                <xs:annotation>
                    <xs:documentation>The name of the indicator or metric.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Indicator" type="Indicator">
                <xs:annotation>
                    <xs:documentation>The value of the indicator or metric.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BeginDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date when the indicator was assigned or computed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The date the indicator or metric was sunset or removed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DesignatedBy" type="DesignatedBy" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The person, organization, or department that designated the program association.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Student">
        <xs:annotation>
            <xs:documentation>This entity represents an individual for whom instruction, services and/or care are provided in an early childhood, elementary or secondary educational program under the jurisdiction of a school, education agency, or other institution or program.  A student is a person who has been enrolled in a school or other educational institution.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ComplexObjectType">
                <xs:sequence>
                    <xs:element name="StudentUniqueStateId" type="UniqueStateIdentifier">
                        <xs:annotation>
                            <xs:documentation>A unique number or alphanumeric code assigned to a student by a state education agency.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StudentIdentificationCode" type="StudentIdentificationCode" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>A coding scheme that is used for identification and record-keeping purposes by schools, social services, or other agencies to refer to a student.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Name" type="Name">
                        <xs:annotation>
                            <xs:documentation>Full legal name of the person.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OtherName" type="OtherName" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Other names (e.g., alias, nickname, previous legal name) associated with a person.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Sex" type="SexType">
                        <xs:annotation>
                            <xs:documentation>A person's gender.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="BirthData" type="BirthData">
                        <xs:annotation>
                            <xs:documentation>The set of elements that capture relevant data regarding a person's birth, including birth date and place of birth.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Address" type="Address" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>The set of elements that describes an address, including the street address, city, state, and ZIP code.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Telephone" type="Telephone" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>The 10-digit telephone number, including the area code, for the person.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ElectronicMail" type="ElectronicMail" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>The numbers, letters, and symbols used to identify an electronic mail (e-mail) user within the network to which the individual or organization belongs.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProfileThumbnail" type="ProfileThumbnail" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Locator for the student photo.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HispanicLatinoEthnicity" type="xs:boolean" nillable="true">
                        <xs:annotation>
                            <xs:documentation>An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central and South America, and other Spanish cultures, regardless of race. The term, "Spanish origin," can be used in addition to "Hispanic or Latino."
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="OldEthnicity" type="OldEthnicityType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Previous definition of Ethnicity combining Hispanic/Latino and race:
                                1 - American Indian or Alaskan Native
                                2 - Asian or Pacific Islander
                                3 - Black, not of Hispanic origin
                                4 - Hispanic
                                5 - White, not of Hispanic origin</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Race" type="RaceType">
                        <xs:annotation>
                            <xs:documentation>The general racial category which most clearly reflects the individual's recognition of his or her community or with which the individual most identifies. The way this data element is listed, it must allow for multiple entries so that each individual can specify all appropriate races.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="EconomicDisadvantaged" type="xs:boolean" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>An indication of inadequate financial condition of an individual's family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="SchoolFoodServicesEligibility" type="SchoolFoodServicesEligibilityType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>An indication of a student's level of eligibility for breakfast, lunch, snack, supper, and milk programs.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StudentCharacteristics" type="StudentCharacteristic" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Reflects important characteristics of the student's home situation:
                                such as Displaced Homemaker, Immigrant, Migratory, Military Parent, Pregnant Teen, Single Parent, Unaccompanied Youth, etc.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LimitedEnglishProficiency" type="LimitedEnglishProficiencyType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>An indication that the student has been identified as limited English proficient by the Language Proficiency Assessment Committee (LPAC), or English proficient.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Languages" type="LanguagesType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Language(s) the individual uses to communicate</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="HomeLanguages" type="LanguagesType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The language or dialect routinely spoken in an individual's home. This language or dialect may or may not be an individual's native language.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Disabilities" type="Disability" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>The disability condition(s) that best describes an individual's impairment.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Section504Disabilities" type="Section504DisabilitiesType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>A categorization of the disabilities associated with a student pursuant to Section 504.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DisplacementStatus" type="DisplacementStatusType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Indicates a state health or weather related event that displaces a group of students, and may require additional funding, educational, or social services.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ProgramParticipations" type="ProgramParticipation" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Key programs the student is participating in or receives services.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LearningStyles" type="LearningStyles" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The student's relative preference to visual, auditory and tactile learning expressed as percentages.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="CohortYears" type="CohortYear" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>The type and year of a cohort (e.g., 9th grade) the student belongs to as determined by the year that student entered a specific grade.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="StudentIndicators" type="StudentIndicator" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Indicator(s) or metric(s) computed for the student (e.g., at risk) to influence more effective education or direct specific interventions.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="LoginId" type="IdentificationCode" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The login ID for the user; used for security access control interface.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
</xs:schema>
