sli/modeling/rest/src/main/resources/wadl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://wadl.dev.java.net/2009/02" xmlns:tns="http://wadl.dev.java.net/2009/02"
	xmlns:xml="http://www.w3.org/XML/1998/namespace" elementFormDefault="qualified">

	<xs:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="xml.xsd" />

	<xs:element name="application" type="tns:Application">
	</xs:element>

	<xs:element name="doc" type="tns:Documentation">
	</xs:element>

	<xs:element name="grammars" type="tns:Grammars">
	</xs:element>

	<xs:element name="resources" type="tns:Resources">
	</xs:element>

	<xs:element name="resource" type="tns:Resource">
	</xs:element>

	<xs:complexType name="Resource">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="param" type="tns:Param" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="method" type="tns:Method" />
				<xs:element name="resource" type="tns:Resource" />
			</xs:choice>
			<xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"
				processContents="lax" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" />
		<xs:attribute name="type" type="tns:resource_type_list" />
		<xs:attribute name="queryType" type="xs:string"
			default="application/x-www-form-urlencoded" />
		<xs:attribute name="path" type="xs:string" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:simpleType name="resource_type_list">
		<xs:list itemType="xs:anyURI" />
	</xs:simpleType>

	<xs:element name="resource_type" type="tns:ResourceType">
	</xs:element>
	<xs:complexType name="ResourceType">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="param" type="tns:Param" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="method" type="tns:Method" />
				<xs:element name="resource" type="tns:Resource" />
			</xs:choice>
			<xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other"
				processContents="lax" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:element name="method" type="tns:MethodType">
	</xs:element>

	<xs:complexType name="MethodType">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="request" type="tns:Request" minOccurs="0" />
			<xs:element name="response" type="tns:Response" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" />
		<xs:attribute name="name" type="tns:Method" />
		<xs:attribute name="href" type="xs:anyURI" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:simpleType name="Method">
		<xs:union memberTypes="tns:HTTPMethods xs:NMTOKEN" />
	</xs:simpleType>

	<xs:simpleType name="HTTPMethods">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="GET" />
			<xs:enumeration value="POST" />
			<xs:enumeration value="PUT" />
			<xs:enumeration value="HEAD" />
			<xs:enumeration value="DELETE" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="include" type="tns:Include">
	</xs:element>

	<xs:complexType name="Include">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="href" type="xs:anyURI" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:element name="request" type="tns:Request">
	</xs:element>

	<xs:complexType name="Request">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="param" type="tns:Param" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="representation" type="tns:Representation"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:element name="response" type="tns:Response">
	</xs:element>

	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="param" type="tns:Param" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="representation" type="tns:Representation"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="status" type="tns:statusCodeList" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:simpleType name="uriList">
		<xs:list itemType="xs:anyURI" />
	</xs:simpleType>

	<xs:element name="representation" type="tns:Representation">
	</xs:element>

	<xs:complexType name="Representation">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="param" type="tns:Param" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" />
		<xs:attribute name="element" type="xs:QName" />
		<xs:attribute name="mediaType" type="xs:string" />
		<xs:attribute name="href" type="xs:anyURI" />
		<xs:attribute name="profile" type="tns:uriList" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:complexType name="Application">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="grammars" type="tns:Grammars" minOccurs="0" />
			<xs:element name="resources" type="tns:Resources"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="resourceType" type="tns:ResourceType" />
				<xs:element name="method" type="tns:Method" />
				<xs:element name="representation" type="tns:Representation" />
				<xs:element name="param" type="tns:Param" />
			</xs:choice>
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Documentation" mixed="true">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="title" type="xs:string" />
		<xs:attribute name="lang" type="xs:language" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:complexType name="Grammars">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="include"
				type="tns:Include" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="statusCodeList">
		<xs:list itemType="xs:unsignedInt" />
	</xs:simpleType>

	<xs:simpleType name="ParamStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="plain" />
			<xs:enumeration value="query" />
			<xs:enumeration value="matrix" />
			<xs:enumeration value="header" />
			<xs:enumeration value="template" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="param" type="tns:Param">
	</xs:element>

	<xs:complexType name="Param">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="option" type="tns:Option" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="link" type="tns:Link" minOccurs="0" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="href" type="xs:anyURI" />
		<xs:attribute name="name" type="xs:NMTOKEN" />
		<xs:attribute name="style" type="tns:ParamStyle" />
		<xs:attribute name="id" type="xs:ID" />
		<xs:attribute name="type" type="xs:QName" default="xs:string" />
		<xs:attribute name="default" type="xs:string" />
		<xs:attribute name="required" type="xs:boolean" default="false" />
		<xs:attribute name="repeating" type="xs:boolean" default="false" />
		<xs:attribute name="fixed" type="xs:string" />
		<xs:attribute name="path" type="xs:string" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:element name="option" type="tns:Option">
	</xs:element>

	<xs:complexType name="Resources">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="Resource" type="tns:Resource" maxOccurs="unbounded" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="base" type="xs:anyURI" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:complexType name="Option">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="value" type="xs:string" use="required" />
		<xs:attribute name="mediaType" type="xs:string" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

	<xs:element name="link" type="tns:Link">
	</xs:element>

	<xs:complexType name="Link">
		<xs:sequence>
			<xs:element name="doc" type="tns:Documentation" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:any namespace="##other" processContents="lax" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="resource_type" type="xs:anyURI" />
		<xs:attribute name="rel" type="xs:token" />
		<xs:attribute name="rev" type="xs:token" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
	</xs:complexType>

</xs:schema>