sli/domain/src/main/resources/edfiXsd-SLI/SLI-Ed-Fi-Core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/0100" targetNamespace="http://ed-fi.org/0100"
           elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:sli="http://slc-sli/ed-org/0.1">
  <xs:include schemaLocation="../edfiXsd/Ed-Fi-Core.xsd"/>

  <!-- Make ProgramId a required field -->
  <xs:complexType name="SLC-ProgramRestriction">
    <xs:complexContent>
      <xs:restriction base="Program">
        <xs:sequence>
          <xs:element name="ProgramId" type="ProgramId" />
          <xs:element name="ProgramType" type="ProgramType" />
          <xs:element name="ProgramSponsor" type="ProgramSponsorType" minOccurs="0" />
          <xs:element name="Services" type="ServiceDescriptorType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Add UniqueCourseId -->
  <xs:complexType name="SLC-CourseExtension">
    <xs:complexContent>
      <xs:extension base="Course">
        <xs:sequence>
          <xs:element name="UniqueCourseId" type="SLC-UniqueCourseId" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Make SchoolReference required, Change SectionReference to SLC type -->
  <xs:complexType name="SLC-AttendanceEventRestriction">
    <xs:complexContent>
      <xs:restriction base="AttendanceEvent">
        <xs:sequence>
          <xs:element name="EventDate" type="xs:date" />
          <xs:element name="AttendanceEventType" type="AttendanceEventType" minOccurs="0" />
          <xs:element name="AttendanceEventCategory" type="AttendanceEventCategoryType" />
          <xs:element name="AttendanceEventReason" type="AttendanceEventReason" minOccurs="0" />
          <xs:element name="EducationalEnvironment" type="EducationalEnvironmentType" minOccurs="0" />
          <xs:element name="StudentReference" type="StudentReferenceType" />
          <xs:element name="SchoolReference" type="EducationalOrgReferenceType" />
          <xs:element name="SessionReference" type="SessionReferenceType" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLC-AttendanceEventExtension">
    <xs:complexContent>
      <xs:extension base="SLC-AttendanceEventRestriction">
        <xs:sequence>
          <xs:element name="SectionReference" type="TEMPORARY-SectionReferenceType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change ObjectiveAssessmentReference to ObjectiveAssessmentReferenceType -->
  <xs:complexType name="SLC-ObjectiveAssessmentRestriction">
    <xs:complexContent>
      <xs:restriction base="ObjectiveAssessment">
        <xs:sequence>
          <xs:element name="IdentificationCode" type="IdentificationCode" />
          <xs:element name="MaxRawScore" type="xs:int" minOccurs="0" />
          <xs:element name="AssessmentPerformanceLevel" type="AssessmentPerformanceLevel" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="PercentOfAssessment" type="percent" minOccurs="0" />
          <xs:element name="Nomenclature" type="Nomenclature" minOccurs="0" />
          <xs:element name="AssessmentItemReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="LearningObjectiveReference" type="LearningObjectiveReferenceType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="LearningStandardReference" type="LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLC-ObjectiveAssessmentExtension">
    <xs:complexContent>
      <xs:extension base="SLC-ObjectiveAssessmentRestriction">
        <xs:sequence>
          <xs:element name="ObjectiveAssessmentReference" type="ObjectiveAssessmentReferenceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change StudentAssessmentItem.StudentAssessmentReference to StudentAssessmentReferenceType -->
  <xs:complexType name="SLC-StudentAssessmentItem">
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="AssessmentResponse" type="AssessmentResponse" minOccurs="0" />
          <xs:element name="ResponseIndicator" type="ResponseIndicatorType" minOccurs="0" />
          <xs:element name="AssessmentItemResult" type="AssessmentItemResultType" />
          <xs:element name="RawScoreResult" type="xs:int" minOccurs="0" />
          <xs:element name="StudentAssessmentReference" type="SLC-StudentAssessmentReferenceType" minOccurs="0" />
          <xs:element name="StudentObjectiveAssessmentReference" type="ReferenceType" minOccurs="0" />
          <xs:element name="AssessmentItemReference" type="AssessmentItemReferenceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change StudentObjectiveAssessment.StudentAssessmentReference to StudentAssessmentReferenceType -->
  <xs:complexType name="SLC-StudentObjectiveAssessment">
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="ScoreResults" type="ScoreResult" maxOccurs="unbounded"/>
          <xs:element name="PerformanceLevels" type="PerformanceLevelDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="StudentAssessmentReference" type="SLC-StudentAssessmentReferenceType" />
          <xs:element name="ObjectiveAssessmentReference" type="ObjectiveAssessmentReferenceType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change StudentAcademicRecord.ReportCardReference to ReportCardReferenceType -->
  <xs:complexType name="SLC-StudentAcademicRecord">
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="CumulativeCreditsEarned" type="Credits" minOccurs="0" />
          <xs:element name="CumulativeCreditsAttempted" type="Credits" minOccurs="0" />
          <xs:element name="CumulativeGradePointsEarned" type="xs:decimal" minOccurs="0" />
          <xs:element name="CumulativeGradePointAverage" type="xs:decimal" minOccurs="0" />
          <xs:element name="GradeValueQualifier" type="GradeValueQualifier" minOccurs="0" />
          <xs:element name="ClassRanking" type="ClassRanking" minOccurs="0" />
          <xs:element name="AcademicHonors" type="AcademicHonor" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="Recognitions" type="Recognition" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="ProjectedGraduationDate" type="xs:date" minOccurs="0" />
          <xs:element name="SessionCreditsEarned" type="Credits" minOccurs="0" />
          <xs:element name="SessionCreditsAttempted" type="Credits" minOccurs="0" />
          <xs:element name="SessionGradePointsEarned" type="xs:decimal" minOccurs="0" />
          <xs:element name="SessionGradePointAverage" type="xs:decimal" minOccurs="0" />
          <xs:element name="StudentReference" type="StudentReferenceType" />
          <xs:element name="SessionReference" type="SessionReferenceType" />
          <xs:element name="ReportCardReference" type="SLC-ReportCardReferenceType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="DiplomaReference" type="ReferenceType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

   <!--Make StudentSectionAssociationReference required -->
  <xs:complexType name="SLC-StudentCompetencyRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentCompetency">
        <xs:sequence>
          <xs:choice>
            <xs:element name="LearningObjectiveReference" type="LearningObjectiveReferenceType" />
            <xs:element name="StudentCompetencyObjectiveReference" type="StudentCompetencyObjectiveReferenceType" />
          </xs:choice>
          <xs:element name="CompetencyLevel" type="CompetencyLevelDescriptorType" />
          <xs:element name="DiagnosticStatement" type="text" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLC-StudentCompetencyExtension">
    <xs:complexContent>
      <xs:extension base="SLC-StudentCompetencyRestriction">
        <xs:sequence>
          <xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Make StudentCompetencyObjectiveId required -->
  <xs:complexType name="SLC-StudentCompetencyObjectiveRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentCompetencyObjective">
        <xs:sequence>
          <xs:element name="StudentCompetencyObjectiveId" type="IdentificationCode" />
          <xs:element name="Objective" type="Objective" />
          <xs:element name="Description" type="Description" minOccurs="0" />
          <xs:element name="ObjectiveGradeLevel" type="GradeLevelType" />
          <xs:element name="EducationOrganizationReference" type="EducationalOrgReferenceType" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Limit StaffReference and CohortReference to 1 -->
  <xs:complexType name="SLC-StaffCohortAssociationRestriction">
    <xs:complexContent>
      <xs:restriction base="StaffCohortAssociation">
        <xs:sequence>
          <xs:element name="StaffReference" type="StaffReferenceType" />
          <xs:element name="CohortReference" type="CohortReferenceType" />
          <xs:element name="BeginDate" type="xs:date" />
          <xs:element name="EndDate" type="xs:date" minOccurs="0" />
          <xs:element name="StudentRecordAccess" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Limit StaffReference and ProgramReference to 1 -->
  <xs:complexType name="SLC-StaffProgramRestriction">
    <xs:complexContent>
      <xs:restriction base="StaffProgramAssociation">
        <xs:sequence>
          <xs:element name="StaffReference" type="StaffReferenceType" />
          <xs:element name="ProgramReference" type="ProgramReferenceType" />
          <xs:element name="BeginDate" type="xs:date" />
          <xs:element name="EndDate" type="xs:date" minOccurs="0" />
          <xs:element name="StudentRecordAccess" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Make BeginDate required field on StudentSectionAssociation, Change SectionReference to SLC type -->
	<xs:complexType name="SLC-StudentSectionAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the course sections a student is assigned to.
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentReference" type="StudentReferenceType">
				<xs:annotation>
					<xs:documentation>The student enrolled in the section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionReference" type="TEMPORARY-SectionReferenceType">
				<xs:annotation>
					<xs:documentation>The section the student is enrolled in.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Month, day and year of the student's entry or assignment to the section.  If blank, default is the start date of the first grading period.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month, day, and year of the withdrawal or exit of the student from the section.
                                                                   </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HomeroomIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Indicates the section is the student's homeroom.  Homeroom period may the convention for taking daily attendance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepeatIdentifier" type="RepeatIdentifierType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An indication as to whether a student has previously taken a given course.
Repeated, counted in grade point average
Repeated, not counted in grade point average
Not repeated
Other</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

  <!-- Limit SchoolReference to 1 on TeacherSchoolAssociation -->
  <xs:complexType name="SLC-TeacherSchoolAssociationRestriction">
    <xs:complexContent>
      <xs:restriction base="TeacherSchoolAssociation">
        <xs:sequence>
          <xs:element name="TeacherReference" type="StaffReferenceType" />
          <xs:element name="SchoolReference" type="EducationalOrgReferenceType" />
          <xs:element name="ProgramAssignment" type="ProgramAssignmentType" />
          <xs:element name="InstructionalGradeLevels" type="GradeLevelsType" />
          <xs:element name="AcademicSubjects" type="AcademicSubjectsType" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change type of Assessment.ObjectiveAssessmentReference to ObjectiveAssessmentReferenceType, Change SectionReference to SLC type -->
  <xs:complexType name="SLC-Assessment">
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="AssessmentTitle" type="AssessmentTitle" />
          <xs:element name="AssessmentIdentificationCode" type="AssessmentIdentificationCode" maxOccurs="unbounded" />
          <xs:element name="AssessmentCategory" type="AssessmentCategoryType" minOccurs="0" />
          <xs:element name="AcademicSubject" type="AcademicSubjectType" minOccurs="0" />
          <xs:element name="GradeLevelAssessed" type="GradeLevelType" minOccurs="0" />
          <xs:element name="LowestGradeLevelAssessed" type="GradeLevelType" minOccurs="0" />
          <xs:element name="AssessmentPerformanceLevel" type="AssessmentPerformanceLevel" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="ContentStandard" type="ContentStandardType" minOccurs="0" />
          <xs:element name="AssessmentForm" type="AssessmentForm" minOccurs="0" />
          <xs:element name="Version" type="Version" minOccurs="0" />
          <xs:element name="RevisionDate" type="xs:date" minOccurs="0" />
          <xs:element name="MaxRawScore" type="xs:int" minOccurs="0" />
          <xs:element name="Nomenclature" type="Nomenclature" minOccurs="0" />
          <xs:element name="AssessmentPeriod" type="AssessmentPeriodDescriptorType" minOccurs="0" />
          <xs:element name="AssessmentItemReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="ObjectiveAssessmentReference" type="ObjectiveAssessmentReferenceType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="AssessmentFamilyReference" type="AssessmentFamilyReferenceType" minOccurs="0" />
          <xs:element name="SectionReference" type="TEMPORARY-SectionReferenceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change type of StudentSchoolAssociation.GraduationPlanReference
       to GraduationPlanReference type -->
  <xs:complexType name="SLC-StudentSchoolAssociationRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentSchoolAssociation">
        <xs:sequence>
          <xs:element name="StudentReference" type="StudentReferenceType" />
          <xs:element name="SchoolReference" type="EducationalOrgReferenceType" />
          <xs:element name="SchoolYear" type="SchoolYearType" minOccurs="0" />
          <xs:element name="EntryDate" type="xs:date" />
          <xs:element name="EntryGradeLevel" type="GradeLevelType" />
          <xs:element name="EntryType" type="EntryType" minOccurs="0" />
          <xs:element name="RepeatGradeIndicator" type="xs:boolean" minOccurs="0" />
          <xs:element name="ClassOf" type="SchoolYearType" minOccurs="0" />
          <xs:element name="SchoolChoiceTransfer" type="xs:boolean" minOccurs="0" />
          <xs:element name="ExitWithdrawDate" type="xs:date" minOccurs="0" />
          <xs:element name="ExitWithdrawType" type="ExitWithdrawType" minOccurs="0" />
          <xs:element name="EducationalPlans" type="EducationalPlansType" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLC-StudentSchoolAssociationExtension">
    <xs:complexContent>
      <xs:extension base="SLC-StudentSchoolAssociationRestriction">
        <xs:sequence>
          <xs:element name="GraduationPlanReference" type="SLC-GraduationPlanReferenceType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change type of StudentGradebookEntry.GradebookEntryReference to type GradebookEntryReference -->
  <xs:complexType name="SLC-StudentGradebookEntry">
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="DateFulfilled" type="xs:date" minOccurs="0"/>
          <xs:element name="LetterGradeEarned" minOccurs="0">
            <xs:simpleType>
              <xs:restriction base="GradeEarned">
                <xs:maxLength value="20"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="NumericGradeEarned" type="xs:integer" minOccurs="0"/>
          <xs:element name="CompetencyLevel" type="CompetencyLevelDescriptorType" minOccurs="0"/>
          <xs:element name="DiagnosticStatement" type="text" minOccurs="0"/>
          <xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType"/>
          <xs:element name="GradebookEntryReference" type="SLC-GradebookEntryReferenceType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="SLC-UniqueCourseId">
    <xs:annotation>
      <xs:documentation>A unique number or alphanumeric code assigned to a course by a school, school system, a state, or other agency or entity.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SLC-GraduationPlanReferenceType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="GraduationPlanIdentity" type="SLC-GraduationPlanIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLC-GradebookEntryReferenceType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="GradebookEntryIdentity" type="SLC-GradebookEntryIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLC-GraduationPlanIdentityType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GraduationPlanType" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCreditsRequired" type="Credits" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SLC-GradebookEntryIdentityType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GradebookEntryType" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateAssigned" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="SectionReference" type="TEMPORARY-SectionReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SLC-ReportCardReferenceType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="ReportCardIdentity" type="SLC-ReportCardIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLC-ReportCardIdentityType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StudentReference" type="StudentReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="GradingPeriodReference" type="GradingPeriodReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SLC-StudentAssessmentReferenceType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StudentAssessmentIdentity" type="SLC-StudentAssessmentIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLC-StudentAssessmentIdentityType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrationDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="StudentReference" type="StudentReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="AssessmentReference" type="AssessmentReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

	<xs:complexType name="SLC-SectionReferenceType">
		<xs:annotation>
			<xs:documentation>Provides alternative references for section. Use XML IDREF to reference a section record that is included in the interchange</xs:documentation>
		    <xs:appinfo>
            <sli:applyKeyFields>true</sli:applyKeyFields>
            <sli:refType>section</sli:refType>
        </xs:appinfo>
    </xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="SectionIdentity" type="SLC-SectionIdentityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Provide user information to lookup and link to an existing section record in the receiving system.  Two cases are supported:
1. SchoolOrganizationID + UniqueSectionCode
2. SchoolOrganizationID + 
      Course (StateCourseCode OR LocalCourseCode) +
      Term + ClassPeriod + Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Make an all new SectionIdentityType in the desired shape -->
	<xs:complexType name="SLC-SectionIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the identity of sections at a school. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:documentation>The education agency.</xs:documentation>
					<xs:appinfo>
                        <sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniqueSectionCode" type="UniqueSectionCode">
				<xs:annotation>
					<xs:documentation>A unique identifier for the section that is defined by the classroom, the subjects taught, and the instructors that are assigned.</xs:documentation>
					<xs:appinfo>
						<sli:keyFieldName>uniqueSectionCode</sli:keyFieldName>
				  </xs:appinfo>
        </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TEMPORARY-SectionReferenceType">
		<xs:annotation>
			<xs:documentation>Provides alternative references for section. Use XML IDREF to reference a section record that is included in the interchange</xs:documentation>
    </xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="SectionIdentity" type="TEMPORARY-SectionIdentityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Provide user information to lookup and link to an existing section record in the receiving system.  Two cases are supported:
1. SchoolOrganizationID + UniqueSectionCode
2. SchoolOrganizationID + 
      Course (StateCourseCode OR LocalCourseCode) +
      Term + ClassPeriod + Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Make an all new SectionIdentityType in the desired shape -->
	<xs:complexType name="TEMPORARY-SectionIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the identity of sections at a school. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:documentation>The education agency.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniqueSectionCode" type="UniqueSectionCode">
				<xs:annotation>
					<xs:documentation>A unique identifier for the section that is defined by the classroom, the subjects taught, and the instructors that are assigned.</xs:documentation>
       </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TEMPORARY-EducationalOrgReferenceType">
		<xs:annotation>
			<xs:documentation>Provides alternative references for Educational Organization (ESC, LEA, school) reference during interchange. Use XML IDREF to reference an educational organization record that is included in the interchange</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="EducationalOrgIdentity" type="TEMPORARY-EducationalOrgIdentityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Provide user information to lookup and link to an existing educational organization record in the receiving system</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="TEMPORARY-EducationalOrgIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the identity of educational organizations, especially ESCs, LEAs (districts), and schools.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StateOrganizationId" type="IdentificationCode">
				<xs:annotation>
					<xs:documentation>The identifier assigned to an education agency by the State Education Agency (SEA).  Also known as the State LEA ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SLC-EducationalOrgReferenceType">
		<xs:annotation>
			<xs:documentation>Provides alternative references for Educational Organization (ESC, LEA, school) reference during interchange. Use XML IDREF to reference an educational organization record that is included in the interchange</xs:documentation>
		  <xs:appinfo>
        <sli:applyKeyFields>true</sli:applyKeyFields>
        <sli:refType>educationOrganization</sli:refType>
        </xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="EducationalOrgIdentity" type="SLC-EducationalOrgIdentityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Provide user information to lookup and link to an existing educational organization record in the receiving system</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="SLC-EducationalOrgIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the identity of educational organizations, especially ESCs, LEAs (districts), and schools.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StateOrganizationId" type="IdentificationCode">
				<xs:annotation>
					<xs:documentation>The identifier assigned to an education agency by the State Education Agency (SEA).  Also known as the State LEA ID.</xs:documentation>
					<xs:appinfo>
						<sli:keyFieldName>stateOrganizationId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Change to use the internal SectionReferenceType -->
	<xs:complexType name="SLC-GradebookEntry">
		<xs:annotation>
			<xs:documentation>This entity represents a teacher’s assignment, homework, or classroom assessment to be recorded in a gradebook.</xs:documentation>
		    <xs:appinfo>
                <sli:recordType>gradebookEntry</sli:recordType>
            </xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="GradebookEntryType" type="GradebookEntryType">
						<xs:annotation>
							<xs:documentation>The type of the gradebook entry; for example, homework, assignment, quiz, unit test, oral presentation, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateAssigned" type="xs:date">
						<xs:annotation>
							<xs:documentation>The date the assignment, homework, or assessment was assigned or executed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="Description" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A description of the assignment, homework, or classroom assessment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LearningStandardReference" type="LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Learning Standard(s) to be taught by the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LearningObjectiveReference" type="LearningObjectiveReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Learning Objectives to be mastered in the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SectionReference" type="SLC-SectionReferenceType">
						<xs:annotation>
							<xs:documentation>The section associated with the gradebook entry.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GradingPeriodReference" type="GradingPeriodReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the grading period for the gradebook entry</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SLC-TeacherSectionAssociation">
		<xs:annotation>
			<xs:documentation>This association indicates the class sections to which a teacher is assigned to.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TeacherReference" type="StaffReferenceType">
				<xs:annotation>
					<xs:documentation>The teacher assigned to the section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionReference" type="TEMPORARY-SectionReferenceType">
				<xs:annotation>
					<xs:documentation>The section the teacher is assigned to.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassroomPosition" type="ClassroomPositionType">
				<xs:annotation>
					<xs:documentation>The type of position the staff member holds in the specific class/section; for example:
Teacher of Record, Assistant Teacher, Support Teacher, Substitute Teacher...</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeginDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month, day and year of a teacher's assignment to the section.  If blank, defaults to the first day of the first grading period for the section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month, day and year of the last day of a teacher's assignment to the section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HighlyQualifiedTeacher" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An indication of whether a teacher is classified as highly qualified for his/her assignment according to state definition.  This attribute indicates the teacher is highly qualified for this section being taught.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

    <!-- Change SectionReference to SLC type -->
	<xs:complexType name="SLC-StudentSectionAssociationReferenceType">
		<xs:annotation>
			<xs:documentation>Provides alternative references for the Student-section association. Use XML IDREF to reference a program record that is included in the interchange</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="StudentSectionAssociationIdentity" type="SLC-StudentSectionAssociationIdentityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Provide user information to lookup and link to an existing student-section association record in the receiving system</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SLC-StudentSectionAssociationIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the student-section association - a composite of the student reference type and the section reference type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentIdentity" type="StudentIdentityType">
				<xs:annotation>
					<xs:documentation>The attributes that can be used to specify the student.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SectionIdentity" type="SLC-SectionIdentityType">
				<xs:annotation>
					<xs:documentation>The attributes used to specifiy a section</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SLC-Grade">
		<xs:annotation>
			<xs:documentation>This educational entity represents an overall score or assessment tied to a course over a period of time (i.e., the grading period).  Student grades are usually a compilation of marks and other scores.
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="LetterGradeEarned" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A final or interim (grading period) indicator of student performance in a class as submitted by the instructor.
</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="GradeEarned">
								<xs:maxLength value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="NumericGradeEarned" type="xs:integer" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A final or interim (grading period) indicator of student performance in a class as submitted by the instructor.
</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiagnosticStatement" type="text" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A statement provided by the teacher that provides information in addition to the grade or assessment score.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GradeType" type="GradeType">
						<xs:annotation>
							<xs:documentation>The type of grade reported (e.g., Exam, Final, Grading Period). </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PerformanceBaseConversion" type="PerformanceBaseType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A conversion of the level to a standard set of performance levels.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType">
						<xs:annotation>
							<xs:documentation>Association to the student-section association with which the grade is awarded.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GradingPeriodReference" type="GradingPeriodReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the grading period for the grade.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>