sli/ingestion/ingestion-core/src/test/resources/test-schema/SLI-Ed-Fi-Core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/0100" targetNamespace="http://ed-fi.org/0100"
           elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:sli="http://slc-sli/ed-org/0.1">
  <xs:include schemaLocation="Ed-Fi-Core.xsd"/>

  <!-- Make ProgramId a required field -->
  <xs:complexType name="SLI-ProgramRestriction">
    <xs:complexContent>
      <xs:restriction base="Program">
        <xs:sequence>
          <xs:element name="ProgramId" type="ProgramId" />
          <xs:element name="ProgramType" type="ProgramType" />
          <xs:element name="ProgramSponsor" type="ProgramSponsorType" minOccurs="0" />
          <xs:element name="Services" type="ServiceDescriptorType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Add UniqueCourseId -->
  <xs:complexType name="SLI-CourseExtension">
    <xs:complexContent>
      <xs:extension base="Course">
        <xs:sequence>
          <xs:element name="UniqueCourseId" type="SLI-UniqueCourseId" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Make SchoolReference required -->
  <xs:complexType name="SLI-AttendanceEventRestriction">
    <xs:complexContent>
      <xs:restriction base="AttendanceEvent">
        <xs:sequence>
          <xs:element name="EventDate" type="xs:date" />
          <xs:element name="AttendanceEventType" type="AttendanceEventType" minOccurs="0" />
          <xs:element name="AttendanceEventCategory" type="AttendanceEventCategoryType" />
          <xs:element name="AttendanceEventReason" type="AttendanceEventReason" minOccurs="0" />
          <xs:element name="EducationalEnvironment" type="EducationalEnvironmentType" minOccurs="0" />
          <xs:element name="StudentReference" type="StudentReferenceType" />
          <xs:element name="SectionReference" type="SectionReferenceType" minOccurs="0" />
          <xs:element name="SchoolReference" type="EducationalOrgReferenceType" />
          <xs:element name="SessionReference" type="SessionReferenceType" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <!-- Change ObjectiveAssessmentReference to ObjectiveAssessmentReferenceType -->
  <xs:complexType name="SLI-ObjectiveAssessmentRestriction">
    <xs:complexContent>
      <xs:restriction base="ObjectiveAssessment">
        <xs:sequence>
          <xs:element name="IdentificationCode" type="IdentificationCode" />
          <xs:element name="MaxRawScore" type="xs:int" minOccurs="0" />
          <xs:element name="AssessmentPerformanceLevel" type="AssessmentPerformanceLevel" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="PercentOfAssessment" type="percent" minOccurs="0" />
          <xs:element name="Nomenclature" type="Nomenclature" minOccurs="0" />
          <xs:element name="AssessmentItemReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="LearningObjectiveReference" type="LearningObjectiveReferenceType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="LearningStandardReference" type="LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-ObjectiveAssessmentExtension">
    <xs:complexContent>
      <xs:extension base="SLI-ObjectiveAssessmentRestriction">
        <xs:sequence>
          <xs:element name="ObjectiveAssessmentReference" type="ObjectiveAssessmentReferenceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change StudentAssessmentItem.StudentAssessmentReference to StudentAssessmentReferenceType -->
  <xs:complexType name="SLI-StudentAssessmentItemRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentAssessmentItem">
        <xs:sequence>
          <xs:element name="AssessmentResponse" type="AssessmentResponse" minOccurs="0" />
          <xs:element name="ResponseIndicator" type="ResponseIndicatorType" minOccurs="0" />
          <xs:element name="AssessmentItemResult" type="AssessmentItemResultType" />
          <xs:element name="RawScoreResult" type="xs:int" minOccurs="0" />
          <xs:element name="StudentObjectiveAssessmentReference" type="ReferenceType" minOccurs="0" />
          <xs:element name="AssessmentItemReference" type="AssessmentItemReferenceType" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-StudentAssessmentItemExtension">
    <xs:complexContent>
      <xs:extension base="SLI-StudentAssessmentItemRestriction">
        <xs:sequence>
          <xs:element name="StudentAssessmentReference" type="SLI-StudentAssessmentReferenceType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change StudentObjectiveAssessment.StudentAssessmentReference to StudentAssessmentReferenceType -->
  <!--<xs:complexType name="SLI-StudentObjectiveAssessmentRestriction">-->
    <!--<xs:complexContent>-->
      <!--<xs:restriction base="StudentObjectiveAssessment">-->
        <!--<xs:sequence>-->
          <!--<xs:element name="ScoreResults" type="ScoreResult" maxOccurs="unbounded" />-->
          <!--<xs:element name="PerformanceLevels" type="PerformanceLevelDescriptorType" minOccurs="0" maxOccurs="unbounded" />-->
          <!--<xs:element name="ObjectiveAssessmentReference" type="ObjectiveAssessmentReferenceType" />-->
          <!--<xs:element name="StudentAssessmentReference" type="ReferenceType" minOccurs="0" />-->
        <!--</xs:sequence>-->
      <!--</xs:restriction>-->
    <!--</xs:complexContent>-->
  <!--</xs:complexType>-->
  <!--<xs:complexType name="SLI-StudentObjectiveAssessmentRestriction2">-->
    <!--<xs:complexContent>-->
      <!--<xs:restriction base="SLI-StudentObjectiveAssessmentRestriction">-->
        <!--<xs:sequence>-->
          <!--<xs:element name="ScoreResults" type="ScoreResult" maxOccurs="unbounded" />-->
          <!--<xs:element name="PerformanceLevels" type="PerformanceLevelDescriptorType" minOccurs="0" maxOccurs="unbounded" />-->
          <!--<xs:element name="ObjectiveAssessmentReference" type="ObjectiveAssessmentReferenceType" />-->
        <!--</xs:sequence>-->
      <!--</xs:restriction>-->
    <!--</xs:complexContent>-->
  <!--</xs:complexType>-->
  <!--<xs:complexType name="SLI-StudentObjectiveAssessmentExtension">-->
    <!--<xs:complexContent>-->
      <!--<xs:extension base="SLI-StudentObjectiveAssessmentRestriction2">-->
        <!--<xs:sequence>-->
          <!--<xs:element name="StudentAssessmentReference" type="SLI-StudentAssessmentReferenceType" />-->
        <!--</xs:sequence>-->
      <!--</xs:extension>-->
    <!--</xs:complexContent>-->
  <!--</xs:complexType>-->

  <!-- Change StudentAcademicRecord.ReportCardReference to ReportCardReferenceType -->
  <xs:complexType name="SLI-StudentAcademicRecordRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentAcademicRecord">
        <xs:sequence>
          <xs:element name="CumulativeCreditsEarned" type="Credits" minOccurs="0" />
          <xs:element name="CumulativeCreditsAttempted" type="Credits" minOccurs="0" />
          <xs:element name="CumulativeGradePointsEarned" type="xs:decimal" minOccurs="0" />
          <xs:element name="CumulativeGradePointAverage" type="xs:decimal" minOccurs="0" />
          <xs:element name="GradeValueQualifier" type="GradeValueQualifier" minOccurs="0" />
          <xs:element name="ClassRanking" type="ClassRanking" minOccurs="0" />
          <xs:element name="AcademicHonors" type="AcademicHonor" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="Recognitions" type="Recognition" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="ProjectedGraduationDate" type="xs:date" minOccurs="0" />
          <xs:element name="SessionCreditsEarned" type="Credits" minOccurs="0" />
          <xs:element name="SessionCreditsAttempted" type="Credits" minOccurs="0" />
          <xs:element name="SessionGradePointsEarned" type="xs:decimal" minOccurs="0" />
          <xs:element name="SessionGradePointAverage" type="xs:decimal" minOccurs="0" />
          <xs:element name="StudentReference" type="StudentReferenceType" />
          <xs:element name="SessionReference" type="SessionReferenceType" />
          <xs:element name="DiplomaReference" type="ReferenceType" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-StudentAcademicRecordExtension">
    <xs:complexContent>
      <xs:extension base="SLI-StudentAcademicRecordRestriction">
        <xs:sequence>
          <xs:element name="ReportCardReference" type="SLI-ReportCardReferenceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

   <!--Make StudentSectionAssociationReference required -->
  <xs:complexType name="SLI-StudentCompetencyRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentCompetency">
        <xs:sequence>
          <xs:choice>
            <xs:element name="LearningObjectiveReference" type="LearningObjectiveReferenceType" />
            <xs:element name="StudentCompetencyObjectiveReference" type="StudentCompetencyObjectiveReferenceType" />
          </xs:choice>
          <xs:element name="CompetencyLevel" type="CompetencyLevelDescriptorType" />
          <xs:element name="DiagnosticStatement" type="text" minOccurs="0" />
          <xs:element name="StudentSectionAssociationReference" type="StudentSectionAssociationReferenceType" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Make StudentCompetencyObjectiveId required -->
  <xs:complexType name="SLI-StudentCompetencyObjectiveRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentCompetencyObjective">
        <xs:sequence>
          <xs:element name="StudentCompetencyObjectiveId" type="IdentificationCode" />
          <xs:element name="Objective" type="Objective" />
          <xs:element name="Description" type="Description" minOccurs="0" />
          <xs:element name="ObjectiveGradeLevel" type="GradeLevelType" />
          <xs:element name="EducationOrganizationReference" type="EducationalOrgReferenceType" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Limit StaffReference and CohortReference to 1 -->
  <xs:complexType name="SLI-StaffCohortAssociationRestriction">
    <xs:complexContent>
      <xs:restriction base="StaffCohortAssociation">
        <xs:sequence>
          <xs:element name="StaffReference" type="StaffReferenceType" />
          <xs:element name="CohortReference" type="CohortReferenceType" />
          <xs:element name="BeginDate" type="xs:date" />
          <xs:element name="EndDate" type="xs:date" minOccurs="0" />
          <xs:element name="StudentRecordAccess" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Limit StaffReference and ProgramReference to 1 -->
  <xs:complexType name="SLI-StaffProgramRestriction">
    <xs:complexContent>
      <xs:restriction base="StaffProgramAssociation">
        <xs:sequence>
          <xs:element name="StaffReference" type="StaffReferenceType" />
          <xs:element name="ProgramReference" type="ProgramReferenceType" />
          <xs:element name="BeginDate" type="xs:date" />
          <xs:element name="EndDate" type="xs:date" minOccurs="0" />
          <xs:element name="StudentRecordAccess" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Make BeginDate required field on StudentSectionAssociation -->
  <xs:complexType name="SLI-StudentSectionAssociationRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentSectionAssociation">
        <xs:sequence>
          <xs:element name="StudentReference" type="StudentReferenceType" />
          <xs:element name="SectionReference" type="SectionReferenceType" />
          <xs:element name="BeginDate" type="xs:date" />
          <xs:element name="EndDate" type="xs:date" minOccurs="0" />
          <xs:element name="HomeroomIndicator" type="xs:boolean" minOccurs="0" />
          <xs:element name="RepeatIdentifier" type="RepeatIdentifierType" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Limit SchoolReference to 1 on TeacherSchoolAssociation -->
  <xs:complexType name="SLI-TeacherSchoolAssociationRestriction">
    <xs:complexContent>
      <xs:restriction base="TeacherSchoolAssociation">
        <xs:sequence>
          <xs:element name="TeacherReference" type="StaffReferenceType" />
          <xs:element name="SchoolReference" type="EducationalOrgReferenceType" />
          <xs:element name="ProgramAssignment" type="ProgramAssignmentType" />
          <xs:element name="InstructionalGradeLevels" type="GradeLevelsType" />
          <xs:element name="AcademicSubjects" type="AcademicSubjectsType" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change type of Assessment.ObjectiveAssessmentReference to ObjectiveAssessmentReferenceType -->
  <xs:complexType name="SLI-AssessmentRestriction">
    <xs:complexContent>
      <xs:restriction base="Assessment">
        <xs:sequence>
          <xs:element name="AssessmentTitle" type="AssessmentTitle" />
          <xs:element name="AssessmentIdentificationCode" type="AssessmentIdentificationCode" maxOccurs="unbounded" />
          <xs:element name="AssessmentCategory" type="AssessmentCategoryType" minOccurs="0" />
          <xs:element name="AcademicSubject" type="AcademicSubjectType" minOccurs="0" />
          <xs:element name="GradeLevelAssessed" type="GradeLevelType" minOccurs="0" />
          <xs:element name="LowestGradeLevelAssessed" type="GradeLevelType" minOccurs="0" />
          <xs:element name="AssessmentPerformanceLevel" type="AssessmentPerformanceLevel" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="ContentStandard" type="ContentStandardType" minOccurs="0" />
          <xs:element name="AssessmentForm" type="AssessmentForm" minOccurs="0" />
          <xs:element name="Version" type="Version" minOccurs="0" />
          <xs:element name="RevisionDate" type="xs:date" minOccurs="0" />
          <xs:element name="MaxRawScore" type="xs:int" minOccurs="0" />
          <xs:element name="Nomenclature" type="Nomenclature" minOccurs="0" />
          <xs:element name="AssessmentPeriod" type="AssessmentPeriodDescriptorType" minOccurs="0" />
          <xs:element name="AssessmentItemReference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="AssessmentFamilyReference" type="AssessmentFamilyReferenceType" minOccurs="0" />
          <xs:element name="SectionReference" type="SectionReferenceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-AssessmentExtension">
    <xs:complexContent>
      <xs:extension base="SLI-AssessmentRestriction">
        <xs:sequence>
          <xs:element name="ObjectiveAssessmentReference" type="ObjectiveAssessmentReferenceType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Change type of StudentSchoolAssociation.GraduationPlanReference
       to GraduationPlanReference type -->
  <xs:complexType name="SLI-StudentSchoolAssociationRestriction">
    <xs:complexContent>
      <xs:restriction base="StudentSchoolAssociation">
        <xs:sequence>
          <xs:element name="StudentReference" type="StudentReferenceType" />
          <xs:element name="SchoolReference" type="EducationalOrgReferenceType" />
          <xs:element name="SchoolYear" type="SchoolYearType" minOccurs="0" />
          <xs:element name="EntryDate" type="xs:date" />
          <xs:element name="EntryGradeLevel" type="GradeLevelType" />
          <xs:element name="EntryType" type="EntryType" minOccurs="0" />
          <xs:element name="RepeatGradeIndicator" type="xs:boolean" minOccurs="0" />
          <xs:element name="ClassOf" type="SchoolYearType" minOccurs="0" />
          <xs:element name="SchoolChoiceTransfer" type="xs:boolean" minOccurs="0" />
          <xs:element name="ExitWithdrawDate" type="xs:date" minOccurs="0" />
          <xs:element name="ExitWithdrawType" type="ExitWithdrawType" minOccurs="0" />
          <xs:element name="EducationalPlans" type="EducationalPlansType" minOccurs="0" />
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-StudentSchoolAssociationExtension">
    <xs:complexContent>
      <xs:extension base="SLI-StudentSchoolAssociationRestriction">
        <xs:sequence>
          <xs:element name="GraduationPlanReference" type="SLI-GraduationPlanReferenceType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="SLI-UniqueCourseId">
    <xs:annotation>
      <xs:documentation>A unique number or alphanumeric code assigned to a course by a school, school system, a state, or other agency or entity.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="60"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SLI-GraduationPlanReferenceType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="GraduationPlanIdentity" type="SLI-GraduationPlanIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-GradebookEntryReferenceType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="GradebookEntryIdentity" type="SLI-GradebookEntryIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-GraduationPlanIdentityType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GraduationPlanType" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotalCreditsRequired" type="Credits" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SLI-GradebookEntryIdentityType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GradebookEntryType" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateAssigned" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
      <xs:element name="SectionReference" type="SectionReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SLI-ReportCardReferenceType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="ReportCardIdentity" type="SLI-ReportCardIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-ReportCardIdentityType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StudentReference" type="StudentReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GradingPeriodReference" type="GradingPeriodReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SLI-StudentAssessmentReferenceType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StudentAssessmentIdentity" type="SLI-StudentAssessmentIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SLI-StudentAssessmentIdentityType">
    <xs:annotation>
      <xs:documentation></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrationDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StudentReference" type="StudentReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AssessmentReference" type="AssessmentReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

	<xs:complexType name="SLC-SectionReferenceType">
		<xs:annotation>
			<xs:documentation>Provides alternative references for section. Use XML IDREF to reference a section record that is included in the interchange</xs:documentation>
		    <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>section</sli:refType>
            </xs:appinfo>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="SectionIdentity" type="SLC-SectionIdentityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Provide user information to lookup and link to an existing section record in the receiving system.  Two cases are supported:
1. SchoolOrganizationID + UniqueSectionCode
2. SchoolOrganizationID + 
      Course (StateCourseCode OR LocalCourseCode) +
      Term + ClassPeriod + Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Make an all new SectionIdentityType in the desired shape -->
	<xs:complexType name="SLC-SectionIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the identity of sections at a school. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
				<xs:annotation>
					<xs:documentation>The education agency.
</xs:documentation>
					<xs:appinfo>
                        <sli:keyFieldName>schoolId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="UniqueSectionCode" type="UniqueSectionCode">
				<xs:annotation>
					<xs:documentation>A unique identifier for the section that is defined by the classroom, the subjects taught, and the instructors that are assigned.</xs:documentation>
					<xs:appinfo>
						<sli:keyFieldName>uniqueSectionCode</sli:keyFieldName>
					</xs:appinfo>
                </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SLC-EducationalOrgReferenceType">
		<xs:annotation>
			<xs:documentation>Provides alternative references for Educational Organization (ESC, LEA, school) reference during interchange. Use XML IDREF to reference an educational organization record that is included in the interchange</xs:documentation>
		    <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>educationOrganization</sli:refType>
            </xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:sequence>
					<xs:element name="EducationalOrgIdentity" type="SLC-EducationalOrgIdentityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Provide user information to lookup and link to an existing educational organization record in the receiving system</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  	<xs:complexType name="SLC-EducationalOrgIdentityType">
		<xs:annotation>
			<xs:documentation>Encapsulates the possible attributes that can be used to lookup the identity of educational organizations, especially ESCs, LEAs (districts), and schools.</xs:documentation>
		</xs:annotation>
			<xs:sequence>
				<xs:element name="StateOrganizationId" type="IdentificationCode">
				<xs:annotation>
					<xs:documentation>The identifier assigned to an education agency by the State Education Agency (SEA).  Also known as the State LEA ID.
</xs:documentation>
					<xs:appinfo>
						<sli:keyFieldName>stateOrganizationId</sli:keyFieldName>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Change to use the internal SectionReferenceType -->
	<xs:complexType name="SLC-GradebookEntry">
		<xs:annotation>
			<xs:documentation>This entity represents a teacher’s assignment, homework, or classroom assessment to be recorded in a gradebook.</xs:documentation>
		    <xs:appinfo>
                <sli:recordType>gradebookEntry</sli:recordType>
            </xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ComplexObjectType">
				<xs:sequence>
					<xs:element name="GradebookEntryType" type="GradebookEntryType">
						<xs:annotation>
							<xs:documentation>The type of the gradebook entry; for example, homework, assignment, quiz, unit test, oral presentation, etc.  </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateAssigned" type="xs:date">
						<xs:annotation>
							<xs:documentation>The date the assignment, homework, or assessment was assigned or executed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="Description" minOccurs="0">
						<xs:annotation>
							<xs:documentation>A description of the assignment, homework, or classroom assessment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LearningStandardReference" type="LearningStandardReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Learning Standard(s) to be taught by the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LearningObjectiveReference" type="LearningObjectiveReferenceType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Learning Objectives to be mastered in the course.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SectionReference" type="SLC-SectionReferenceType">
						<xs:annotation>
							<xs:documentation>The section associated with the gradebook entry.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GradingPeriodReference" type="GradingPeriodReferenceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifies the grading period for the gradebook entry</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
    <xs:complexType name="SLC-LearningObjective">
        <xs:annotation>
            <xs:documentation>Learning objective record with key fields: Objective, AcademicSubject and ObjectiveGradeLevel. LocalChanged type of LearningStandardReference and LearningObjectiveReference to SLC reference types.</xs:documentation>
            <xs:appinfo>
                <sli:recordType>learningObjective</sli:recordType>
                <sli:naturalKeys>Objective,AcademicSubject,ObjectiveGradeLevel</sli:naturalKeys>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ComplexObjectType">
                <xs:sequence>
                    <xs:element name="LearningObjectiveId" type="LearningStandardId" minOccurs="0"/>
                    <xs:element name="Objective" type="Objective"/>
                    <xs:element name="Description" type="Description" minOccurs="0"/>
                    <xs:element name="AcademicSubject" type="AcademicSubjectType"/>
                    <xs:element name="ObjectiveGradeLevel" type="GradeLevelType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
        <xs:complexType name="SLC-LocalEducationAgency">
        <xs:annotation>
            <xs:documentation>LocalEducationAgency record with key field: StateOrganizationId. Changed type of LocalEducationAgencyReference, EducationServiceCenterReference and StateEducationAgencyReference to SLC reference types.</xs:documentation>
            <xs:appinfo>
                <sli:recordType>localEducationAgency</sli:recordType>
                <sli:naturalKeys>StateOrganizationId</sli:naturalKeys>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="SLC-EducationOrganization">
                <xs:sequence>
                    <xs:element name="LEACategory" type="LEACategoryType"/>
                    <xs:element name="CharterStatus" type="CharterStatusType" minOccurs="0"/>
                    <xs:element name="LocalEducationAgencyReference" type="SLC-EducationalOrgReferenceType" minOccurs="0"/>
                    <xs:element name="EducationServiceCenterReference" type="SLC-EducationalOrgReferenceType" minOccurs="0"/>
                    <xs:element name="StateEducationAgencyReference" type="SLC-EducationalOrgReferenceType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLC-EducationOrganization" abstract="true">
        <xs:annotation>
            <xs:documentation>EducationOrganization record with key field: StateOrganizationId. Changed types of ProgramReference and EducationOrganizationPeerReference to SLC reference types.</xs:documentation>
            <xs:appinfo>
                <sli:recordType>educationOrganization</sli:recordType>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ComplexObjectType">
                <xs:sequence>
                    <xs:element name="StateOrganizationId" type="IdentificationCode"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLC-StudentCompetency">
        <xs:annotation>
            <xs:documentation>StudentCompetency record with key fields: LearningObjectiveReference (Objective, AcademicSubject, ObjectiveGradeLevel), StudentCompetencyObjectiveReference (StudentCompetencyObjectiveId), CompetencyLevel (CodeValue) and StudentSectionAssociationReference (StudentUniqueStateId, StateOrganizationId, UniqueSectionCode, BeginDate). Made StudentSectionAssociationReference required. Changed types of LearningObjectiveReference, StudentCompetencyObjectiveReference and StudentSectionAssociationReference to SLC reference types.</xs:documentation>
            <xs:appinfo>
                <sli:recordType>studentCompetency</sli:recordType>
                <sli:naturalKeys>StudentSectionAssociationReference,CompetencyLevel.CodeValue,StudentCompetencyObjectiveReference,LearningObjectiveReference</sli:naturalKeys>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ComplexObjectType">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="LearningObjectiveReference" type="SLC-LearningObjectiveReferenceType"/>
                        <xs:element name="StudentCompetencyObjectiveReference" type="SLC-StudentCompetencyObjectiveReferenceType"/>
                    </xs:choice>
                    <xs:element name="CompetencyLevel" type="CompetencyLevelDescriptorType"/>
                    <xs:element name="DiagnosticStatement" type="text" minOccurs="0"/>
                    <xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLC-LearningObjectiveIdentityType">
        <xs:annotation>
            <xs:documentation>Changed to include AcademicSubject and ObjectiveGradeLevel. Removed LearningObjectiveId.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Objective" type="Objective">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>objective</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcademicSubject" type="AcademicSubjectType">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>academicSubject</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ObjectiveGradeLevel" type="GradeLevelType">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>objectiveGradeLevel</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-LearningObjectiveReferenceType">
        <xs:annotation>
            <xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
            <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>learningObjective</sli:refType>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LearningObjectiveIdentity" type="SLC-LearningObjectiveIdentityType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-StudentCompetencyObjectiveIdentityType">
        <xs:annotation>
            <xs:documentation>Changed to contain only a single StudentCompetencyObjectiveId.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StudentCompetencyObjectiveId" type="IdentificationCode">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>studentCompetencyObjectiveId</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-StudentCompetencyObjectiveReferenceType">
        <xs:annotation>
            <xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
            <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>studentCompetencyObjective</sli:refType>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StudentCompetencyObjectiveIdentity" type="SLC-StudentCompetencyObjectiveIdentityType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-StudentSectionAssociationIdentityType">
        <xs:annotation>
            <xs:documentation>Changed to use embedded an StudentReference and SectionReference rather than IdentityTypes, and added required BeginDate.</xs:documentation>
            <xs:appinfo>
                <sli:keyFieldName>studentSectionAssociationId</sli:keyFieldName>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StudentReference" type="SLC-StudentReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>studentId</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="SectionReference" type="SLC-SectionReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>sectionId</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="BeginDate" type="xs:date">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>beginDate</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-StudentSectionAssociationReferenceType">
        <xs:annotation>
            <xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
            <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>studentSectionAssociation</sli:refType>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StudentSectionAssociationIdentity" type="SLC-StudentSectionAssociationIdentityType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-StudentReferenceType">
        <xs:annotation>
            <xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
            <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>student</sli:refType>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StudentIdentity" type="SLC-StudentIdentityType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-StudentIdentityType">
        <xs:annotation>
            <xs:documentation>Changed to contain only a required StudentUniqueStateId.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StudentUniqueStateId" type="UniqueStateIdentifier">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>studentUniqueStateId</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-AttendanceEvent">
        <xs:annotation>
            <xs:documentation>AttendanceEvent record with key fields: StudentReference (StudentUniqueStateId), SchoolReference (StateOrganizationId) and EventDate. Made SchoolReference required. Changed types of StudentReference, SchoolReference, SessionReference and SectionReference to SLC reference types.</xs:documentation>
            <xs:appinfo>
                <sli:recordType>attendance</sli:recordType>
                <sli:naturalKeys>StudentReference,StateOrganizationId,EventDate,AttendanceEventCategory</sli:naturalKeys>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ComplexObjectType">
                <xs:sequence>
                    <xs:element name="EventDate" type="xs:date"/>
                    <xs:element name="AttendanceEventType" type="AttendanceEventType" minOccurs="0"/>
                    <xs:element name="AttendanceEventCategory" type="AttendanceEventCategoryType"/>
                    <xs:element name="AttendanceEventReason" type="AttendanceEventReason" minOccurs="0"/>
                    <xs:element name="EducationalEnvironment" type="EducationalEnvironmentType" minOccurs="0"/>
                    <xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
                    <xs:element name="SchoolReference" type="SLC-EducationalOrgReferenceType"/>
                    <xs:element name="SectionReference" type="SLC-SectionReferenceType" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLC-ReportCard">
        <xs:annotation>
            <xs:documentation>ReportCard record with key fields: StudentReference (StudentUniqueStateId) and GradingPeriodReference (StateOrganizationId, GradingPeriod, BeginDate). Changed type of StudentCompetencyReference, StudentReference and GradingPeriodReference to SLC reference types.</xs:documentation>
            <xs:appinfo>
                <sli:recordType>reportCard</sli:recordType>
                <sli:naturalKeys>StudentReference,GradingPeriodReference</sli:naturalKeys>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ComplexObjectType">
                <xs:sequence>
                    <xs:element name="GradeReference" type="SLC-GradeReferenceType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="StudentCompetencyReference" type="SLC-StudentCompetencyReferenceType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="GPAGivenGradingPeriod" type="xs:decimal"/>
                    <xs:element name="GPACumulative" type="xs:decimal"/>
                    <xs:element name="NumberOfDaysAbsent" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minInclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="NumberOfDaysInAttendance" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minInclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="NumberOfDaysTardy" minOccurs="0">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:minInclusive value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="StudentReference" type="SLC-StudentReferenceType"/>
                    <xs:element name="GradingPeriodReference" type="SLC-GradingPeriodReferenceType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SLC-GradeIdentityType">
        <xs:annotation>
            <xs:documentation>New SLC identity type for Grade. Contains an embedded StudentSectionAssociationReference and an optional embedded GradingPeriodReference.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>studentSectionAssociationId</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="GradingPeriodReference" type="SLC-GradingPeriodReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>gradingPeriodId</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-GradeReferenceType">
        <xs:annotation>
            <xs:documentation>New SLC natural reference type for Grade.</xs:documentation>
            <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>grade</sli:refType>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GradeIdentity" type="SLC-GradeIdentityType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-GradingPeriodIdentityType">
        <xs:annotation>
            <xs:documentation>Changed to include BeginDate and an embedded EducationalOrgReference. Removed SchoolYear.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EducationalOrgReference" type="SLC-EducationalOrgReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>schoolId</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="GradingPeriod" type="GradingPeriodType">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>gradingPeriod</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="BeginDate" type="xs:date">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>beginDate</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-GradingPeriodReferenceType">
        <xs:annotation>
            <xs:documentation>Changed to use a required SLC identity type.</xs:documentation>
            <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>gradingPeriod</sli:refType>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GradingPeriodIdentity" type="SLC-GradingPeriodIdentityType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-StudentCompetencyReferenceType">
        <xs:annotation>
            <xs:documentation>New SLC natural reference type for StudentCompetency.</xs:documentation>
            <xs:appinfo>
                <sli:applyKeyFields>true</sli:applyKeyFields>
                <sli:refType>studentCompetency</sli:refType>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StudentCompetencyIdentity" type="SLC-StudentCompetencyIdentityType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-StudentCompetencyIdentityType">
        <xs:annotation>
            <xs:documentation>New SLC identity type for StudentCompetency. Contains an embedded LearningObjectiveReference, an embedded StudentCompetencyObjectiveReference, CodeValue and an embedded StudentSectionAssociationReference.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="LearningObjectiveReference" type="SLC-LearningObjectiveReferenceType">
                    <xs:annotation>
                        <xs:appinfo>
                            <sli:keyFieldName>objectiveId.learningObjectiveId</sli:keyFieldName>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="StudentCompetencyObjectiveReference" type="SLC-StudentCompetencyObjectiveReferenceType">
                    <xs:annotation>
                        <xs:appinfo>
                            <sli:keyFieldName>objectiveId.studentCompetencyObjectiveId</sli:keyFieldName>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="CodeValue" type="CodeValue" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>competencyLevel.codeValue</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="StudentSectionAssociationReference" type="SLC-StudentSectionAssociationReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <sli:keyFieldName>studentSectionAssociationId</sli:keyFieldName>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SLC-Program">
        <xs:annotation>
            <xs:documentation>Program record with key field: ProgramId. Made ProgramId a required field.</xs:documentation>
            <xs:appinfo>
                <sli:recordType>program</sli:recordType>
                <sli:naturalKeys>ProgramId</sli:naturalKeys>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="Program">
                <xs:sequence>
                    <xs:element name="ProgramId" type="ProgramId"/>
                    <xs:element name="ProgramType" type="ProgramType"/>
                    <xs:element name="ProgramSponsor" type="ProgramSponsorType" minOccurs="0"/>
                    <xs:element name="Services" type="ServiceDescriptorType" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>